@use "sass:list";
@use "../grommet-core/settings.color" as settings2;
@use "../grommet-core/settings.defaults";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}button {

  &:not(.#{settings.$grommet-namespace}button--disabled):not(.#{settings.$grommet-namespace}button--plain):not(.#{settings.$grommet-namespace}button--fill) {

    background-color: settings2.$brand-color;
    color: list.nth(settings2.$brand-accent-colors, 1);
    font-weight: bold;

    &.#{settings.$grommet-namespace}button--primary {
      background-color: list.nth(settings2.$brand-accent-colors, 1);
      border-color: list.nth(settings2.$brand-accent-colors, 1);
      color: settings2.$brand-color;
    }

    &.#{settings.$grommet-namespace}button--secondary {
      background-color: settings2.$brand-color;
      color: list.nth(settings2.$brand-accent-colors, 1);
    }

    &.#{settings.$grommet-namespace}button--accent {
      background-color: transparent;
      color: settings2.$brand-color;
    }

    &.#{settings.$grommet-namespace}button--critical {
      background-color: transparent;
      color: settings2.$brand-color;
    }

    #{settings2.$dark-background-context} {
      background-color: settings2.$background-color;
      color: settings2.$brand-color;
      font-weight: bold;

      &.#{settings.$grommet-namespace}button--primary {
        background-color: list.nth(settings2.$brand-accent-colors, 1);
        border-color: list.nth(settings2.$brand-accent-colors, 1);
        color: settings2.$brand-color;
      }

      &.#{settings.$grommet-namespace}button--secondary {
        background-color: settings2.$background-color;
        color: settings2.$brand-color;
      }
    }

    #{settings2.$light-background-context} {
      background-color: settings2.$brand-color;
      color: list.nth(settings2.$brand-accent-colors, 1);
      font-weight: bold;

      &.#{settings.$grommet-namespace}button--primary {
        background-color: list.nth(settings2.$brand-accent-colors, 1);
        border-color: list.nth(settings2.$brand-accent-colors, 1);
        color: settings2.$brand-color;
      }

      &.#{settings.$grommet-namespace}button--secondary {
        background-color: settings2.$brand-color;
        color: list.nth(settings2.$brand-accent-colors, 1);
      }
    }
  }
}
