@use "../grommet-core/settings.color" as settings2;
@use "../grommet-core/settings.defaults";
@use "../grommet-core/tools.functions" as tools2;
@use "../grommet-core/tools.input";
@use "../grommet-core/tools.responsive" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}button {
  letter-spacing: 0.04167em;

  &:not(.#{settings.$grommet-namespace}button--disabled):not(.#{settings.$grommet-namespace}button--plain):not(.#{settings.$grommet-namespace}button--fill) {

    &:hover {
      box-shadow: 0px 0px 0px 2px settings2.$button-border-color;
    }

    &.#{settings.$grommet-namespace}button--primary {
      &:hover {
        box-shadow: 0px 0px 0px 2px settings2.$brand-color;
      }
    }

    &.#{settings.$grommet-namespace}button--secondary {
      &:hover {
        box-shadow: 0px 0px 0px 2px settings2.$button-secondary-color;
      }
    }

    &.#{settings.$grommet-namespace}button--accent {
      &:hover {
        box-shadow: 0px 0px 0px 2px settings2.$button-accent-color;
      }
    }

    &.#{settings.$grommet-namespace}button--critical {
      &:hover {
        box-shadow: 0px 0px 0px 2px settings2.$button-critical-color;
      }
    }

    #{settings2.$dark-background-context} {

      &:hover {
        box-shadow: 0px 0px 0px 2px settings2.$button-colored-border-color;
      }

      &.#{settings.$grommet-namespace}button--primary {
        &:hover {
          box-shadow: 0px 0px 0px 2px settings2.$brand-color;
        }
      }

      &.#{settings.$grommet-namespace}button--secondary {
        border-color: settings2.$colored-text-color;

        &:hover {
          box-shadow: 0px 0px 0px 2px settings2.$colored-text-color;
        }
      }

      &.#{settings.$grommet-namespace}button--accent {
        &:hover {
          box-shadow: 0px 0px 0px 2px settings2.$button-accent-color;
        }
      }

      &.#{settings.$grommet-namespace}button--critical {
        border-color: settings2.$button-critical-color;

        &:hover {
          box-shadow: 0px 0px 0px 2px settings2.$button-critical-color;
        }
      }
    }

    #{settings2.$light-background-context} {
      &.#{settings.$grommet-namespace}button--secondary {
        border-color: settings2.$button-secondary-color;

        &:hover {
          box-shadow: 0px 0px 0px 2px settings2.$button-secondary-color;
        }
      }
    }
  }

  &--fill:not(.#{settings.$grommet-namespace}button--disabled):not(.#{settings.$grommet-namespace}button--plain) {
    &:hover {
      padding: (tools.$button-vertical-padding - (settings.$button-border-width))
        (tools.$button-horizontal-padding - (settings.$button-border-width));
      border-width: tools2.double(settings.$button-border-width);
    }

    @include tools3.media-query(lap-and-up) {
      transition: none;
    }
  }
}
