@use "sass:list";
@use "../grommet-core/settings.color";
@use "../grommet-core/settings.defaults" as settings2;

@use "sass:color";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

settings.$button-accent-color: list.nth(settings.$brand-accent-colors, 1);
$hover-darken: 15%;
$active-darken: 20%;

.#{settings2.$grommet-namespace}button {

  &--accent {
    background-color: settings.$button-accent-color;
    color: settings.$colored-text-color;
  }

  &:not(.#{settings2.$grommet-namespace}button--disabled) {

    &:hover {
      border-color: color.adjust(settings.$brand-color, $lightness: -$hover-darken, $space: hsl);
    }

    &:active {
      border-color: color.adjust(settings.$brand-color, $lightness: -$active-darken, $space: hsl);
    }

    &.#{settings2.$grommet-namespace}button--primary {

      &:hover {
        border-color: color.adjust(settings.$brand-color, $lightness: -$hover-darken, $space: hsl);
        background-color: color.adjust(settings.$brand-color, $lightness: -$hover-darken, $space: hsl);
      }

      &:active {
        border-color: color.adjust(settings.$brand-color, $lightness: -$active-darken, $space: hsl);
        background-color: color.adjust(settings.$brand-color, $lightness: -$active-darken, $space: hsl);
      }
    }

    &.#{settings2.$grommet-namespace}button--secondary {

      &:hover {
        border-color: color.adjust(settings.$button-secondary-color, $lightness: -$hover-darken, $space: hsl);
      }

      &:active {
        border-color: color.adjust(settings.$button-secondary-color, $lightness: -$active-darken, $space: hsl);
      }
    }

    &.#{settings2.$grommet-namespace}button--critical {

      &:hover {
        border-color: color.adjust(settings.$button-critical-color, $lightness: -$hover-darken, $space: hsl);
      }

      &:active {
        border-color: color.adjust(settings.$button-critical-color, $lightness: -$active-darken, $space: hsl);
      }
    }

    &.#{settings2.$grommet-namespace}button--accent {

      &:hover {
        border-color: color.adjust(settings.$button-accent-color, $lightness: -$hover-darken, $space: hsl);
        background-color: color.adjust(settings.$button-accent-color, $lightness: -$hover-darken, $space: hsl);
      }

      &:active {
        border-color: color.adjust(settings.$button-accent-color, $lightness: -$active-darken, $space: hsl);
        background-color: color.adjust(settings.$button-accent-color, $lightness: -$active-darken, $space: hsl);
      }
    }

    #{settings.$dark-background-context} {

      &:hover {
        border-color: color.adjust(settings.$button-colored-border-color, $lightness: -$hover-darken, $space: hsl);
      }

      &.#{settings2.$grommet-namespace}button--primary {
        &:hover {
          border-color: color.adjust(settings.$brand-color, $lightness: -$hover-darken, $space: hsl);
          background-color: color.adjust(settings.$brand-color, $lightness: -$hover-darken, $space: hsl);
        }
      }

      &.#{settings2.$grommet-namespace}button--accent {
        &:hover {
          border-color: color.adjust(settings.$button-accent-color, $lightness: -$hover-darken, $space: hsl);
        }
      }

      &.#{settings2.$grommet-namespace}button--critical {
        &:hover {
          border-color: color.adjust(settings.$button-critical-color, $lightness: -$hover-darken, $space: hsl);
        }
      }
    }
  }
}
