@use "sass:list";
@use "../grommet-core/settings.color";
@use "../grommet-core/settings.defaults" as settings2;
@use "../grommet-core/tools.functions" as tools2;
@use "../grommet-core/tools.input";
@use "../grommet-core/tools.responsive" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

settings.$button-accent-color: list.nth(settings.$brand-accent-colors, 1);
$hover-darken: 15%;
$active-darken: 20%;

@mixin light-shadows() {
  &:hover {
    box-shadow: 0px 0px 0px 2px settings.$button-border-color;
  }

  &.#{settings2.$grommet-namespace}button--primary {
    &:hover {
      box-shadow: 0px 0px 0px 2px settings.$brand-color;
    }
  }

  &.#{settings2.$grommet-namespace}button--secondary {
    &:hover {
      box-shadow: 0px 0px 0px 2px settings.$button-secondary-color;
    }
  }

  &.#{settings2.$grommet-namespace}button--accent {
    &:hover {
      box-shadow: 0px 0px 0px 2px settings.$button-accent-color;
    }
  }

  &.#{settings2.$grommet-namespace}button--critical {
    &:hover {
      box-shadow: 0px 0px 0px 2px settings.$button-critical-color;
    }
  }
}

.#{settings2.$grommet-namespace}button {
  border-radius: 5px;

  &:not(.#{settings2.$grommet-namespace}button--disabled):not(.#{settings2.$grommet-namespace}button--plain):not(.#{settings2.$grommet-namespace}button--fill) {

    @include light-shadows();

    #{settings.$dark-background-context} {

      &:hover {
        box-shadow: 0px 0px 0px 2px settings.$button-colored-border-color;
      }

      &.#{settings2.$grommet-namespace}button--primary {
        &:hover {
          box-shadow: 0px 0px 0px 2px settings.$brand-color;
        }
      }

      &.#{settings2.$grommet-namespace}button--secondary {
        &:hover {
          box-shadow: 0px 0px 0px 2px settings.$button-secondary-color;
        }
      }

      &.#{settings2.$grommet-namespace}button--accent {
        &:hover {
          box-shadow: 0px 0px 0px 2px settings.$button-accent-color;
        }
      }

      &.#{settings2.$grommet-namespace}button--critical {
        border-color: settings.$button-critical-color;

        &:hover {
          box-shadow: 0px 0px 0px 2px settings.$button-critical-color;
        }
      }
    }

    #{settings.$light-background-context} {
      @include light-shadows();
    }
  }

  &--fill:not(.#{settings2.$grommet-namespace}button--disabled):not(.#{settings2.$grommet-namespace}button--plain) {
    &:hover {
      padding: (tools.$button-vertical-padding - (settings2.$button-border-width))
        (tools.$button-horizontal-padding - (settings2.$button-border-width));
      border-width: tools2.double(settings2.$button-border-width);
    }

    @include tools3.media-query(lap-and-up) {
      transition: none;
    }
  }
}

.#{settings2.$grommet-namespace}tab__button {
  border-radius: 0;
}
