@use 'vanilla.defaults' as defaults;
@use '../grommet-core/settings.font' as settingsFont with (
  $brand-font-family: defaults.$brand-font-family,
  $brand-large-number-font-family: defaults.$brand-large-number-font-family,
  $code-font-family: defaults.$code-font-family,
  $text-strong-font-weight: defaults.$text-strong-font-weight
);
@use '../grommet-core/settings.color' as settingsColor with (
  $brand-color: defaults.$brand-color,
  $brand-neutral-colors: defaults.$brand-neutral-colors,
  $brand-accent-colors: defaults.$brand-accent-colors,
  $brand-link-color: defaults.$brand-link-color,
  $brand-status-colors: defaults.$brand-status-colors,
  $brand-grey-colors: defaults.$brand-grey-colors,
  $button-secondary-color: defaults.$button-secondary-color
);
@use '../grommet-core/index';
@use 'objects.button-vanilla';
