@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.color-index" as tools2;
@use "tools.functions" as tools5;
@use "tools.input" as tools4;
@use "tools.mixins" as tools3;
@use "tools.text";

// (C) Copyright 2014-2018 Hewlett Packard Enterprise Development LP

$do-not-style-plain-inputs: false !default;
$do-not-style-plain-buttons: false !default;

@mixin range-track {
  width: 100%;
  height: settings.$control-border-width;
  background-color: settings2.$control-background-color;
}

@mixin range-thumb {
  position: relative;
  height: settings.$control-size;
  width: settings.$control-size;
  overflow: visible;
}

.grommet a:not(.#{settings.$grommet-namespace}anchor):not(.#{settings.$grommet-namespace}button) {
  @include tools.anchor-style;
}

a:not(.#{settings.$grommet-namespace}anchor):not(.#{settings.$grommet-namespace}button) {
  @include tools2.background-context-color(settings2.$link-color, settings2.$link-hover-color);
}

.grommet {
  @if ($do-not-style-plain-inputs) {
    input:not(.#{settings.$grommet-namespace}input):not(.#{settings.$grommet-namespace}check-box__input).grommet-like-input,
    select.grommet-like-input,
    textarea.grommet-like-input {
      @include tools3.inuit-font-size(settings.$inuit-base-font-size);
      @include tools4.input();
    }
  } @else {
    input:not(.#{settings.$grommet-namespace}input):not(.#{settings.$grommet-namespace}check-box__input),
    select,
    textarea {
      @include tools3.inuit-font-size(settings.$inuit-base-font-size);
      @include tools4.input();
    }
  }

  @if ($do-not-style-plain-buttons) {
    input[type="button"].grommet-like-input,
    input[type="submit"].grommet-like-input {
      text-align: center;
      line-height: inherit;
    }

    input[type="button"].grommet-like-input,
    input[type="submit"].grommet-like-input,
    button:not(.#{settings.$grommet-namespace}button).grommet-like-input {
      @include tools4.basic-button();

      &:focus {
        border-color: settings2.$focus-border-color;
        box-shadow: 0 0 1px 1px settings2.$focus-border-color;
      }
    }
  } @else {
    input[type="button"],
    input[type="submit"] {
      text-align: center;
      line-height: inherit;
    }

    input[type="button"],
    input[type="submit"],
    button:not(.#{settings.$grommet-namespace}button) {
      @include tools4.basic-button();

      &:focus {
        border-color: settings2.$focus-border-color;
        box-shadow: 0 0 1px 1px settings2.$focus-border-color;
      }
    }
  }

  a.#{settings.$grommet-namespace}button {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  $small-drop-caret: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOhJREFUSA3tksENgzAMRUmrrlApuTAAxxw6QvfojYmYKtw6QpUDI1Rq6o8MStsAMT1UlbAUcMB+33FcFJttHfifDlhrT7QO31YMBlgDZw8HH5RSF3JLY0zrvX8MAZI3F1gT66y17ohz2zGgDSFc6UdF+5oDJWwUidMDXoFFfgtAfwJUjMppX7KI6CQJeOOcu48CcNaKzMFfBNaILME/BCQiOfCkQI5ILhwshceUpUAcG0/LeKEpzqwAEhIiRTSKs3Dk92MKZ8rep4vgR57zRTiYiwIIikVo29HKgiNXZGgXt0yUtwX/tgNPQqatJ1aBLFMAAAAASUVORK5CYII=);

  select {
    border-color: settings2.$border-color;
    padding-right: tools5.double(settings.$inuit-base-spacing-unit);
    -webkit-appearance: none;
    -moz-appearance: none;
    background: $small-drop-caret no-repeat center right tools5.halve(settings.$inuit-base-spacing-unit);
    cursor: pointer;

    &::-moz-focus-inner {
      border: none;
    }

    &.plain {
      border: none;
    }

    &:focus {
      padding-right: tools5.double(settings.$inuit-base-spacing-unit);
    }
  }

  input[type=range] {
    position: relative;
    -webkit-appearance: none;
    border-color: transparent;
    height: settings.$control-size;
    padding: 0px;
    cursor: pointer;
    overflow-x: hidden;

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      border: none;
    }

    &::-moz-focus-outer {
      border: none;
    }

    &::-webkit-slider-runnable-track {
      @include range-track();
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include range-thumb();
      margin-top: -(math.round(settings.$control-size * 0.45));
      border: settings.$control-border-width solid settings2.$brand-color;
      border-radius: settings.$control-size;
      background-color: settings2.$background-color;
      cursor: pointer;

      &:hover {
        border-color: settings2.$active-icon-color;
      }
    }

    &::-moz-range-track {
      @include range-track();
    }

    &::-moz-range-thumb {
      @include range-thumb();
      // since the :before doesn't work on the thumb, restyle a bit
      border: settings.$control-border-width solid settings2.$brand-color;
      height: settings.$control-size - (settings.$control-border-width * 2);
      width: settings.$control-size - (settings.$control-border-width * 2);
      border-radius: settings.$control-size;
      background-color: settings2.$background-color;
    }

    &:hover::-moz-range-thumb {
      border-color: settings2.$active-icon-color;
    }

    // This isn't working
    //&::-moz-range-thumb:before {
    //	content: "";
    //	position: absolute;
    //	left: -3000px;
    //	right: halve($inuit-base-spacing-unit);
    //	top: quarter($inuit-base-spacing-unit);
    //	bottom: quarter($inuit-base-spacing-unit);
    //	background: $brand-color;
    //}

    &::-ms-track {
      @include range-track();
      //background: transparent;
      border-color: transparent;
      //border-width: 16px 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: settings2.$brand-color;
      border-color: transparent;
    }

    &::-ms-fill-upper {
      background: settings2.$control-background-color;
      border-color: transparent;
    }

    &::-ms-thumb {
      @include range-thumb();
      position: relative;
      top: tools5.quarter(settings.$inuit-base-spacing-unit);
      border: settings.$control-border-width solid settings2.$icon-color;
      height: settings.$control-size - (settings.$control-border-width * 2);
      width: settings.$control-size - (settings.$control-border-width * 2);
      border-radius: settings.$control-size;
      background-color: settings2.$background-color;
    }

    &:hover::-ms-thumb {
      border-color: settings2.$active-icon-color;
    }
  }

  #{settings2.$dark-background} {

    input[type=range] {

      &::-webkit-slider-runnable-track {
        background-color: settings2.$colored-meter-background-color;
      }

      &::-webkit-slider-thumb {
        background-color: settings2.$active-colored-icon-color;
        border: settings.$control-border-width solid settings2.$active-colored-icon-color;
      }

      &::-moz-range-thumb {
        background-color: settings2.$active-colored-icon-color;
        border: settings.$control-border-width solid settings2.$active-colored-icon-color;
      }

      &::-ms-fill-lower {
        background: #fff;
      }

      &::-ms-fill-upper {
        background: settings2.$colored-meter-background-color;
      }

      &::-ms-thumb {
        border-color: settings2.$active-colored-icon-color;
      }

      &:hover::-ms-thumb {
        border-color: settings2.$active-colored-icon-color;
        background-color: settings2.$active-colored-icon-color;
      }
    }
  }

  #{settings2.$light-background} {

    input[type=range] {

      &::-webkit-slider-runnable-track {
        background-color: settings2.$control-background-color;
      }

      &::-webkit-slider-thumb {
        background-color: settings2.$active-icon-color;
        border: settings.$control-border-width solid settings2.$active-icon-color;
      }

      &::-moz-range-thumb {
        background-color: settings2.$active-icon-color;
        border: settings.$control-border-width solid settings2.$active-icon-color;
      }

      &::-ms-fill-lower {
        background: settings2.$brand-color;
      }

      &::-ms-fill-upper {
        background: settings2.$control-background-color;
      }

      &::-ms-thumb {
        border-color: settings2.$icon-color;
      }

      &:hover::-ms-thumb {
        border-color: settings2.$active-icon-color;
        background-color: settings2.$background-color;
      }
    }
  }
}
