@use "objects.meter";
@use "settings.defaults";
@use "tools.responsive";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

// CIRCLE

.#{settings.$grommet-namespace}meter--circle {

  .#{settings.$grommet-namespace}meter__graphic {
    width: objects.$meter-size-default;
    min-width: settings.$size-xsmall;
    height: auto;
  }

  .#{settings.$grommet-namespace}meter__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.#{settings.$grommet-namespace}meter--xsmall {

    .#{settings.$grommet-namespace}meter__graphic {
      width: settings.$size-xsmall;
      height: settings.$size-xsmall;
    }
  }

  &.#{settings.$grommet-namespace}meter--small {

    .#{settings.$grommet-namespace}meter__graphic {
      width: settings.$size-small;
      height: settings.$size-small;
    }
  }

  &.#{settings.$grommet-namespace}meter--medium {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools.media-query(palm) {
        width: settings.$size-small;
        height: settings.$size-small;
      }

      @include tools.media-query(lap-and-up) {
        width: settings.$size-medium;
        height: settings.$size-medium;
      }
    }
  }

  &.#{settings.$grommet-namespace}meter--large {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools.media-query(palm) {
        width: settings.$size-small;
        height: settings.$size-small;
      }

      @include tools.media-query(lap-and-up) {
        width: settings.$size-large;
        height: settings.$size-large;
      }
    }
  }

  &.#{settings.$grommet-namespace}meter--xlarge {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools.media-query(palm) {
        width: settings.$size-small;
        height: settings.$size-small;
      }

      @include tools.media-query(lap-and-up) {
        width: settings.$size-xlarge;
        height: settings.$size-xlarge;
      }
    }
  }
}
