@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.functions";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}check-box {
  margin-right: tools.halve(settings.$inuit-base-spacing-unit);
  white-space: nowrap;

  html.rtl & {
    margin-right: settings.$inuit-base-spacing-unit;
    margin-left: tools.halve(settings.$inuit-base-spacing-unit);
  }
}

.#{settings.$grommet-namespace}check-box:not(.#{settings.$grommet-namespace}check-box--disabled) {
  cursor: pointer;
}

.#{settings.$grommet-namespace}check-box:hover:not(.#{settings.$grommet-namespace}check-box--disabled) {
  .#{settings.$grommet-namespace}check-box__control {
    border-color: settings2.$active-icon-color;

    #{settings2.$dark-background-context} {
      border-color: settings2.$active-colored-icon-color;
    }

    #{settings2.$light-background-context} {
      border-color: settings2.$active-icon-color;
    }
  }

  .#{settings.$grommet-namespace}check-box__input:checked +
  .#{settings.$grommet-namespace}check-box__control {
    border-color: settings2.$active-icon-color;

    #{settings2.$dark-background-context} {
      border-color: settings2.$active-colored-icon-color;
    }

    #{settings2.$light-background-context} {
      border-color: settings2.$active-icon-color;
    }
  }

  .#{settings.$grommet-namespace}check-box__label {
    color: settings2.$hover-text-color;

    #{settings2.$dark-background-context} {
      color: settings2.$active-colored-text-color;
    }

    #{settings2.$light-background-context} {
      color: settings2.$hover-text-color;
    }
  }
}

  // > :first-child {
  //   margin-right: halve($inuit-base-spacing-unit);
  //
  //   html.rtl & {
  //     margin-right: 0;
  //     margin-left: halve($inuit-base-spacing-unit);
  //   }
  // }

.#{settings.$grommet-namespace}check-box__input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .#{settings.$grommet-namespace}check-box__control {
    border-color: settings2.$brand-color;

    #{settings2.$dark-background-context} {
      border-color: settings2.$active-colored-icon-color;
    }

    #{settings2.$light-background-context} {
      border-color: settings2.$brand-color;
    }

    .#{settings.$grommet-namespace}check-box__control-check {
      display: block;
    }

    + .#{settings.$grommet-namespace}check-box__label {
      color: settings2.$text-color;

      #{settings2.$dark-background-context} {
        color: settings2.$active-colored-text-color;
      }

      #{settings2.$light-background-context} {
        color: settings2.$text-color;
      }
    }
  }

  &:focus + .#{settings.$grommet-namespace}check-box__control {
    border-color: settings2.$focus-border-color;
    box-shadow: 0 0 1px 1px settings2.$focus-border-color;
  }
}

.#{settings.$grommet-namespace}check-box__control {
  position: relative;
  top: -1px;
	display: inline-block;
  width: settings.$control-size;
  height: settings.$control-size;
  margin-right: tools.halve(settings.$inuit-base-spacing-unit);
  vertical-align: middle;
  background-color: inherit;
  border: settings.$control-border-width solid settings2.$icon-color;
  border-radius: settings.$border-radius;

  html.rtl & {
    margin-right: 0;
    margin-left: tools.halve(settings.$inuit-base-spacing-unit);
  }

  #{settings2.$dark-background-context} {
    border-color: settings2.$colored-icon-color;
  }

  #{settings2.$light-background-context} {
    border-color: settings2.$icon-color;
  }
}

.#{settings.$grommet-namespace}check-box__control-check {
  position: absolute;
  top: -2px;
  left: -2px;
  display: none;
  width: settings.$control-size;
  height: settings.$control-size;
  stroke-width: math.round(settings.$control-border-width * 2);
  stroke: settings2.$brand-color;

  #{settings2.$dark-background-context} {
    stroke: settings2.$active-colored-icon-color;
  }

  #{settings2.$light-background-context} {
    stroke: settings2.$brand-color;
  }
}

.#{settings.$grommet-namespace}check-box__label {
  // display and vertical-align are needed for rich custom labels
  display: inline-block;
  vertical-align: middle;
  color: settings2.$secondary-text-color;
  white-space: normal;
  margin-right: settings.$inuit-base-spacing-unit;
  word-break: break-word;

  #{settings2.$dark-background-context} {
    color: settings2.$colored-text-color;
  }

  #{settings2.$light-background-context} {
    color: settings2.$secondary-text-color;
  }
}

.#{settings.$grommet-namespace}check-box--disabled {
  .#{settings.$grommet-namespace}check-box__control {
    opacity: 0.5;
  }
}

.#{settings.$grommet-namespace}check-box--reverse {
  .#{settings.$grommet-namespace}check-box__control {
    margin-right: 0;
    margin-left: tools.halve(settings.$inuit-base-spacing-unit);

    html.rtl & {
      margin-left: 0;
      margin-right: tools.halve(settings.$inuit-base-spacing-unit);
    }
  }
}

.#{settings.$grommet-namespace}check-box--toggle {

  &:hover:not(.#{settings.$grommet-namespace}check-box--disabled) {
    .#{settings.$grommet-namespace}check-box__control:after {
      content: "";
      border-color: settings2.$active-icon-color;

      #{settings2.$dark-background-context} {
        background-color: settings2.$active-colored-icon-color;
        border-color: settings2.$active-colored-icon-color;
      }

      #{settings2.$light-background-context} {
        background-color: none;
        border-color: settings2.$active-icon-color;
      }
    }

    .#{settings.$grommet-namespace}check-box__input:checked + .#{settings.$grommet-namespace}check-box__control:after {
      content: "";
      border-color: settings2.$active-icon-color;

      #{settings2.$dark-background-context} {
        background-color: settings2.$active-colored-icon-color;
        border-color: settings2.$active-colored-icon-color;
      }

      #{settings2.$light-background-context} {
        background-color: none;
        border-color: settings2.$active-icon-color;
      }
    }
  }

  // track
  .#{settings.$grommet-namespace}check-box__control {
    width: tools.double(settings.$control-size);
    height: settings.$control-size;
    border-radius: settings.$control-size;
    background-color: settings2.$control-background-color;
    border: none;
    transition: background-color 0.3s;

    #{settings2.$dark-background-context} {
      background-color: settings2.$colored-meter-background-color;
    }

    #{settings2.$light-background-context} {
      background-color: settings2.$control-background-color;
    }

    // knob
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: - settings.$control-border-width;
      left: 0px;
      width: settings.$control-size + tools.double(settings.$control-border-width);
      height: settings.$control-size + tools.double(settings.$control-border-width);
      background-color: #fff;
      border: settings.$control-border-width solid settings2.$icon-color;
      border-radius: settings.$control-size;
      //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      transition: margin-left 0.3s;
      box-sizing: border-box;

      #{settings2.$dark-background-context} {
        background-color: #fff;
        border-color: settings2.$colored-icon-color;
      }

      #{settings2.$light-background-context} {
        border-color: settings2.$icon-color;
      }
    }
  }

  .#{settings.$grommet-namespace}check-box__input {

    &:checked + .#{settings.$grommet-namespace}check-box__control {
      background-color: settings2.$brand-color;

      #{settings2.$dark-background-context} {
        background-color: settings2.$colored-meter-background-color;

        .#{settings.$grommet-namespace}check-box__control-check {
          stroke: transparent;
        }
      }

      #{settings2.$light-background-context} {
        background-color: settings2.$brand-color;
      }

      &:after {
        content: "";
        background-color: #fff;
        border-color: settings2.$brand-color;
        margin-left: settings.$control-size;

        #{settings2.$dark-background-context} {
          background-color: #fff;
          border-color: settings2.$colored-icon-color;
        }

        #{settings2.$light-background-context} {
          border-color: settings2.$brand-color;
        }
      }

      .#{settings.$grommet-namespace}check-box__control-check {
        display: none;
      }
    }
  }
}
