@use "settings.defaults";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

$animation-duration: 1s;

@mixin slide-animation($opacity, $transform...) {
  opacity: $opacity;
  transform: $transform;
}

.#{settings.$grommet-namespace}animate {
  max-width: 100%;
}

.#{settings.$grommet-namespace}animate .#{settings.$grommet-namespace}animate__child {
  transition: all $animation-duration;
}

.#{settings.$grommet-namespace}animate__child--inactive {
  pointer-events: none;
}

.#{settings.$grommet-namespace}animate__child--fade {
  &.#{settings.$grommet-namespace}animate__child--inactive,
  &.#{settings.$grommet-namespace}animate__child--leave {
    opacity: 0;
  }
}

.#{settings.$grommet-namespace}animate__child--slide-up {
  &.#{settings.$grommet-namespace}animate__child--inactive,
  &.#{settings.$grommet-namespace}animate__child--leave {
    @include slide-animation(0, translateY(50%));
  }
}

.#{settings.$grommet-namespace}animate__child--slide-down {
  &.#{settings.$grommet-namespace}animate__child--inactive,
  &.#{settings.$grommet-namespace}animate__child--leave {
    @include slide-animation(0, translateY(-50%));
  }
}

.#{settings.$grommet-namespace}animate__child--slide-left {
  &.#{settings.$grommet-namespace}animate__child--inactive,
  &.#{settings.$grommet-namespace}animate__child--leave {
    @include slide-animation(0, translateX(50%));
  }
}

.#{settings.$grommet-namespace}animate__child--slide-right {
  &.#{settings.$grommet-namespace}animate__child--inactive,
  &.#{settings.$grommet-namespace}animate__child--leave {
    @include slide-animation(0, translateX(-50%));
  }
}

@keyframes jiggle {
  0%,
  100% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-0.2%);
  }

  75% {
    transform: translateX(0.2%);
  }
}

.#{settings.$grommet-namespace}animate__child--jiggle {
  &.#{settings.$grommet-namespace}animate__child--enter,
  &.#{settings.$grommet-namespace}animate__child--leave {
    animation: jiggle 0.2s infinite alternate ease-in-out;
  }
}
