@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.functions" as tools2;
@use "tools.input";
@use "tools.mixins" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}date-time {
  position: relative;
  display: inline-block;
  // min-width: round($inuit-base-spacing-unit * 8);
}

.#{settings.$grommet-namespace}date-time__input {
  @include tools.input();
  padding-right: math.round(settings.$inuit-base-spacing-unit * 2.5);
}

.#{settings.$grommet-namespace}date-time__input:focus {
  padding-right: math.round(settings.$inuit-base-spacing-unit * 2.5 -
    (settings.$input-border-width + 1));
}

// Disable IE's clear icon
.#{settings.$grommet-namespace}date-time__input::-ms-clear {
  display: none;
}

.#{settings.$grommet-namespace}date-time__control {
  position: absolute;
  top: 50%;
  right: tools2.halve(settings.$inuit-base-spacing-unit);
  transform: translateY(-50%);
}

.#{settings.$grommet-namespace}date-time-drop {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.#{settings.$grommet-namespace}date-time-drop__title {
  text-align: center;
}

.#{settings.$grommet-namespace}date-time-drop__grid {
  width: 100%;
  padding: tools2.halve(settings.$inuit-base-spacing-unit);

  table {
    width: 100%;
    margin-bottom: 0;
    outline: none;
  }

  th,
  td {
    text-align: center;
  }

  th {
    color: settings2.$secondary-text-color;
    font-weight: normal;
    padding: tools2.quarter(settings.$inuit-base-spacing-unit);
  }
}

.#{settings.$grommet-namespace}date-time-drop__grid--focus {
  table {
    border-color: settings2.$focus-border-color;
    box-shadow: 0 0 1px 1px settings2.$focus-border-color;
  }
}

.#{settings.$grommet-namespace}date-time-drop__day {
  display: inline-block;
  cursor: pointer;
  outline: none;
  width: math.round(settings.$inuit-base-spacing-unit * 1.5);
  height: math.round(settings.$inuit-base-spacing-unit * 1.5);
  padding: tools2.quarter(settings.$inuit-base-spacing-unit);
  transition: background-color 0.3s;
}

.#{settings.$grommet-namespace}date-time-drop__day:hover,
.#{settings.$grommet-namespace}date-time-drop__day--hover {
  background-color: settings2.$hover-background-color;
  color: settings2.$hover-text-color;
}

.#{settings.$grommet-namespace}date-time-drop__day--other-month {
  color: settings2.$secondary-text-color;
}

.#{settings.$grommet-namespace}date-time-drop__day--active {
  background-color: settings2.$brand-color;
  color: settings2.$colored-text-color;
  font-weight: 700;
}

.#{settings.$grommet-namespace}date-time-drop__time {
  @include tools3.inuit-font-size(18px);
  font-weight: 700;
}
