@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.functions" as tools2;
@use "tools.input";
@use "tools.text" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}select {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.#{settings.$grommet-namespace}select__input {
  @include tools.input();
  width: 100%;
  padding-right: math.round(settings.$inuit-base-spacing-unit * 2.5);
  cursor: inherit;
  color: inherit;
  pointer-events: none;

  &[readonly] {
    color: settings2.$text-color;

    #{settings2.$dark-background-context} {
      color: settings2.$colored-text-color;
    }

    #{settings2.$light-background-context} {
      color: settings2.$text-color;
    }
  }
}

.#{settings.$grommet-namespace}select__input:focus {
  padding-right: math.round(settings.$inuit-base-spacing-unit * 2.5 -
    (settings.$input-border-width + 1));
}

// Disable IE's clear icon
.#{settings.$grommet-namespace}select__input::-ms-clear {
  display: none;
}

.#{settings.$grommet-namespace}select__value {
  // leave room for control
  padding: tools2.quarter(settings.$inuit-base-spacing-unit) tools2.double(settings.$inuit-base-spacing-unit) tools2.quarter(settings.$inuit-base-spacing-unit) 0;
  border: settings.$input-border-width solid settings2.$border-color;
  border-radius: settings.$border-radius;
}

.#{settings.$grommet-namespace}select__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: tools2.quarter(settings.$inuit-base-spacing-unit);

  // Hide text behind select__control
  svg {
    background-color: settings2.$background-color;
  }
}

.#{settings.$grommet-namespace}select__search {
  width: 100%;
}

.#{settings.$grommet-namespace}select__options {
  margin: 0px;
  list-style-type: none;
}

.#{settings.$grommet-namespace}select__option {
  // min-height handles blank options
  min-height: settings.$inuit-base-spacing-unit + tools2.halve(settings.$inuit-base-spacing-unit);
  padding: tools2.quarter(settings.$inuit-base-spacing-unit) 0;
  cursor: pointer;
}

.#{settings.$grommet-namespace}select__drop {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  .#{settings.$grommet-namespace}select__option {
    @include tools3.text();
    color: settings2.$text-color;
    padding: tools2.quarter(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit;

    &.#{settings.$grommet-namespace}select__option--element {
      padding: tools2.quarter(settings.$inuit-base-spacing-unit) 0;
    }


    &:hover,
    &--active {
      background-color: settings2.$hover-background-color;
    }

    &--selected {
      color: settings2.$hover-text-color;
      background-color: settings2.$hover-background-color;
    }
  }
}
