@use "sass:math";
@use "objects.meter";
@use "settings.defaults";
@use "tools.animation";
@use "tools.color-index" as tools2;
@use "tools.responsive" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

// BAR

// For each size of meter, we calculate the proportional cross dimension
$meter-bar-cross-xsmall:
  math.round(settings.$inuit-base-spacing-unit * math.div(settings.$size-xsmall, settings.$size-small));
$meter-bar-cross-small:
  math.round(settings.$inuit-base-spacing-unit * math.div(settings.$size-small, settings.$size-small));
$meter-bar-cross-medium:
  math.round(settings.$inuit-base-spacing-unit * math.div(settings.$size-medium, settings.$size-small));
$meter-bar-cross-large:
  math.round(settings.$inuit-base-spacing-unit * math.div(settings.$size-large, settings.$size-small));
$meter-bar-cross-xlarge:
  math.round(settings.$inuit-base-spacing-unit * math.div(settings.$size-xlarge, settings.$size-small));
$meter-bar-cross-default:
  math.round(settings.$inuit-base-spacing-unit * math.div(objects.$meter-size-default, settings.$size-small));

@include tools.keyframes(draw-meter-bar-small) {
  0% {
    stroke-dashoffset: objects.$meter-size-default;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.#{settings.$grommet-namespace}meter--bar {
  line-height: 0;

  .#{settings.$grommet-namespace}meter__slice {
    stroke-linecap: butt;
  }

  .#{settings.$grommet-namespace}meter__values .#{settings.$grommet-namespace}meter__slice {
    @include tools2.graph-stroke-color();

    &--clickable {
      cursor: pointer;
    }

    @include tools3.media-query(lap-and-up) {
      stroke-dasharray: objects.$meter-size-default objects.$meter-size-default;
      stroke-dashoffset: 0;
      transition: stroke-width 0.2s;
      @include tools.animation('draw-meter-bar-small 1s ease-in');
    }
  }

  .#{settings.$grommet-namespace}meter__thresholds .#{settings.$grommet-namespace}meter__slice,
  .#{settings.$grommet-namespace}meter__tracks .#{settings.$grommet-namespace}meter__slice {
    @include tools2.graph-stroke-color-translucent(0.5);
  }

  // This should be a separate section but SCSS MergableSelector won't allow it. :(
  &.#{settings.$grommet-namespace}meter--vertical {
    white-space: nowrap;

    .#{settings.$grommet-namespace}meter__graphic {
      height: objects.$meter-size-default;
      width: $meter-bar-cross-default;
    }

    &:not(.#{settings.$grommet-namespace}meter--stacked) {
      &.#{settings.$grommet-namespace}meter--count-2 {
        .#{settings.$grommet-namespace}meter__graphic {
          width: math.round($meter-bar-cross-default * 2);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-3 {
        .#{settings.$grommet-namespace}meter__graphic {
          width: math.round($meter-bar-cross-default * 3);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-4 {
        .#{settings.$grommet-namespace}meter__graphic {
          width: math.round($meter-bar-cross-default * 4);
        }
      }
    }

    .#{settings.$grommet-namespace}meter__labeled-graphic {
      display: inline-block;
    }

    &.#{settings.$grommet-namespace}meter--xsmall {

      .#{settings.$grommet-namespace}meter__graphic {
        height: settings.$size-xsmall;
        width: $meter-bar-cross-xsmall;
      }

      &:not(.#{settings.$grommet-namespace}meter--stacked) {
        &.#{settings.$grommet-namespace}meter--count-2 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-xsmall * 2);
          }
        }

        &.#{settings.$grommet-namespace}meter--count-3 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-xsmall * 3);
          }
        }

        &.#{settings.$grommet-namespace}meter--count-4 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-xsmall * 4);
          }
        }
      }
    }

    &.#{settings.$grommet-namespace}meter--small {

      .#{settings.$grommet-namespace}meter__graphic {
        height: settings.$size-small;
        width: $meter-bar-cross-small;
      }

      &:not(.#{settings.$grommet-namespace}meter--stacked) {
        &.#{settings.$grommet-namespace}meter--count-2 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-small * 2);
          }
        }

        &.#{settings.$grommet-namespace}meter--count-3 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-small * 3);
          }
        }

        &.#{settings.$grommet-namespace}meter--count-4 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-small * 4);
          }
        }
      }
    }

    &.#{settings.$grommet-namespace}meter--medium {

      .#{settings.$grommet-namespace}meter__graphic {
        height: settings.$size-medium;
        width: $meter-bar-cross-medium;
      }

      &:not(.#{settings.$grommet-namespace}meter--stacked) {
        &.#{settings.$grommet-namespace}meter--count-2 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-medium * 2);
          }
        }

        &.#{settings.$grommet-namespace}meter--count-3 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-medium * 3);
          }
        }

        &.#{settings.$grommet-namespace}meter--count-4 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-medium * 4);
          }
        }
      }
    }

    &.#{settings.$grommet-namespace}meter--large {

      .#{settings.$grommet-namespace}meter__graphic {
        height: settings.$size-large;
        width: $meter-bar-cross-large;
      }

      &:not(.#{settings.$grommet-namespace}meter--stacked) {
        &.#{settings.$grommet-namespace}meter--count-2 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-large * 2);
          }
        }

        &.#{settings.$grommet-namespace}meter--count-3 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-large * 3);
          }
        }

        &.#{settings.$grommet-namespace}meter--count-4 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-large * 4);
          }
        }
      }
    }

    &.#{settings.$grommet-namespace}meter--xlarge {

      .#{settings.$grommet-namespace}meter__graphic {
        height: settings.$size-xlarge;
        width: $meter-bar-cross-xlarge;
      }

      &:not(.#{settings.$grommet-namespace}meter--stacked) {
        &.#{settings.$grommet-namespace}meter--count-2 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-xlarge * 2);
          }
        }

        &.#{settings.$grommet-namespace}meter--count-3 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-xlarge * 3);
          }
        }

        &.#{settings.$grommet-namespace}meter--count-4 {
          .#{settings.$grommet-namespace}meter__graphic {
            width: math.round($meter-bar-cross-xlarge * 4);
          }
        }
      }
    }
  }
}

.#{settings.$grommet-namespace}meter--bar:not(.#{settings.$grommet-namespace}meter--vertical) {

  .#{settings.$grommet-namespace}meter__graphic {
    width: settings.$size-small;
    min-width: settings.$size-xsmall;
  }

  &.#{settings.$grommet-namespace}meter--xsmall {

    .#{settings.$grommet-namespace}meter__graphic {
      width: settings.$size-xsmall;
      height: $meter-bar-cross-xsmall;
    }

    &.#{settings.$grommet-namespace}meter--single,
    &.#{settings.$grommet-namespace}meter--stacked {
      .#{settings.$grommet-namespace}meter__graphic {
        height: $meter-bar-cross-xsmall;
      }
    }

    &:not(.#{settings.$grommet-namespace}meter--stacked) {
      &.#{settings.$grommet-namespace}meter--count-2 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-xsmall * 2);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-3 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-xsmall * 3);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-4 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-xsmall * 4);
        }
      }
    }
  }

  &.#{settings.$grommet-namespace}meter--small {

    .#{settings.$grommet-namespace}meter__graphic {
      width: settings.$size-small;
      height: $meter-bar-cross-small;
    }

    &.#{settings.$grommet-namespace}meter--single,
    &.#{settings.$grommet-namespace}meter--stacked {
      .#{settings.$grommet-namespace}meter__graphic {
        height: $meter-bar-cross-small;
      }
    }

    &:not(.#{settings.$grommet-namespace}meter--stacked) {
      &.#{settings.$grommet-namespace}meter--count-2 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-small * 2);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-3 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-small * 3);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-4 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-small * 4);
        }
      }
    }
  }

  &.#{settings.$grommet-namespace}meter--medium {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools3.media-query(palm) {
        width: settings.$size-small;
      }

      @include tools3.media-query(lap-and-up) {
        width: settings.$size-medium;
      }

      height: $meter-bar-cross-medium;
    }

    &:not(.#{settings.$grommet-namespace}meter--stacked) {
      &.#{settings.$grommet-namespace}meter--count-2 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-medium * 2);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-3 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-medium * 3);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-4 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-medium * 4);
        }
      }
    }
  }

  &.#{settings.$grommet-namespace}meter--large {
    // line-height: round($inuit-base-spacing-unit * 1.5);

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools3.media-query(palm) {
        width: settings.$size-small;
      }

      @include tools3.media-query(lap-and-up) {
        width: settings.$size-large;
      }

      height: $meter-bar-cross-large;
    }

    &:not(.#{settings.$grommet-namespace}meter--stacked) {
      &.#{settings.$grommet-namespace}meter--count-2 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-large * 2);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-3 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-large * 3);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-4 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-large * 4);
        }
      }
    }
  }

  &.#{settings.$grommet-namespace}meter--xlarge {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools3.media-query(palm) {
        width: settings.$size-small;
      }

      @include tools3.media-query(lap-and-up) {
        width: settings.$size-xlarge;
      }

      height: $meter-bar-cross-xlarge;
    }

    &:not(.#{settings.$grommet-namespace}meter--stacked) {
      &.#{settings.$grommet-namespace}meter--count-2 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-xlarge * 2);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-3 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-xlarge * 3);
        }
      }

      &.#{settings.$grommet-namespace}meter--count-4 {
        .#{settings.$grommet-namespace}meter__graphic {
          height: math.round($meter-bar-cross-xlarge * 4);
        }
      }
    }
  }
}
