@use "settings.defaults";
@use "tools.responsive";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}sidebar {
  @include tools.media-query(palm) {
    max-width: 100%;
    width: 100vw;
  }

  @include tools.media-query(lap-and-up) {
    width: settings.$sidebar-width;
  }
}

.#{settings.$grommet-namespace}sidebar--fixed {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.#{settings.$grommet-namespace}sidebar--xsmall {
  @include tools.media-query(lap-and-up) {
    width: settings.$sidebar-xsmall-width;
  }
}

.#{settings.$grommet-namespace}sidebar--small {
  @include tools.media-query(lap-and-up) {
    width: settings.$sidebar-small-width;
  }
}

.#{settings.$grommet-namespace}sidebar--large {
  @include tools.media-query(lap-and-up) {
    width: settings.$sidebar-large-width;
  }
}

.#{settings.$grommet-namespace}sidebar--full {
  height: 100vh;
  overflow: auto;
}
