@use "sass:math";
@use "settings.color" as settings3;
@use "settings.defaults";
@use "settings.font" as settings2;
@use "tools.color-index";
@use "tools.functions" as tools2;
@use "tools.mixins" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

$map-stroke-width: math.round(math.div(settings.$inuit-base-spacing-unit, 12));
$map-active-stroke-width: math.round(settings.$inuit-base-spacing-unit * 0.25);

.#{settings.$grommet-namespace}map {
  position: relative;
  z-index: 0;
  // padding: $inuit-base-spacing-unit;
}

.#{settings.$grommet-namespace}map__links {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.#{settings.$grommet-namespace}map__path {
  stroke-width: $map-stroke-width;
  @include tools.graph-stroke-color();
}

.#{settings.$grommet-namespace}map__path--active {
  stroke-width: $map-active-stroke-width;
}

.#{settings.$grommet-namespace}map__categories {
  margin: 0px;
  list-style-type: none;
}

.#{settings.$grommet-namespace}map__category {
  position: relative;
  // padding-top: $inuit-base-spacing-unit;
  margin-bottom: tools2.halve(settings.$inuit-base-spacing-unit);
  max-width: none;
}

.#{settings.$grommet-namespace}map__category-label {
  // position: absolute;
  // top: 0px;
  // left: 0px;
  @include tools3.inuit-font-size(settings2.$content-small-font-size);
  margin-bottom: tools2.halve(settings.$inuit-base-spacing-unit);
}

.#{settings.$grommet-namespace}map__category-items {
  margin: 0px;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

.#{settings.$grommet-namespace}map__item {
  display: inline-block;
  margin-right: tools2.halve(settings.$inuit-base-spacing-unit);
  margin-bottom: tools2.halve(settings.$inuit-base-spacing-unit);

  #{settings3.$dark-background-context} {
    color: settings3.$text-color;
  }
}

.#{settings.$grommet-namespace}map__item:not(.#{settings.$grommet-namespace}map__item--plain) {
  width: settings.$size-small;
  border: 1px solid settings3.$border-color;
  padding: tools2.quarter(settings.$inuit-base-spacing-unit) tools2.halve(settings.$inuit-base-spacing-unit);
  background-color: settings3.$background-color;
  @include tools3.inuit-font-size(settings2.$content-font-size);

  > a {
    display: block;
    padding: tools2.quarter(settings.$inuit-base-spacing-unit) tools2.halve(settings.$inuit-base-spacing-unit);
    transition: background-color 0.2s;

    > * {
      display: inline-block;
    }

    &:hover {
      background-color: settings3.$hover-background-color;
    }
  }

  .#{settings.$grommet-namespace}status-icon {
    margin-right: tools2.quarter(settings.$inuit-base-spacing-unit);
  }
}

.#{settings.$grommet-namespace}map__item--active:not(.#{settings.$grommet-namespace}map__item--plain) {
  border-color: settings3.$strong-border-color;
  border-width: 2px;
  padding: (tools2.quarter(settings.$inuit-base-spacing-unit) - 1px)
    (tools2.halve(settings.$inuit-base-spacing-unit) - 1px);
}

.#{settings.$grommet-namespace}map--vertical {
  .#{settings.$grommet-namespace}map__categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .#{settings.$grommet-namespace}map__category-items {
    text-align: left;
  }

  .#{settings.$grommet-namespace}map__item {
    display: block;
    margin-right: 0;
  }
}
