@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.functions";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}footer {
  min-height: settings.$footer-height;
  width: 100%;
}

.#{settings.$grommet-namespace}footer--small {
  min-height: settings.$small-footer-height;
}

.#{settings.$grommet-namespace}footer--large {
  min-height: settings.$large-footer-height;
}

.#{settings.$grommet-namespace}footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: settings.$inuit-base-spacing-unit;
  padding-right: settings.$inuit-base-spacing-unit;

  > * {
    margin-right: tools.double(settings.$inuit-base-spacing-unit);

    &:last-child {
      margin-right: 0px;
      text-align: left;
    }
  }
}

.#{settings.$grommet-namespace}footer--primary {
  height: auto;
  padding: settings.$inuit-base-spacing-unit;

  .#{settings.$grommet-namespace}footer__content {
    position: relative;
    color: settings2.$secondary-text-color;
    display: block;
  }
}

.#{settings.$grommet-namespace}footer--centered {
  .#{settings.$grommet-namespace}footer__content {
    display: block;
    text-align: center;

    > * {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }
}

.#{settings.$grommet-namespace}footer--flush {
  .#{settings.$grommet-namespace}footer__content,
  .#{settings.$grommet-namespace}footer__wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.#{settings.$grommet-namespace}footer--fixed {
  .#{settings.$grommet-namespace}footer__wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
  }

  .#{settings.$grommet-namespace}footer__wrapper--fill {
    .#{settings.$grommet-namespace}footer__wrapper {
      background-color: settings2.$footer-background-color;
    }
  }
}

.#{settings.$grommet-namespace}footer--fixed.#{settings.$grommet-namespace}footer--primary {
  .#{settings.$grommet-namespace}footer__wrapper {
    position: fixed;
  }

  .#{settings.$grommet-namespace}footer__wrapper--fill {
    .#{settings.$grommet-namespace}footer__wrapper {
      background-color: settings2.$footer-background-color;
    }
  }

  .#{settings.$grommet-namespace}footer__content {
    position: static;
    background-color: transparent;
  }
}

.#{settings.$grommet-namespace}footer__container {
  flex-shrink: 0;
}

.#{settings.$grommet-namespace}footer__container--float {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.#{settings.$grommet-namespace}footer__container--fill {
  .#{settings.$grommet-namespace}footer {
    background-color: settings2.$footer-background-color;
  }
}

.#{settings.$grommet-namespace}footer__container--fixed {
  position: relative;
  width: 100%;

  .#{settings.$grommet-namespace}footer__wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
  }
}

.#{settings.$grommet-namespace}footer__wrapper {
  height: settings.$footer-height;
}

.#{settings.$grommet-namespace}footer__wrapper--large {
  height: settings.$large-footer-height;
}

.#{settings.$grommet-namespace}footer__wrapper--small {
  height: settings.$small-footer-height;
}

*:not(.#{settings.$grommet-namespace}footer__container--float) > .#{settings.$grommet-namespace}footer--float {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
