@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.responsive";

// (C) Copyright 2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}hero:not(.#{settings.$grommet-namespace}hero--stack) {
  position: relative;
  overflow: hidden;
  display: flex;
  // This could be column, but IE11 doesn't work with that. :(
  flex-direction: row;
  align-items: center;

  .#{settings.$grommet-namespace}hero__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .#{settings.$grommet-namespace}hero__foreground {
    // position: relative;
    z-index: 1;
    flex: 1 1;
    // min-height: 100%;
  }

  &.#{settings.$grommet-namespace}hero--small {
    min-height: 40vh;

    // deprecated
    .#{settings.$grommet-namespace}hero__overlay.#{settings.$grommet-namespace}box {
      height: 60vh;
    }
  }

  &.#{settings.$grommet-namespace}hero--medium {
    min-height: 60vh;
  }

  &.#{settings.$grommet-namespace}hero--large {
    min-height: 75vh;

    // deprecated
    .#{settings.$grommet-namespace}hero__overlay.#{settings.$grommet-namespace}box {
      height: 75vh;
    }
  }
}

.#{settings.$grommet-namespace}hero.#{settings.$grommet-namespace}hero--stack {
  .#{settings.$grommet-namespace}hero__background {
    position: relative;
    overflow: hidden;
  }

  .#{settings.$grommet-namespace}hero--small {
    .#{settings.$grommet-namespace}hero__background {
      height: 20vh;
    }

    // deprecated
    .#{settings.$grommet-namespace}hero__image {
      height: settings.$inuit-base-spacing-unit * 11.25;
    }
  }

  &.#{settings.$grommet-namespace}hero--medium {
    .#{settings.$grommet-namespace}hero__background {
      height: 40vh;
    }
  }

  &.#{settings.$grommet-namespace}hero--large {
    .#{settings.$grommet-namespace}hero__background {
      height: 60vh;
    }

    // deprecated
    .#{settings.$grommet-namespace}hero__image {
      height: settings.$inuit-base-spacing-unit * 12.5;
    }
  }
}

// deprecated
.#{settings.$grommet-namespace}hero__background-video {
  overflow: hidden;

  .#{settings.$grommet-namespace}video {
    min-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);

    &::before {
      content: "";
      display: block;
      height: 0px;
      padding-bottom: 57%;
    }

    video {
      width: auto;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
}

// deprecated
.#{settings.$grommet-namespace}hero--bg-left > .#{settings.$grommet-namespace}hero__background {
  @include tools.media-query(palm) {
    background-position: top left;
  }
}

// deprecated
.#{settings.$grommet-namespace}hero--bg-right > .#{settings.$grommet-namespace}hero__background {
  @include tools.media-query(palm) {
    background-position: top right;
  }
}

// deprecated
.#{settings.$grommet-namespace}hero__overlay.#{settings.$grommet-namespace}box {
  z-index: 1;

  & > .#{settings.$grommet-namespace}box {
    width: 50%;

    @include tools.media-query(palm) {
      width: 100%;
    }
  }
}

.#{settings.$grommet-namespace}hero--mobile-separator {
  @include tools.media-query(palm) {
    border-bottom: 1px solid settings2.$border-color;
    margin-bottom: settings.$inuit-base-spacing-unit;
  }
}
