@use "objects.meter";
@use "settings.defaults";
@use "tools.responsive";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

// ARC

$meter-arc-size-xsmall: (settings.$size-xsmall * 0.75);
$meter-arc-size-small: (settings.$size-small * 0.75);
$meter-arc-size-medium: (settings.$size-medium * 0.75);
$meter-arc-size-large: (settings.$size-large * 0.75);
$meter-arc-size-xlarge: (settings.$size-xlarge * 0.75);
$meter-arc-size-default: $meter-arc-size-small;

.#{settings.$grommet-namespace}meter--arc:not(.#{settings.$grommet-namespace}meter--vertical) {

  .#{settings.$grommet-namespace}meter__graphic {
    width: objects.$meter-size-default;
    min-width: settings.$size-xsmall;
    height: auto;
  }

  &.#{settings.$grommet-namespace}meter--xsmall {
    .#{settings.$grommet-namespace}meter__graphic {
      width: settings.$size-xsmall;
      height: $meter-arc-size-xsmall;
    }
  }

  &.#{settings.$grommet-namespace}meter--small {

    .#{settings.$grommet-namespace}meter__graphic {
      width: settings.$size-small;
      height: $meter-arc-size-small;
    }
  }

  &.#{settings.$grommet-namespace}meter--medium {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools.media-query(palm) {
        width: settings.$size-small;
        height: $meter-arc-size-small;
      }

      @include tools.media-query(lap-and-up) {
        width: settings.$size-medium;
        height: $meter-arc-size-medium;
      }
    }
  }

  &.#{settings.$grommet-namespace}meter--large {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools.media-query(palm) {
        width: settings.$size-small;
        height: $meter-arc-size-small;
      }

      @include tools.media-query(lap-and-up) {
        width: settings.$size-large;
        height: $meter-arc-size-large;
      }
    }
  }

  &.#{settings.$grommet-namespace}meter--xlarge {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools.media-query(palm) {
        width: settings.$size-small;
        height: $meter-arc-size-small;
      }

      @include tools.media-query(lap-and-up) {
        width: settings.$size-xlarge;
        height: $meter-arc-size-xlarge;
      }
    }
  }
}

.#{settings.$grommet-namespace}meter--arc.#{settings.$grommet-namespace}meter--vertical {

  .#{settings.$grommet-namespace}meter__graphic {
    display: inline;
    width: $meter-arc-size-default;
    height: objects.$meter-size-default;
  }

  &.#{settings.$grommet-namespace}meter--xsmall {

    .#{settings.$grommet-namespace}meter__graphic {
      width: $meter-arc-size-xsmall;
      height: settings.$size-xsmall;
    }
  }

  &.#{settings.$grommet-namespace}meter--small {

    .#{settings.$grommet-namespace}meter__graphic {
      width: $meter-arc-size-small;
      height: settings.$size-small;
    }
  }

  &.#{settings.$grommet-namespace}meter--medium {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools.media-query(palm) {
        width: $meter-arc-size-small;
        height: settings.$size-small;
      }

      @include tools.media-query(lap-and-up) {
        width: $meter-arc-size-medium;
        height: settings.$size-medium;
      }
    }
  }

  &.#{settings.$grommet-namespace}meter--large {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools.media-query(palm) {
        width: $meter-arc-size-small;
        height: settings.$size-small;
      }

      @include tools.media-query(lap-and-up) {
        width: $meter-arc-size-large;
        height: settings.$size-large;
      }
    }
  }

  &.#{settings.$grommet-namespace}meter--xlarge {

    .#{settings.$grommet-namespace}meter__graphic {
      @include tools.media-query(palm) {
        width: $meter-arc-size-small;
        height: settings.$size-small;
      }

      @include tools.media-query(lap-and-up) {
        width: $meter-arc-size-xlarge;
        height: settings.$size-xlarge;
      }
    }
  }
}
