@use "settings.color" as settings2;
@use "settings.defaults";
@use "settings.font" as settings3;
@use "tools.functions" as tools3;
@use "tools.mixins" as tools2;
@use "tools.responsive" as tools4;
@use "tools.text-align";

// (C) Copyright 2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}value {
  display: inline-block;
  @include tools.text-align();
}

.#{settings.$grommet-namespace}value--active {
  color: settings2.$hover-text-color;

  #{settings2.$dark-background-context} {
    color: settings2.$active-colored-text-color;
  }

  #{settings2.$light-background-context} {
    color: settings2.$hover-text-color;
  }
}

.#{settings.$grommet-namespace}value__annotated {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include tools2.inuit-font-size(settings3.$value-font-size);

  .#{settings.$grommet-namespace}control-icon:first-child {
    margin-right: tools3.quarter(settings.$inuit-base-spacing-unit);
  }

  .#{settings.$grommet-namespace}control-icon:last-child {
    margin-left: tools3.quarter(settings.$inuit-base-spacing-unit);
  }
}

.#{settings.$grommet-namespace}value__label {
  display: inline-block;
  margin-top: tools3.quarter(settings.$inuit-base-spacing-unit);
  @include tools2.inuit-font-size(settings3.$control-font-size);
}

.#{settings.$grommet-namespace}value__value {
  font-weight: settings3.$text-strong-font-weight;
}

.#{settings.$grommet-namespace}value__units {
  margin-left: 0.5rem;
  font-weight: settings3.$text-font-weight;
}

.#{settings.$grommet-namespace}value--align-start {
  .#{settings.$grommet-namespace}value__annotated {
    justify-content: flex-start;
  }
}

.#{settings.$grommet-namespace}value--align-end {
  .#{settings.$grommet-namespace}value__annotated {
    justify-content: flex-end;
  }
}

.#{settings.$grommet-namespace}value--xsmall {
  .#{settings.$grommet-namespace}value__annotated {
    @include tools2.inuit-font-size(settings3.$value-xsmall-font-size);
  }

  .#{settings.$grommet-namespace}value__label {
    margin-top: tools3.quarter(settings.$inuit-base-spacing-unit);
    @include tools2.inuit-font-size(settings3.$content-small-font-size);
  }
}

.#{settings.$grommet-namespace}value--small {
  .#{settings.$grommet-namespace}value__annotated {
    @include tools2.inuit-font-size(settings3.$value-small-font-size);
  }

  .#{settings.$grommet-namespace}value__label {
    margin-top: tools3.quarter(settings.$inuit-base-spacing-unit);
    @include tools2.inuit-font-size(settings3.$content-small-font-size);
  }
}

.#{settings.$grommet-namespace}value--large {
  .#{settings.$grommet-namespace}value__annotated {
    @include tools2.inuit-font-size(settings3.$value-large-font-size);

    .#{settings.$grommet-namespace}control-icon:first-child {
      margin-right: tools3.halve(settings.$inuit-base-spacing-unit);
    }

    .#{settings.$grommet-namespace}control-icon:last-child {
      margin-left: tools3.halve(settings.$inuit-base-spacing-unit);
    }
  }

  .#{settings.$grommet-namespace}value__label {
    margin-top: tools3.halve(settings.$inuit-base-spacing-unit);
    @include tools2.inuit-font-size(settings3.$content-large-font-size);
  }
}

.#{settings.$grommet-namespace}value--align-center {
  justify-content: center;

  .#{settings.$grommet-namespace}value__annotated {
    justify-content: center;
  }
}

@include tools4.media-query(palm) {

  // same as large
  .#{settings.$grommet-namespace}value--xlarge {
    .#{settings.$grommet-namespace}value__annotated {
      @include tools2.inuit-font-size(settings3.$value-large-font-size);

      .#{settings.$grommet-namespace}control-icon:first-child {
        margin-right: tools3.halve(settings.$inuit-base-spacing-unit);
      }

      .#{settings.$grommet-namespace}control-icon:last-child {
        margin-left: tools3.halve(settings.$inuit-base-spacing-unit);
      }
    }

    .#{settings.$grommet-namespace}value__label {
      margin-top: tools3.halve(settings.$inuit-base-spacing-unit);
      @include tools2.inuit-font-size(settings3.$content-large-font-size);
    }
  }

  .#{settings.$grommet-namespace}value--responsive {
    &.#{settings.$grommet-namespace}value--large,
    &.#{settings.$grommet-namespace}value--xlarge {
      .#{settings.$grommet-namespace}value__annotated {
        @include tools2.inuit-font-size(settings3.$value-font-size);

        .#{settings.$grommet-namespace}control-icon:first-child {
          margin-right: tools3.quarter(settings.$inuit-base-spacing-unit);
        }

        .#{settings.$grommet-namespace}control-icon:last-child {
          margin-left: tools3.quarter(settings.$inuit-base-spacing-unit);
        }
      }

      .#{settings.$grommet-namespace}value__label {
        margin-top: tools3.quarter(settings.$inuit-base-spacing-unit);
        @include tools2.inuit-font-size(settings3.$control-font-size);
      }
    }
  }
}

@include tools4.media-query(lap-and-up) {
  .#{settings.$grommet-namespace}value--xlarge {
    .#{settings.$grommet-namespace}value__annotated {
      @include tools2.inuit-font-size(settings3.$value-xlarge-font-size);

      .#{settings.$grommet-namespace}control-icon:first-child {
        margin-right: (settings.$inuit-base-spacing-unit);
      }

      .#{settings.$grommet-namespace}control-icon:last-child {
        margin-left: (settings.$inuit-base-spacing-unit);
      }
    }

    .#{settings.$grommet-namespace}value__label {
      margin-top: settings.$inuit-base-spacing-unit;
      @include tools2.inuit-font-size(settings3.$value-font-size);
    }
  }
}
