@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.animation" as tools3;
@use "tools.functions" as tools2;
@use "tools.responsive";

// (C) Copyright 2014-2017 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}layer {
  position: relative;
  z-index: 10; // stay above app header
  background-color: settings2.$layer-overlay-background-color;
  height: 100vh;
  overflow: auto;

  @include tools.media-query(lap-and-up) {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  @include tools.media-query(palm) {
    &:not(.#{settings.$grommet-namespace}layer--hidden) + .#{settings.$grommet-namespace}app {
      left: -100%;
      right: 100%;
      z-index: -1;
      position: fixed;
    }
  }

  .#{settings.$grommet-namespace}layer__container {
    display: flex;
    flex-direction: column;
    background-color: settings2.$layer-background-color;

    @include tools.media-query(palm) {
      padding: 0 settings.$inuit-base-spacing-unit;
      min-height: 100%;
      min-width: 100%;
    }

    @include tools.media-query(lap-and-up) {
      position: absolute;
      max-height: 100%;
      max-width: 100%;
      overflow: auto;
      padding: 0 tools2.double(settings.$inuit-base-spacing-unit);
      border-radius: settings.$border-radius;
      box-shadow: settings2.$layer-box-shadow;

      // avoid problems with ie11 with max-width: 100%;
      // See: http://stackoverflow.com/questions/40855067/flexbox-div-with-column-direction-and-inner-max-width-breaks-in-ie11
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .#{settings.$grommet-namespace}form {
          max-width: 100vw;
        }

        .#{settings.$grommet-namespace}sidebar .#{settings.$grommet-namespace}form {
          max-width: 100%;
        }
      }
    }
  }

  .#{settings.$grommet-namespace}layer__closer {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;

    .grommet.rtl & {
      right: auto;
      left: 0px;
    }
  }
}

.#{settings.$grommet-namespace}layer.#{settings.$grommet-namespace}layer--flush {
  .#{settings.$grommet-namespace}layer__container {
    padding: 0px;

    // avoid problems with ie11 with max-width: 100%;
    // See: http://stackoverflow.com/questions/40855067/flexbox-div-with-column-direction-and-inner-max-width-breaks-in-ie11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .#{settings.$grommet-namespace}form {
        max-width: 100vw;
      }

      .#{settings.$grommet-namespace}sidebar .#{settings.$grommet-namespace}form {
        max-width: 100%;
      }
    }
  }
}

.#{settings.$grommet-namespace}layer--align-center:not(.#{settings.$grommet-namespace}layer--hidden) {

  @include tools.media-query(lap-and-up) {
    .#{settings.$grommet-namespace}layer__container {
      bottom: 50%;
      right: 50%;
      max-height: calc(100vh - #{tools2.double(settings.$inuit-base-spacing-unit)});
      max-width: calc(100vw - #{tools2.double(settings.$inuit-base-spacing-unit)});
      transform: translate(50%, 50%);
    }
  }
}

.#{settings.$grommet-namespace}layer--align-left:not(.#{settings.$grommet-namespace}layer--hidden) {
  .#{settings.$grommet-namespace}layer__container {
    top: 0px;
    bottom: 0px;
    left: 0px;

    @include tools.media-query(lap-and-up) {
      @include tools3.animation('slide-right 0.2s ease-in-out forwards');
    }
  }

  .grommet.rtl & {
    .#{settings.$grommet-namespace}layer__container {
      left: auto;
      right: 0px;

      @include tools.media-query(lap-and-up) {
        @include tools3.animation('slide-left 0.2s ease-in-out forwards');
      }
    }
  }
}

.#{settings.$grommet-namespace}layer--align-right:not(.#{settings.$grommet-namespace}layer--hidden) {
  .#{settings.$grommet-namespace}layer__container {
    top: 0px;
    bottom: 0px;
    right: 0px;

    @include tools.media-query(lap-and-up) {
      @include tools3.animation('slide-left 0.2s ease-in-out forwards');
    }
  }

  .grommet.rtl & {
    .#{settings.$grommet-namespace}layer__container {
      right: auto;
      left: 0px;

      @include tools.media-query(lap-and-up) {
        @include tools3.animation('slide-right 0.2s ease-in-out forwards');
      }
    }
  }
}

.#{settings.$grommet-namespace}layer--align-top:not(.#{settings.$grommet-namespace}layer--hidden) {
  @include tools.media-query(lap-and-up) {
    .#{settings.$grommet-namespace}layer__container {
      left: 50%;
      transform: translateX(-50%);

      @include tools.media-query(lap-and-up) {
        @include tools3.animation('slide-down 0.2s ease-in-out forwards');
      }
    }
  }
}

.#{settings.$grommet-namespace}layer--align-bottom:not(.#{settings.$grommet-namespace}layer--hidden) {
  .#{settings.$grommet-namespace}layer__container {
    bottom: 0px;
  }
}

.#{settings.$grommet-namespace}layer.#{settings.$grommet-namespace}layer--hidden {

  left: -100%;
  right: 100%;
  z-index: -1;
  position: fixed;

  &.#{settings.$grommet-namespace}layer--align {

    &-left {
      right: auto;

      .#{settings.$grommet-namespace}layer__container {
        left: -100vw;
      }
    }
  }

  @include tools.media-query(lap-and-up) {
    &.#{settings.$grommet-namespace}layer--peek {

      left: 0;
      z-index: 10;

      &.#{settings.$grommet-namespace}layer--align {

        &-left {
          right: auto;

          .#{settings.$grommet-namespace}layer__container {
            left: auto;
            right: - tools2.halve(settings.$inuit-base-spacing-unit);
            border-right: 10px solid settings2.$brand-color;
            @include tools3.animation('peek-right 0.5s ease-in-out alternate 5');
          }
        }
      }
    }
  }
}

@include tools3.keyframes(peek-right) {
  0% {
    right: - tools2.quarter(settings.$inuit-base-spacing-unit);
  }

  100% {
    right: - tools2.halve(settings.$inuit-base-spacing-unit);
  }
}

@include tools3.keyframes(slide-right) {
  0% {
    left: -100%;
  }

  100% {
    left: 0px;
  }
}

@include tools3.keyframes(slide-left) {
  0% {
    right: -100%;
  }

  100% {
    right: 0px;
  }
}

@include tools3.keyframes(slide-down) {
  0% {
    top: -100vh;
  }

  100% {
    top: 0px;
  }
}
