@use "sass:map";
@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.animation" as tools5;
@use "tools.color-index" as tools3;
@use "tools.functions";
@use "tools.icon" as tools2;
@use "tools.responsive" as tools4;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

$social-twitter-color: #1DA1F2;
$social-facebook-color: #3B5998;
$social-linkedin-color: #0077B5;

$icon-xsmall-size: tools.halve(settings.$inuit-base-spacing-unit) !default;
$icon-small-size: settings.$inuit-base-spacing-unit !default;
$icon-medium-size: math.round(settings.$inuit-base-spacing-unit + tools.halve(settings.$inuit-base-spacing-unit)) !default;
$icon-large-size: math.round(settings.$inuit-base-spacing-unit * 2) !default;
$icon-xlarge-size: math.round(settings.$inuit-base-spacing-unit * 6) !default;
$icon-huge-size: math.round(settings.$inuit-base-spacing-unit * 12) !default;

.#{settings.$grommet-namespace}control-icon {
  display: inline-block;
  width: $icon-small-size;
  height: $icon-small-size;
  // vertical-align: middle;
  fill: settings2.$icon-color;
  stroke: settings2.$icon-color;
  flex: 0 0 auto;

  g {
    fill: inherit;
  }

  &:not([class*="color-index-plain"]) {
    *:not([stroke]) {
      &[fill="none"] {
        stroke-width: 0;
      }
    }

    *[stroke*="#"],
    *[STROKE*="#"] {
      stroke: inherit;
    }

    *[fill*="#"],
    *[FILL*="#"] {
      fill: inherit;
    }

    *[fill-rule] {
      stroke: none;
    }
  }

  #{settings2.$dark-background-context} {
    @include tools2.icon-color(settings2.$colored-icon-color);
  }

  #{settings2.$light-background-context} {
    @include tools2.icon-color(settings2.$icon-color);
  }

  @include tools3.graph-stroke-color();
  @include tools3.graph-fill-color();

  @include tools4.media-query(lap-and-up) {
    transition: all settings.$base-animation-duration ease-in-out;
  }
}

.#{settings.$grommet-namespace}control-icon__badge {
  circle {
    fill: settings2.$icon-badge-background-color;
  }

  text {
    stroke: settings2.$icon-badge-text-color;
    fill: settings2.$icon-badge-text-color;
  }
}

.#{settings.$grommet-namespace}control-icon--active {
  fill: settings2.$active-icon-color;
  stroke: settings2.$active-icon-color;
}

.#{settings.$grommet-namespace}control-icon--xsmall {
  width: $icon-xsmall-size;
  height: $icon-xsmall-size;
}

.#{settings.$grommet-namespace}control-icon--medium {
  width: $icon-medium-size;
  height: $icon-medium-size;
}

.#{settings.$grommet-namespace}control-icon--large {
  width: $icon-large-size;
  height: $icon-large-size;
}

.#{settings.$grommet-namespace}control-icon--xlarge {
  width: $icon-xlarge-size;
  height: $icon-xlarge-size;
}

.#{settings.$grommet-namespace}control-icon--huge {
  width: $icon-huge-size;
  height: $icon-huge-size;
}

@include tools4.media-query(palm) {
  .#{settings.$grommet-namespace}control-icon--responsive {
    &.#{settings.$grommet-namespace}control-icon--large,
    &.#{settings.$grommet-namespace}control-icon--xlarge,
    &.#{settings.$grommet-namespace}control-icon--huge {
      width: settings.$inuit-base-spacing-unit;
      height: settings.$inuit-base-spacing-unit;
    }
  }
}

.#{settings.$grommet-namespace}status-icon {
  width: settings.$inuit-base-spacing-unit;
  height: settings.$inuit-base-spacing-unit;
  vertical-align: middle;
  flex: 0 0 auto;

  .#{settings.$grommet-namespace}status-icon__base {
    fill: map.get(settings2.$brand-status-colors, unknown);

    #{settings2.$dark-background-context} {
      fill: icon-color(settings2.$colored-status-color);
    }
  }

  .#{settings.$grommet-namespace}status-icon__detail {
    fill: settings2.$background-color;
    stroke: settings2.$background-color;
  }

  .#{settings.$grommet-namespace}status-icon__small {
    display: none;
    stroke: map.get(settings2.$brand-status-colors, unknown);

    #{settings2.$dark-background-context} {
      stroke: settings2.$colored-status-color;
    }
  }
}

.#{settings.$grommet-namespace}status-icon-label {
  .#{settings.$grommet-namespace}status-icon__base {
    fill: map.get(settings2.$brand-status-colors, unknown);
  }
}

.#{settings.$grommet-namespace}status-icon-unknown {
  .#{settings.$grommet-namespace}status-icon__detail {
    fill: map.get(settings2.$brand-status-colors, unknown);
    stroke: map.get(settings2.$brand-status-colors, unknown);
  }
}

.#{settings.$grommet-namespace}status-icon--xsmall {
  width: $icon-xsmall-size;
  height: $icon-xsmall-size;
}

.#{settings.$grommet-namespace}status-icon--medium {
  width: $icon-medium-size;
  height: $icon-medium-size;
}

.#{settings.$grommet-namespace}status-icon--large {
  width: $icon-large-size;
  height: $icon-large-size;
}

.#{settings.$grommet-namespace}status-icon--xlarge {
  width: $icon-xlarge-size;
  height: $icon-xlarge-size;
}

.#{settings.$grommet-namespace}status-icon--huge {
  width: $icon-huge-size;
  height: $icon-huge-size;
}

.#{settings.$grommet-namespace}status-icon--small {
  width: tools.halve(settings.$inuit-base-spacing-unit);
  height: tools.halve(settings.$inuit-base-spacing-unit);
  // adjust margin so it aligns with text better
  margin-top: tools.quarter(settings.$inuit-base-spacing-unit);
  margin-bottom: tools.quarter(settings.$inuit-base-spacing-unit);

  .#{settings.$grommet-namespace}status-icon__base {
    mask: none;
  }

  .#{settings.$grommet-namespace}status-icon__detail,
  .#{settings.$grommet-namespace}status-icon__normal {
    display: none;
  }

  .#{settings.$grommet-namespace}status-icon__small {
    display: block;
  }
}

@each $status, $color in settings2.$brand-status-colors {
  .#{settings.$grommet-namespace}status-icon-#{$status} {
    .#{settings.$grommet-namespace}status-icon__base {
      fill: $color;
    }
  }
}

$spinning-dash: math.round(settings.$inuit-base-spacing-unit * 2 * 3.1416);

@include tools5.keyframes(drawAndReverse) {
  0% {
    stroke-dashoffset: $spinning-dash;
  }

  100% {
    stroke-dashoffset: - ($spinning-dash - 20); // empirical
  }
}

@include tools5.keyframes(fadeOut) {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.#{settings.$grommet-namespace}icon-spinning {
  width: settings.$inuit-base-spacing-unit;
  height: settings.$inuit-base-spacing-unit;
  stroke-dasharray: $spinning-dash $spinning-dash;
  stroke-dashoffset: 0;
  transform: rotate(90deg);
  @include tools5.animation('drawAndReverse 4s alternate infinite ease-in-out');
  @media all and (-ms-high-contrast: none) {
    transform: rotate(0deg);
    stroke-dashoffset: 50;
    @include tools5.animation('fadeOut 3s infinite linear');
  }
}

.#{settings.$grommet-namespace}icon-spinning--xsmall {
  width: $icon-xsmall-size;
  height: $icon-xsmall-size;
}

.#{settings.$grommet-namespace}icon-spinning--medium {
  width: $icon-medium-size;
  height: $icon-medium-size;
}

.#{settings.$grommet-namespace}icon-spinning--large {
  width: $icon-large-size;
  height: $icon-large-size;
}

.#{settings.$grommet-namespace}icon-spinning--xlarge {
  width: $icon-xlarge-size;
  height: $icon-xlarge-size;
}

.#{settings.$grommet-namespace}icon-spinning--huge {
  width: $icon-huge-size;
  height: $icon-huge-size;
}

.#{settings.$grommet-namespace}icon-spinning--xlarge.#{settings.$grommet-namespace}icon-spinning--responsive,
.#{settings.$grommet-namespace}icon-spinning--huge.#{settings.$grommet-namespace}icon-spinning--responsive {
  @include tools4.media-query(palm) {
    width: math.round(settings.$inuit-base-spacing-unit * 2);
    height: math.round(settings.$inuit-base-spacing-unit * 2);
  }
}

$logo-size: tools.double(settings.$inuit-base-spacing-unit);
$logo-dash-size: math.round($logo-size * 16);

@include tools5.keyframes(draw-logo) {
  0% {
    stroke-dashoffset: $logo-dash-size;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.#{settings.$grommet-namespace}logo-icon {
  width: $logo-size;
  height: $logo-size;

  @include tools3.graph-stroke-color();

  @include tools4.media-query(lap-and-up) {
    path {
      stroke-dasharray: $logo-dash-size $logo-dash-size;
      stroke-dashoffset: 0;
      @include tools5.animation('draw-logo 2.5s linear');
    }
  }
}

.#{settings.$grommet-namespace}logo-icon--small {
  width: tools.halve($logo-size);
  height: tools.halve($logo-size);
}

.#{settings.$grommet-namespace}logo-icon--large {
  width: tools.double($logo-size);
  height: tools.double($logo-size);
}

.#{settings.$grommet-namespace}logo-icon--xlarge {
  width: tools.quadruple($logo-size);
  height: tools.quadruple($logo-size);
}

.#{settings.$grommet-namespace}logo-icon--huge {
  width: math.round($logo-size * 8);
  height: math.round($logo-size * 8);
}

.right-left-icon {
  &--left {
    display: none;
  }

  html.rtl & {
    &--left {
      display: inline;
    }

    &--right {
      display: none;
    }
  }
}
