@use "settings.color" as settings2;
@use "settings.defaults";
@use "settings.font" as settings3;
@use "tools.color-index";
@use "tools.functions" as tools2;
@use "tools.mixins" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}distribution {
  position: relative;
  width: 100%;
}

.#{settings.$grommet-namespace}distribution__graphic {
  // We position the SVG absolutely so we can size it based on the container
  // without it influcing the size itself.
  position: absolute;
  top: 0px;
  left: 0px;
  outline: none;
  max-width: 100%;
}

.#{settings.$grommet-namespace}distribution__graphic--focus {
  border-color: settings2.$focus-border-color;
  box-shadow: 0 0 1px 1px settings2.$focus-border-color;
}

.#{settings.$grommet-namespace}distribution__background {
  fill: settings2.$secondary-background-color;

  #{settings2.$dark-background-context} {
    fill: settings2.$colored-active-background-color;
  }

  #{settings2.$light-background-context} {
    fill: settings2.$secondary-background-color;
  }
}

.#{settings.$grommet-namespace}distribution__item--clickable {
  cursor: pointer;
  outline: none;
}

.#{settings.$grommet-namespace}distribution__item-box {
  @include tools.graph-fill-color();
  transition: all 0.2s ease;
}

.#{settings.$grommet-namespace}distribution__item-icons {
  @include tools.graph-stroke-color();
}

.#{settings.$grommet-namespace}distribution__label {
  position: absolute;
  background-color: transparent;
  padding: tools2.quarter(settings.$inuit-base-spacing-unit) tools2.halve(settings.$inuit-base-spacing-unit);
  font-family: settings3.$brand-large-number-font-family;
  overflow: hidden;
  text-align: left;
  pointer-events: none;
  @include tools.overlayed-text-color();
  transition: all 0.2s ease;
}

.#{settings.$grommet-namespace}distribution__label-value {
  display: block;
  @include tools3.inuit-font-size(settings3.$large-number-font-size);
  font-weight: settings3.$text-strong-font-weight;
}

.#{settings.$grommet-namespace}distribution__label-units {
  @include tools3.inuit-font-size(settings3.$h3-font-size, inherit);
  margin-left: tools2.quarter(settings.$inuit-base-spacing-unit);
  font-weight: settings3.$text-font-weight;
}

.#{settings.$grommet-namespace}distribution__label-label {
  display: block;
}

.#{settings.$grommet-namespace}distribution__label--active {
  z-index: 10;
  color: settings2.$text-color;
  border-right: 2px solid settings2.$secondary-background-color;
  border-left: 2px solid settings2.$secondary-background-color;
  opacity: 0.9;
}

.#{settings.$grommet-namespace}distribution__label--thin {
  .#{settings.$grommet-namespace}distribution__label-value,
  .#{settings.$grommet-namespace}distribution__label-label {
    display: inline-block;
  }
}

.#{settings.$grommet-namespace}distribution__label--small {
  // padding: 0 halve($inuit-base-spacing-unit)
  //   halve($inuit-base-spacing-unit) quarter($inuit-base-spacing-unit);

  .#{settings.$grommet-namespace}distribution__label-value,
  .#{settings.$grommet-namespace}distribution__label-units {
    @include tools3.inuit-font-size(settings3.$small-large-number-font-size, 1);
    margin-right: 4px;
  }
}

.#{settings.$grommet-namespace}distribution__label--icons {
  padding: 0 tools2.halve(settings.$inuit-base-spacing-unit) tools2.halve(settings.$inuit-base-spacing-unit) 0;
  background-color: settings2.$active-background-color;
  color: settings2.$text-color;

  #{settings2.$dark-background-context} {
    background-color: settings2.$colored-active-background-color;
    color: settings2.$colored-text-color;
  }

  #{settings2.$light-background-context} {
    background-color: settings2.$active-background-color;
    color: settings2.$text-color;
  }

  .label-value {
    line-height: 1;
  }

  .label-units {
    color: settings2.$secondary-text-color;
  }

  .label-label {
    display: block;
  }
}

.#{settings.$grommet-namespace}distribution__loading-indicator {
  stroke-width: settings.$inuit-base-spacing-unit;
  @include tools.graph-stroke-color();
}

.#{settings.$grommet-namespace}distribution--icons {
  .#{settings.$grommet-namespace}distribution__label {
    padding: 0 tools2.halve(settings.$inuit-base-spacing-unit) tools2.halve(settings.$inuit-base-spacing-unit) 0;
  }

  .#{settings.$grommet-namespace}distribution__label-value {
    line-height: 1;
  }
}

.#{settings.$grommet-namespace}distribution--small {
  height: settings.$size-small;
}

.#{settings.$grommet-namespace}distribution--medium {
  height: settings.$size-medium;
}

.#{settings.$grommet-namespace}distribution--large {
  height: settings.$size-large;
}

.#{settings.$grommet-namespace}distribution--full {
  height: 100%;
  flex: 1 1;

  .#{settings.$grommet-namespace}distribution__graphic {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
}
