@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.functions";
@use "tools.responsive" as tools2;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}tab {
  padding: 0 tools.halve(settings.$inuit-base-spacing-unit);

  @include tools2.media-query(palm) {
    padding: tools.quarter(settings.$inuit-base-spacing-unit);
  }

  .#{settings.$grommet-namespace}tabs--justify-start &:first-of-type,
  .#{settings.$grommet-namespace}tabs--justify-end &:first-of-type {
    padding-left: 0;
  }

  .#{settings.$grommet-namespace}tabs--justify-start &:last-of-type,
  .#{settings.$grommet-namespace}tabs--justify-end &:last-of-type {
    padding-right: 0;
  }

  .#{settings.$grommet-namespace}tabs--responsive &:first-of-type,
  .#{settings.$grommet-namespace}tabs--responsive &:last-of-type {
    @include tools2.media-query(palm) {
      padding-left: tools.halve(settings.$inuit-base-spacing-unit);
      padding-right: tools.halve(settings.$inuit-base-spacing-unit);
    }
  }
}

.#{settings.$grommet-namespace}tab__label {
  display: inline-block;
  cursor: pointer;
  padding-bottom: tools.quarter(settings.$inuit-base-spacing-unit) + settings.$active-border-width;
  color: settings2.$secondary-text-color;
  border-bottom: settings.$active-border-width solid transparent;

  @include tools2.media-query(palm) {
    padding-bottom: tools.quarter(settings.$inuit-base-spacing-unit);
  }
}

.#{settings.$grommet-namespace}tab--active {
  .#{settings.$grommet-namespace}tab__label {
    color: settings2.$hover-text-color;
    border-color: settings2.$hover-text-color;
  }
}

.#{settings.$grommet-namespace}tab:hover:not(.#{settings.$grommet-namespace}tab--active) {
  .#{settings.$grommet-namespace}tab__label {
    border-color: settings2.$border-color;
  }
}
