@use "settings.defaults";
@use "settings.font" as settings2;
@use "tools.functions" as tools4;
@use "tools.mixins" as tools3;
@use "tools.pad" as tools2;
@use "tools.responsive";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}form {
  position: relative;
  max-width: 100%;

  @include tools.media-query(lap-and-up) {
    // For some reason, Tiles inside FormField doesn't determine its
    // width correctly. Enforce it here.
    .#{settings.$grommet-namespace}form-field .#{settings.$grommet-namespace}tiles__container {
      max-width: settings.$form-width;
    }
  }

  @include tools2.pad();

  > .#{settings.$grommet-namespace}header .#{settings.$grommet-namespace}header__wrapper { // TODO: clean up
    background-color: inherit;
  }

  fieldset {
    // needed to avoid form fields overflow form element
    min-width: 0;
    border: none;
    margin: 0px;
    margin-bottom: 2rem;
    margin-top: settings.$inuit-base-spacing-unit;

    &:first-child {
      margin-top: 0px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    > legend {
      @include tools3.inuit-font-size(24px);
      font-weight: settings2.$text-strong-font-weight;
      margin-bottom: tools4.halve(settings.$inuit-base-spacing-unit);
    }

    > *:not(.#{settings.$grommet-namespace}form-field) + .#{settings.$grommet-namespace}form-field {
      margin-top: tools4.halve(settings.$inuit-base-spacing-unit);
    }

    > .#{settings.$grommet-namespace}form-field + *:not(.#{settings.$grommet-namespace}form-field):not(.#{settings.$grommet-namespace}form-fields) {
      margin-top: settings.$inuit-base-spacing-unit;
    }

    > .#{settings.$grommet-namespace}form-fields {
      display: flex;
      flex-direction: row;

      .#{settings.$grommet-namespace}form-field {
        margin-bottom: -1px;
      }

      > .#{settings.$grommet-namespace}button {
        flex: 0 0 auto;
      }
    }
  }
}

.#{settings.$grommet-namespace}form:not(.#{settings.$grommet-namespace}form--plain) {
  width: settings.$form-width;
}

.#{settings.$grommet-namespace}form--fill {
  min-width: 0px;
}

.#{settings.$grommet-namespace}form--compact {
  max-width: settings.$compact-form-width;
}
