@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.functions" as tools2;
@use "tools.input";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}search-input {
  position: relative;
  display: inline-block;
}

.#{settings.$grommet-namespace}search-input__input {
  @include tools.input();
  padding-right: math.round(settings.$inuit-base-spacing-unit * 2.5);
}

.#{settings.$grommet-namespace}search-input__input:focus {
  padding-right: math.round(settings.$inuit-base-spacing-unit * 2.5 -
    (settings.$input-border-width + 1));
}

// Disable IE's clear icon
.#{settings.$grommet-namespace}search-input__input::-ms-clear {
  display: none;
}

.#{settings.$grommet-namespace}search-input__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: tools2.quarter(settings.$inuit-base-spacing-unit);
}

.#{settings.$grommet-namespace}search-input__suggestions {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: 0px;
  list-style-type: none;
}

.#{settings.$grommet-namespace}search-input__suggestion {
  padding: tools2.quarter(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit;
  cursor: pointer;

  &:hover,
  &--active {
    background-color: settings2.$hover-background-color;
  }
}

.#{settings.$grommet-namespace}search-input--active {
  .#{settings.$grommet-namespace}search-input__input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
