@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.animation";
@use "tools.color-index" as tools4;
@use "tools.functions" as tools3;
@use "tools.responsive" as tools2;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

@include tools.keyframes(fade-in-chart) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// New stuff

.#{settings.$grommet-namespace}chart {
  position: relative;
  display: flex;

  .#{settings.$grommet-namespace}chart {
    min-width: 0; // looks odd but needed for flexbox to work right
    max-width: 100%;
  }
}

.#{settings.$grommet-namespace}chart--full {
  width: 100%;
}

.#{settings.$grommet-namespace}chart--vertical {
  flex-direction: column;
}

.#{settings.$grommet-namespace}chart:not(.#{settings.$grommet-namespace}chart--vertical) {
  flex-direction: row;
}

// Base

.#{settings.$grommet-namespace}chart-base {
  display: flex;
}

.#{settings.$grommet-namespace}chart-base--vertical {
  flex-direction: column;
}

.#{settings.$grommet-namespace}chart-base:not(.#{settings.$grommet-namespace}chart-base--vertical) {
  flex-direction: row;

  > * {
    flex: 0 0 auto;
  }
}

.#{settings.$grommet-namespace}chart-base--width-small {
  width: settings.$size-small;
}

.#{settings.$grommet-namespace}chart-base--width-medium {
  width: settings.$size-medium;
}

.#{settings.$grommet-namespace}chart-base--width-large {
  width: settings.$size-large;

  @include tools2.media-query(palm) {
    max-width: 100%;
  }
}

.#{settings.$grommet-namespace}chart-base--width-full {
  width: 100%;
}

.#{settings.$grommet-namespace}chart-base--height-xxsmall {
  height: settings.$size-xxsmall;
}

.#{settings.$grommet-namespace}chart-base--height-xsmall {
  height: settings.$size-xsmall;
}

.#{settings.$grommet-namespace}chart-base--height-small {
  height: settings.$size-small;
}

.#{settings.$grommet-namespace}chart-base--height-medium {
  height: settings.$size-medium;

  @include tools2.media-query(palm) {
    height: settings.$size-small;
  }
}

.#{settings.$grommet-namespace}chart-base--height-large {
  height: settings.$size-large;

  @include tools2.media-query(palm) {
    height: settings.$size-medium;
  }
}

.#{settings.$grommet-namespace}chart-base--height-sparkline {
  height: settings.$sparkline-height;
  width: settings.$sparkline-height * 4;

  &.#{settings.$grommet-namespace}chart-base--width-xsmall {
    width: settings.$size-xsmall;
  }

  &.#{settings.$grommet-namespace}chart-base--width-small {
    width: settings.$size-small;
  }

  &.#{settings.$grommet-namespace}chart-base--width-medium {
    width: settings.$size-medium;
  }

  &.#{settings.$grommet-namespace}chart-base--width-large {
    width: settings.$size-large;

    @include tools2.media-query(palm) {
      max-width: 100%;
    }
  }
}

// Axis

.#{settings.$grommet-namespace}chart-axis {
  flex: 0 0 auto; // when in Chart
  display: flex;
  flex-direction: row;
}

.#{settings.$grommet-namespace}chart-axis__slot {
  flex: 0 0;
  display: flex;
  flex-direction: column;
  // to work around Safari repaint issues
  -webkit-transform: translateZ(0);
}

.#{settings.$grommet-namespace}chart-axis--ticks {
  .#{settings.$grommet-namespace}chart-axis__slot {
    &::before,
    &::after {
      background-color: settings2.$border-color;
    }

    #{settings2.$dark-background-context} {
      &::before,
      &::after {
        background-color: settings2.$colored-border-color;
      }
    }

    #{settings2.$light-background-context} {
      &::before,
      &::after {
        background-color: settings2.$border-color;
      }
    }
  }
}

.#{settings.$grommet-namespace}chart-axis--vertical {
  flex-direction: column-reverse;
  margin-left: tools3.halve(settings.$inuit-base-spacing-unit);
  margin-right: tools3.halve(settings.$inuit-base-spacing-unit);

  .#{settings.$grommet-namespace}chart-axis__slot {
    min-width: 1em;
    justify-content: flex-start;

    &:first-child {
      flex-direction: column-reverse;
    }
  }

  &.#{settings.$grommet-namespace}chart-axis--align-start {
    align-items: flex-start;

    .#{settings.$grommet-namespace}chart-axis__slot {
      align-items: flex-start;
    }
  }

  &.#{settings.$grommet-namespace}chart-axis--align-end {
    align-items: flex-end;

    .#{settings.$grommet-namespace}chart-axis__slot {
      align-items: flex-end;
    }
  }

  &.#{settings.$grommet-namespace}chart-axis--ticks {
    .#{settings.$grommet-namespace}chart-axis__slot:not(.#{settings.$grommet-namespace}chart-axis__slot--placeholder) {
      &::before {
        display: block;
        content: "";
        height: 1px;
        width: tools3.halve(tools3.halve(settings.$inuit-base-spacing-unit));
      }
    }

    &.#{settings.$grommet-namespace}chart-axis--ticks--start {
      .#{settings.$grommet-namespace}chart-axis__slot {
        align-items: flex-start;
      }
    }

    &.#{settings.$grommet-namespace}chart-axis--ticks--end {
      .#{settings.$grommet-namespace}chart-axis__slot {
        align-items: flex-end;
      }
    }
  }

  &.#{settings.$grommet-namespace}chart-axis--reverse {
    flex-direction: column;

    .#{settings.$grommet-namespace}chart-axis__slot {
      justify-content: flex-start;
      flex-direction: column-reverse;

      &:first-child {
        flex-direction: column;
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-start;
      }
    }

    &.#{settings.$grommet-namespace}chart-axis--ticks--start {
      .#{settings.$grommet-namespace}chart-axis__slot {
        align-items: flex-start;
      }
    }

    &.#{settings.$grommet-namespace}chart-axis--ticks--end {
      .#{settings.$grommet-namespace}chart-axis__slot {
        align-items: flex-end;
      }
    }
  }
}

.#{settings.$grommet-namespace}chart-axis:not(.#{settings.$grommet-namespace}chart-axis--vertical) {
  flex-direction: row;
  margin-top: tools3.halve(settings.$inuit-base-spacing-unit);
  margin-bottom: tools3.halve(settings.$inuit-base-spacing-unit);

  .#{settings.$grommet-namespace}chart-axis__slot {
    min-height: settings.$inuit-base-spacing-unit;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;

    &:first-child {
      align-items: flex-start;
      flex-direction: row-reverse;
      padding-left: 0;
    }
  }

  &.#{settings.$grommet-namespace}chart-axis--align-start {
    align-items: flex-start;
  }

  &.#{settings.$grommet-namespace}chart-axis--align-end {
    align-items: flex-end;

    .#{settings.$grommet-namespace}chart-axis__slot {
      justify-content: flex-end;
    }
  }

  &.#{settings.$grommet-namespace}chart-axis--ticks {
    .#{settings.$grommet-namespace}chart-axis__slot::after {
      display: block;
      content: "";
      height: tools3.halve(tools3.halve(settings.$inuit-base-spacing-unit));
      width: 1px;
    }

    &.#{settings.$grommet-namespace}chart-axis--ticks--end {
      .#{settings.$grommet-namespace}chart-axis__slot:not(.#{settings.$grommet-namespace}chart-axis__slot--placeholder) {
        align-items: flex-end;
      }
    }

    &.#{settings.$grommet-namespace}chart-axis--ticks--start {
      .#{settings.$grommet-namespace}chart-axis__slot:not(.#{settings.$grommet-namespace}chart-axis__slot--placeholder) {
        align-items: flex-start;
      }
    }

    .#{settings.$grommet-namespace}chart-axis__slot:not(.#{settings.$grommet-namespace}chart-axis__slot--placeholder) {
      > span {
        padding: 0 tools3.quarter(settings.$inuit-base-spacing-unit);
      }
    }
  }

  &.#{settings.$grommet-namespace}chart-axis--reverse {
    flex-direction: row-reverse;

    .#{settings.$grommet-namespace}chart-axis__slot {
      align-items: flex-start;
    }

    &.#{settings.$grommet-namespace}chart-axis--ticks {
      .#{settings.$grommet-namespace}chart-axis__slot {
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: row-reverse;

        &:first-child {
          flex-direction: row;
        }
      }
    }
  }
}

// MarkerLabel

.#{settings.$grommet-namespace}chart-marker-label {
  flex: 0 0 auto; // when in Chart
  display: flex;
  flex-direction: row;
}

.#{settings.$grommet-namespace}chart-marker-label__slot {
  flex: 0 0;
  display: flex;
  flex-direction: column;
  // to work around Safari repaint issues
  -webkit-transform: translateZ(0);
}

.#{settings.$grommet-namespace}chart-marker-label--vertical {
  flex-direction: column-reverse;
  // padding-top: round($inuit-base-spacing-unit / 3);
  // padding-bottom: round($inuit-base-spacing-unit / 3);
  margin-left: tools3.halve(settings.$inuit-base-spacing-unit);
  margin-right: tools3.halve(settings.$inuit-base-spacing-unit);

  .#{settings.$grommet-namespace}chart-marker-label__slot {
    min-width: 1em;
    justify-content: flex-start;

    &.#{settings.$grommet-namespace}chart-marker-label__slot--flip {
      justify-content: flex-end;
    }
  }

  &.#{settings.$grommet-namespace}chart-marker-label--align-start {
    align-items: flex-start;

    .#{settings.$grommet-namespace}chart-marker-label__slot {
      align-items: flex-start;
    }
  }

  &.#{settings.$grommet-namespace}chart-marker-label--align-end {
    align-items: flex-end;

    .#{settings.$grommet-namespace}chart-marker-label__slot {
      align-items: flex-end;
    }
  }

  &.#{settings.$grommet-namespace}chart-marker-label--reverse {
    flex-direction: column;

    .#{settings.$grommet-namespace}chart-marker-label__slot {
      justify-content: flex-end;

      &.#{settings.$grommet-namespace}chart-marker-label__slot--flip {
        justify-content: flex-start;
      }
    }
  }
}

.#{settings.$grommet-namespace}chart-marker-label:not(.#{settings.$grommet-namespace}chart-marker-label--vertical) {
  flex-direction: row;
  // padding-left: round($inuit-base-spacing-unit / 3);
  // padding-right: round($inuit-base-spacing-unit / 3);
  margin-top: tools3.halve(settings.$inuit-base-spacing-unit);
  margin-bottom: tools3.halve(settings.$inuit-base-spacing-unit);

  .#{settings.$grommet-namespace}chart-marker-label__slot {
    min-height: settings.$inuit-base-spacing-unit;
    align-items: flex-end;

    &.#{settings.$grommet-namespace}chart-marker-label__slot--flip {
      align-items: flex-start;
    }
  }

  &.#{settings.$grommet-namespace}chart-marker-label--align-start {
    align-items: flex-start;

    .#{settings.$grommet-namespace}chart-marker-label__slot {
      justify-content: flex-start;
    }
  }

  &.#{settings.$grommet-namespace}chart-marker-label--align-end {
    align-items: flex-end;

    .#{settings.$grommet-namespace}chart-marker-label__slot {
      justify-content: flex-end;
    }
  }
}

// Layers

.#{settings.$grommet-namespace}chart-layers {
  position: absolute;
  @include tools.animation('fade-in-chart 0.5s');
}

@include tools.keyframes(stretch-up-chart) {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}

@include tools.keyframes(stretch-right-chart) {
  0% {
    max-width: 0;
  }

  100% {
    max-width: 100%;
  }
}

.#{settings.$grommet-namespace}chart-marker,
.#{settings.$grommet-namespace}chart-grid,
.#{settings.$grommet-namespace}chart-graph--line,
.#{settings.$grommet-namespace}chart-graph--area,
.#{settings.$grommet-namespace}chart-graph--bar,
.#{settings.$grommet-namespace}chart-hot-spots,
.#{settings.$grommet-namespace}chart-range,
.#{settings.$grommet-namespace}chart-loading {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

// Loading

.#{settings.$grommet-namespace}chart-loading {
  top: 0;
  stroke-width: settings.$inuit-base-spacing-unit;
  stroke: settings2.$unset-color;
  stroke-dasharray: 1 settings.$inuit-base-spacing-unit;
  stroke-dashoffset: 0;
}

// HotSpots

.#{settings.$grommet-namespace}chart-hot-spots {
  display: flex;
  width: 100%;

  > * {
    flex: 0 0;
  }
}

.#{settings.$grommet-namespace}chart-hot-spots--vertical {
  flex-direction: column;
}

.#{settings.$grommet-namespace}chart-hot-spots:not(.#{settings.$grommet-namespace}chart-hot-spots--vertical) {
  flex-direction: row;
}

.#{settings.$grommet-namespace}chart-hot-spots--clickable {
  cursor: pointer;
}

// Range

$range-inactive-background-color: rgba(#fff, 0.7);
$range-inactive-colored-background-color: rgba(#000, 0.4);
$range-control-background-color: rgba(#fff, 0.7);
$range-control-colored-background-color: rgba(#000, 0.5);

.#{settings.$grommet-namespace}chart-range {
  display: flex;
  flex-direction: row;
}

.#{settings.$grommet-namespace}chart-range__active {
  position: relative;
  height: 100%;
  flex: 1 1;
  cursor: ew-resize;
}

.#{settings.$grommet-namespace}chart-range__before,
.#{settings.$grommet-namespace}chart-range__after {
  position: relative;
  flex: 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $range-inactive-background-color;
  z-index: 1;

  #{settings2.$dark-background-context} {
    background-color: $range-inactive-colored-background-color;
  }

  #{settings2.$light-background-context} {
    background-color: $range-inactive-background-color;
  }
}

.#{settings.$grommet-namespace}chart-range__before {
  justify-content: flex-end;
  border-color: settings2.$border-color;
  border-width: 1px;
  border-style: none solid none none;
}

.#{settings.$grommet-namespace}chart-range__before--end {
  z-index: 2;
}

.#{settings.$grommet-namespace}chart-range__after {
  justify-content: flex-start;
  border-color: settings2.$border-color;
  border-width: 1px;
  border-style: none none none solid;
}

.#{settings.$grommet-namespace}chart-range__start,
.#{settings.$grommet-namespace}chart-range__end {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  flex: 0 1 settings.$inuit-base-spacing-unit;
  background-color: $range-control-background-color;
  border: 1px solid settings2.$border-color;
  padding: tools3.quarter(settings.$inuit-base-spacing-unit) 0;
  height: math.round(settings.$inuit-base-spacing-unit * 1.5);
  cursor: col-resize;
  outline: none;

  #{settings2.$dark-background-context} {
    background-color: $range-control-colored-background-color;
    border-color: settings2.$colored-border-color;
  }

  #{settings2.$light-background-context} {
    background-color: $range-control-background-color;
    border-color: settings2.$border-color;
  }

  &:hover {
    background-color: settings2.$background-color;
    border-color: settings2.$strong-border-color;

    #{settings2.$dark-background-context} {
      background-color: $range-control-colored-background-color;
      border-color: settings2.$colored-strong-border-color;
    }

    #{settings2.$light-background-context} {
      background-color: settings2.$background-color;
      border-color: settings2.$strong-border-color;
    }
  }

  svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.#{settings.$grommet-namespace}chart-range__start {
  right: -1px;
}

.#{settings.$grommet-namespace}chart-range__start--edge {
  right: -(settings.$inuit-base-spacing-unit + 2px); // account for border
}

.#{settings.$grommet-namespace}chart-range__end {
  left: -1px;
}

.#{settings.$grommet-namespace}chart-range__end--edge {
  left: -(settings.$inuit-base-spacing-unit + 2px); // account for border
}

.#{settings.$grommet-namespace}chart-range__start--focus,
.#{settings.$grommet-namespace}chart-range__end--focus {
  border-color: settings2.$focus-border-color;
  box-shadow: 0 0 1px 1px settings2.$focus-border-color;
}

.#{settings.$grommet-namespace}chart-range--vertical {
  flex-direction: column;

  .#{settings.$grommet-namespace}chart-range__active {
    width: 100%;
    cursor: ns-resize;
  }

  .#{settings.$grommet-namespace}chart-range__before,
  .#{settings.$grommet-namespace}chart-range__after {
    flex-direction: column;
  }

  .#{settings.$grommet-namespace}chart-range__before {
    border-style: none none solid;
  }

  .#{settings.$grommet-namespace}chart-range__after {
    border-style: solid none none;
  }

  .#{settings.$grommet-namespace}chart-range__start,
  .#{settings.$grommet-namespace}chart-range__end {
    top: auto;
    transform: none;
    padding: 0 tools3.quarter(settings.$inuit-base-spacing-unit);
    height: settings.$inuit-base-spacing-unit + 2px;
    // width: round($inuit-base-spacing-unit * 1.5);
    cursor: row-resize;
  }

  .#{settings.$grommet-namespace}chart-range__start {
    right: auto;
    bottom: -1px;
  }

  .#{settings.$grommet-namespace}chart-range__start--edge {
    bottom: -(settings.$inuit-base-spacing-unit + 2px); // account for border
  }

  .#{settings.$grommet-namespace}chart-range__end {
    left: auto;
    top: -1px;
  }

  .#{settings.$grommet-namespace}chart-range__end--edge {
    top: -(settings.$inuit-base-spacing-unit + 2px); // account for border
  }

  svg {
    transform: rotate(90deg);
  }
}

// Grid

.#{settings.$grommet-namespace}chart-grid {
  path {
    stroke: settings2.$border-color;

    #{settings2.$dark-background-context} {
      stroke: settings2.$colored-border-color;
    }

    #{settings2.$light-background-context} {
      stroke: settings2.$border-color;
    }
  }
}

// Marker

.#{settings.$grommet-namespace}chart-marker {
  stroke: settings2.$border-color;
  @include tools4.graph-stroke-color-translucent(0.7);
  @include tools.animation('fade-in-chart 1s');

  #{settings2.$dark-background-context} {
    @include tools4.graph-stroke-color();
  }

  #{settings2.$light-background-context} {
    @include tools4.graph-stroke-color-translucent(0.7);
  }
}

// Graph

.#{settings.$grommet-namespace}chart-graph--line {
  stroke-width: 3px;
  @include tools4.graph-stroke-color-translucent(0.7);
}

.#{settings.$grommet-namespace}chart-graph--bar {
  stroke-width: 4px;
  @include tools4.graph-stroke-color-translucent(0.7);

  &.#{settings.$grommet-namespace}chart-graph--vertical {
    @include tools.animation('stretch-right-chart 1.5s');
  }

  &:not(.#{settings.$grommet-namespace}chart-graph--vertical) {
    bottom: 0;
    @include tools.animation('stretch-up-chart 1.5s');
  }
}

.#{settings.$grommet-namespace}chart-graph--area {
  stroke-width: 3px;
  @include tools4.graph-fill-color-translucent(0.7);

  &.#{settings.$grommet-namespace}chart-graph--vertical {
    @include tools.animation('stretch-right-chart 1.5s');
  }

  &:not(.#{settings.$grommet-namespace}chart-graph--vertical) {
    bottom: 0;
    @include tools.animation('stretch-up-chart 1.5s');
  }

  .#{settings.$grommet-namespace}chart-graph__point {
    stroke: settings2.$background-color;
  }
}

.#{settings.$grommet-namespace}chart-graph__point {
  stroke: none;
  @include tools4.graph-fill-color-translucent(0.9);
  // fill: $background-color;
  transition: r settings.$base-animation-duration;
  @include tools.animation('fade-in-chart 0.3s');
}

.#{settings.$grommet-namespace}chart-graph__point--active {
  stroke: settings2.$background-color;
  @include tools4.graph-fill-color();

  #{settings2.$dark-background-context} {
    stroke: settings2.$colored-active-background-color;
  }

  #{settings2.$light-background-context} {
    stroke: settings2.$background-color;
  }
}
