@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.animation";
@use "tools.color-index" as tools3;
@use "tools.functions" as tools2;

// (C) Copyright 2016 Hewlett Packard Enterprise Development LP

$sun-burst-slice-width: math.round(settings.$inuit-base-spacing-unit);
$sun-burst-small-slice-width: math.round(settings.$inuit-base-spacing-unit * 0.5);
$sun-burst-large-slice-width: math.round(settings.$inuit-base-spacing-unit * 1.5);
$sun-burst-xlarge-slice-width: math.round(settings.$inuit-base-spacing-unit * 3);

@include tools.keyframes(fade-in) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include tools.keyframes(draw-arc) {
  0% {
    stroke-dashoffset: - settings.$size-medium;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.#{settings.$grommet-namespace}sun-burst {
  position: relative;
  height: settings.$size-medium;
  width: settings.$size-medium;
  max-width: 100%;
}

.#{settings.$grommet-namespace}sun-burst__graphic {
  @include tools.animation('fade-in 2.5s');
  outline: none;
}

.#{settings.$grommet-namespace}sun-burst__graphic--focus {
  border-color: settings2.$focus-border-color;
  box-shadow: 0 0 1px 1px settings2.$focus-border-color;
}

.#{settings.$grommet-namespace}sun-burst__label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.#{settings.$grommet-namespace}sun-burst__slice {
  stroke-linecap: butt;
  stroke-dasharray: tools2.quadruple(settings.$size-medium) tools2.quadruple(settings.$size-medium);
  stroke-dashoffset: 0;
  stroke: settings2.$meter-background-color;
  @include tools3.graph-stroke-color();
  @include tools.animation('draw-arc 1.5s linear');
  transition: opacity settings.$base-animation-duration;
}

.#{settings.$grommet-namespace}sun-burst__slice--hot {
  cursor: pointer;
  outline: none;
}

.#{settings.$grommet-namespace}sun-burst--active {
  .#{settings.$grommet-namespace}sun-burst__slice {
    opacity: 0.7;
  }

  .#{settings.$grommet-namespace}sun-burst__slice--active {
    opacity: 1;
  }
}

.#{settings.$grommet-namespace}sun-burst--small {
  height: settings.$size-small;
  width: settings.$size-small;
}

.#{settings.$grommet-namespace}sun-burst--large {
  height: settings.$size-large;
  width: settings.$size-large;
}

.#{settings.$grommet-namespace}sun-burst--xlarge {
  height: settings.$size-xlarge;
  width: settings.$size-xlarge;
}

.#{settings.$grommet-namespace}sun-burst--full {
  width: 100%;
}
