@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "settings.font" as settings3;
@use "tools.functions" as tools4;
@use "tools.input";
@use "tools.mixins" as tools2;
@use "tools.responsive" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}search {
  display: inline-block;

  &:focus {
    outline: none;
    margin: -1px;
    border: 1px solid settings2.$focus-border-color;
    box-shadow: 0 0 1px 1px settings2.$focus-border-color;
  }
}

.#{settings.$grommet-namespace}search--controlled {
  cursor: pointer;
}

.#{settings.$grommet-namespace}search__input {
  margin-right: 0px;
  @include tools.input();

  // Disable IE's clear icon
  &::-ms-clear {
    display: none;
  }

  #{settings2.$dark-background-context} {
    border-color: settings2.$colored-border-color;

    &:focus {
      border-color: settings2.$focus-border-color;
    }
  }

  #{settings2.$light-background-context} {
    border-color: settings2.$border-color;

    &:focus {
      border-color: settings2.$focus-border-color;
    }
  }
}

.#{settings.$grommet-namespace}search__drop {
  @include tools2.inuit-font-size(settings3.$h4-font-size, inherit);

  @include tools3.media-query(palm) {
    max-width: 100%;
    width: 100vw;
  }

  input {
    margin-right: 0px;
    box-sizing: border-box;
    width: 100%;
    padding: tools4.halve(settings.$inuit-base-spacing-unit);

    @include tools3.media-query(palm) {
      width: calc(100vw - #{math.round(settings.$inuit-base-spacing-unit * 3)});
    }

    &:focus {
      padding: (tools4.halve(settings.$inuit-base-spacing-unit) - settings.$input-border-width);
    }
  }

  .#{settings.$grommet-namespace}search__suggestion {
    padding: tools4.quarter(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit;
    cursor: pointer;
    outline: none;

    // limit width of suggestions so that search icon + input do not wrap
    // for long suggestions
    @include tools3.media-query(palm) {
      width: 100vw;
    }

    &:hover,
    &--active {
      background-color: settings2.$hover-background-color;
    }
  }
}

.#{settings.$grommet-namespace}search__drop-control {
  vertical-align: top;
  height: tools4.double(settings.$inuit-base-spacing-unit);
}

.#{settings.$grommet-namespace}search__drop--controlled {
  .#{settings.$grommet-namespace}search__drop-contents {
    display: inline-block;
  }
}

.#{settings.$grommet-namespace}search__drop--large {
  line-height: tools4.quadruple(settings.$inuit-base-spacing-unit);
}

.#{settings.$grommet-namespace}search--inline {
  position: relative;

  .#{settings.$grommet-namespace}search__input {
    width: 100%;
    box-sizing:  border-box;
    padding-left: (tools4.halve(settings.$inuit-base-spacing-unit) - settings.$input-border-width);
    padding-right: (tools4.double(settings.$inuit-base-spacing-unit) - settings.$input-border-width);
    padding-top: tools4.halve(settings.$inuit-base-spacing-unit);
    padding-bottom: tools4.halve(settings.$inuit-base-spacing-unit);
    border-radius: 0;
    -webkit-appearance: none;

    &:focus {
      padding-left: (tools4.halve(settings.$inuit-base-spacing-unit) - (settings.$input-border-width + 1));
      padding-right: (tools4.double(settings.$inuit-base-spacing-unit) - (settings.$input-border-width + 1));
      padding-top: (tools4.halve(settings.$inuit-base-spacing-unit) - settings.$input-border-width);
      padding-bottom: (tools4.halve(settings.$inuit-base-spacing-unit) - settings.$input-border-width);
    }

    html.rtl & {
      padding-right: (tools4.halve(settings.$inuit-base-spacing-unit) - settings.$input-border-width);
      padding-left: (tools4.double(settings.$inuit-base-spacing-unit) - settings.$input-border-width);

      &:focus {
        padding-right: (tools4.halve(settings.$inuit-base-spacing-unit) - settings.$input-border-width);
        padding-left: (tools4.double(settings.$inuit-base-spacing-unit) - (settings.$input-border-width + 1));
      }
    }

    .#{settings.$grommet-namespace}header &:not(:focus) {
      border-color: transparent;
    }
  }

  .#{settings.$grommet-namespace}control-icon-search {
    position: absolute;
    right: tools4.halve(settings.$inuit-base-spacing-unit);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    html.rtl & {
      right: auto;
      left: tools4.halve(settings.$inuit-base-spacing-unit);
    }
  }
}

.#{settings.$grommet-namespace}search--small {
  .#{settings.$grommet-namespace}search__input {
    @include tools2.inuit-font-size(settings3.$input-small-font-size, normal);
    padding: ((settings.$inuit-base-spacing-unit - settings3.$control-font-size) - settings.$input-border-width)
      (settings3.$control-font-size - settings.$input-border-width);
    padding-right: (settings.$inuit-base-spacing-unit - settings.$input-border-width);

    &:focus {
      padding: ((settings.$inuit-base-spacing-unit - settings3.$control-font-size) - settings.$input-focus-border-width)
        (settings3.$control-font-size - settings.$input-focus-border-width);
      padding-right: (settings.$inuit-base-spacing-unit - settings.$input-focus-border-width);
    }
  }
}

.#{settings.$grommet-namespace}search--medium {
  .#{settings.$grommet-namespace}search__input {
    @include tools2.inuit-font-size(settings3.$input-medium-font-size, normal);
  }
}

.#{settings.$grommet-namespace}search--large {
  .#{settings.$grommet-namespace}search__input {
    @include tools2.inuit-font-size(settings3.$input-large-font-size, normal);
    padding: tools4.halve(settings.$inuit-base-spacing-unit) (settings.$inuit-base-spacing-unit);
    padding-right: (settings.$inuit-base-spacing-unit * 3);

    &:focus {
      padding: (tools4.halve(settings.$inuit-base-spacing-unit) - settings.$input-border-width)
        (settings.$inuit-base-spacing-unit * 3 - settings.$input-border-width);
      padding-left: (settings.$inuit-base-spacing-unit - settings.$input-border-width);

      @include tools3.media-query(palm) {
        padding: (tools4.halve(settings.$inuit-base-spacing-unit) - (settings.$input-border-width + 1))
          (settings.$inuit-base-spacing-unit - (settings.$input-border-width + 1));
        padding-right: (tools4.double(settings.$inuit-base-spacing-unit) - (settings.$input-border-width + 1));
      }
    }

    @include tools3.media-query(palm) {
      font-size: inherit;
      padding: (tools4.halve(settings.$inuit-base-spacing-unit) - (settings.$input-border-width))
        (settings.$inuit-base-spacing-unit - settings.$input-border-width);
      padding-right: (tools4.double(settings.$inuit-base-spacing-unit) - settings.$input-border-width);
      line-height: 1.5;
    }
  }

  .#{settings.$grommet-namespace}control-icon-search {
    right: settings.$inuit-base-spacing-unit;
    width: tools4.double(settings.$inuit-base-spacing-unit);
    height: tools4.double(settings.$inuit-base-spacing-unit);

    @include tools3.media-query(palm) {
      right: tools4.halve(settings.$inuit-base-spacing-unit);
      width: settings.$inuit-base-spacing-unit;
      height: settings.$inuit-base-spacing-unit;
    }

    @include tools3.media-query(lap-and-up) {
      // prevent icon from growing on resize from 719px
      transition: none;
    }
  }
}

.#{settings.$grommet-namespace}search--icon-align-start {
  &.#{settings.$grommet-namespace}search--inline {
    .#{settings.$grommet-namespace}search__input {
      padding-left: (tools4.double(settings.$inuit-base-spacing-unit) - settings.$input-border-width);
      padding-right: (settings.$inuit-base-spacing-unit - settings.$input-border-width);

      &:focus {
        padding-left: (tools4.double(settings.$inuit-base-spacing-unit) - (settings.$input-border-width + 1));
        padding-right: (settings.$inuit-base-spacing-unit - settings.$input-border-width);
      }
    }

    .#{settings.$grommet-namespace}control-icon-search {
      left: tools4.halve(settings.$inuit-base-spacing-unit);
    }
  }

  &.#{settings.$grommet-namespace}search--large {
    .#{settings.$grommet-namespace}search__input {
      padding-left: (settings.$inuit-base-spacing-unit * 3);
      padding-right: settings.$inuit-base-spacing-unit;

      &:focus {
        padding-left: (settings.$inuit-base-spacing-unit * 3 - settings.$input-border-width);
        padding-right: (settings.$inuit-base-spacing-unit - settings.$input-border-width);

        @include tools3.media-query(palm) {
          padding: (tools4.halve(settings.$inuit-base-spacing-unit) - (settings.$input-border-width + 1))
            (settings.$inuit-base-spacing-unit - (settings.$input-border-width + 1));
          padding-left: (tools4.double(settings.$inuit-base-spacing-unit) - (settings.$input-border-width + 1));
        }
      }

      @include tools3.media-query(palm) {
        padding: (tools4.halve(settings.$inuit-base-spacing-unit) - settings.$input-border-width)
        (settings.$inuit-base-spacing-unit - settings.$input-border-width);
        padding-left: (tools4.double(settings.$inuit-base-spacing-unit) - settings.$input-border-width);
      }
    }
  }
}

.#{settings.$grommet-namespace}search--fill {
  // width: 100%;
  max-width: none;
  //used to add full height for button inside a flex container
  flex-grow: 1;
}

.#{settings.$grommet-namespace}search--pad-medium.#{settings.$grommet-namespace}search--inline {
  .#{settings.$grommet-namespace}search__input {
    padding-left: (settings.$inuit-base-spacing-unit - settings.$input-border-width);
    padding-right: (settings.$inuit-base-spacing-unit - settings.$input-border-width);
  }

  .#{settings.$grommet-namespace}control-icon-search {
    right: settings.$inuit-base-spacing-unit;
  }
}
