@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.functions";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

$meter-size-default: settings.$size-small;

$meter-slice-width: math.round(math.div(settings.$inuit-base-spacing-unit, 6));
$meter-slice-active-width: math.round(settings.$inuit-base-spacing-unit * 0.5);
$meter-threshold-slice-width: $meter-slice-width;
$meter-indicator-width: math.round(math.div(settings.$inuit-base-spacing-unit, 6));

$meter-label-width: tools.double(settings.$inuit-base-spacing-unit);
$meter-active-offset: math.round(settings.$inuit-base-spacing-unit * 1.5);

.#{settings.$grommet-namespace}meter {
  display: inline-block;
  position: relative;
}

.#{settings.$grommet-namespace}meter__slice {
  stroke-width: $meter-slice-width;
  fill: none;
  stroke: settings2.$meter-background-color;
}

.#{settings.$grommet-namespace}meter__hot {
  cursor: pointer;
  stroke-width: tools.double($meter-slice-active-width);
  stroke: rgba(0, 0, 0, 0.001);
}

.#{settings.$grommet-namespace}meter__threshold {
  stroke: settings2.$threshold-color;
}

.#{settings.$grommet-namespace}meter__value-container {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.#{settings.$grommet-namespace}meter__graphic-container {
  white-space: normal;

  > a {
    text-decoration: none;
  }
}

.#{settings.$grommet-namespace}meter__graphic {
  max-width: 100%;

  &:focus {
    outline: settings2.$focus-border-color solid 1px;
  }

  text {
    fill: settings2.$secondary-text-color;
  }
}

.#{settings.$grommet-namespace}meter:not(.#{settings.$grommet-namespace}meter--vertical) {

  .#{settings.$grommet-namespace}meter__graphic-container {
    display: inline-block;
  }
}

.#{settings.$grommet-namespace}meter--vertical {

  .#{settings.$grommet-namespace}meter__graphic-container {
    display: inline-block;
    white-space: nowrap;
  }
}

.#{settings.$grommet-namespace}meter--active {
  .#{settings.$grommet-namespace}meter__values .#{settings.$grommet-namespace}meter__slice {
    stroke-width: $meter-slice-active-width;
  }
}

.#{settings.$grommet-namespace}meter__values .#{settings.$grommet-namespace}meter__slice--active {
  stroke-width: $meter-slice-active-width;
}

