@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.color-index" as tools2;
@use "tools.functions" as tools4;
@use "tools.icon" as tools3;
@use "tools.input";

// (C) Copyright 2014-2018 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}button {
  @include tools.basic-button();

  &--focus {
    border: settings.$button-border-width solid settings2.$focus-border-color;
    box-shadow: 0 0 1px 1px settings2.$focus-border-color;
  }

  @include tools2.background-context-color(settings2.$button-text-color, settings2.$button-text-color);
}

.#{settings.$grommet-namespace}button--hover-background:hover {
  background-color: settings2.$hover-background-color;
  color: settings2.$hover-text-color;

  #{settings2.$dark-background-context} {
    background-color: settings2.$colored-hover-background-color;
    color: settings2.$active-colored-text-color;
  }

  #{settings2.$light-background-context} {
    background-color: settings2.$hover-background-color;
    color: settings2.$hover-text-color;
  }
}

.#{settings.$grommet-namespace}button:hover {
  .#{settings.$grommet-namespace}control-icon {
    @include tools3.icon-color(settings2.$active-icon-color);
    transition: none;
  }

  #{settings2.$dark-background-context} {
    .#{settings.$grommet-namespace}control-icon {
      @include tools3.icon-color(settings2.$active-colored-icon-color);
    }
  }

  #{settings2.$light-background-context} {
    .#{settings.$grommet-namespace}control-icon {
      @include tools3.icon-color(settings2.$active-icon-color);
    }
  }
}

.#{settings.$grommet-namespace}button__icon {
  display: inline-block;

  .#{settings.$grommet-namespace}control-icon {
    vertical-align: bottom;
  }
}

.#{settings.$grommet-namespace}button--secondary:not(.#{settings.$grommet-namespace}button--focus) {
  border-color: settings2.$button-secondary-color;
}

.#{settings.$grommet-namespace}button--accent:not(.#{settings.$grommet-namespace}button--focus) {
  border-color: settings2.$button-accent-color;
}

.#{settings.$grommet-namespace}button--critical:not(.#{settings.$grommet-namespace}button--focus) {
  border-color: settings2.$button-critical-color;
}

.#{settings.$grommet-namespace}button--align-start {
  text-align: left;

  html.rtl & {
    text-align: right;
  }
}

.#{settings.$grommet-namespace}button--plain:not(.#{settings.$grommet-namespace}button--box) {
  padding: 0;
}

.#{settings.$grommet-namespace}button--plain {
  width: auto;
  height: auto;
  min-width: 0;
  max-width: none;
  text-align: inherit;
  font-weight: inherit;

  .#{settings.$grommet-namespace}button__label {
    margin: 0 tools4.halve(settings.$inuit-base-spacing-unit);
  }

  .#{settings.$grommet-namespace}button__icon {
    padding: tools4.halve(settings.$inuit-base-spacing-unit) - settings.$button-border-width;

    + .#{settings.$grommet-namespace}button__label {
      margin-left: 0;
    }
  }
}

.#{settings.$grommet-namespace}button--plain:not(.#{settings.$grommet-namespace}button--focus) {
  border: settings.$button-border-width solid transparent;
}

.#{settings.$grommet-namespace}button:not(.#{settings.$grommet-namespace}button--plain) {
  .#{settings.$grommet-namespace}button__icon {

    // @include background-context-icon($button-text-color, $button-text-color);

    + .#{settings.$grommet-namespace}button__label {
      margin-left: tools4.halve(settings.$inuit-base-spacing-unit);
    }
  }
}

.#{settings.$grommet-namespace}button--primary {
  &:not(.#{settings.$grommet-namespace}button--focus) {
    border-color: settings2.$brand-color;
  }
  background-color: settings2.$brand-color;
  color: settings2.$active-colored-text-color;

  &:hover:not(.#{settings.$grommet-namespace}button--disabled) {
    color: settings2.$active-colored-text-color;

   .#{settings.$grommet-namespace}button__icon .#{settings.$grommet-namespace}control-icon {
      @include tools3.icon-color(settings2.$active-colored-icon-color)
    }
  }

  .#{settings.$grommet-namespace}control-icon {
    @include tools3.icon-color(settings2.$active-colored-icon-color);
  }

  @include tools2.background-context-color(settings2.$active-colored-text-color,
    settings2.$active-colored-text-color);

  @include tools3.background-context-icon(settings2.$active-colored-text-color, settings2.$active-colored-text-color);
}

.#{settings.$grommet-namespace}button--disabled {
  opacity: 0.3;
  cursor: default;
}

.#{settings.$grommet-namespace}button:not(.#{settings.$grommet-namespace}button--fill) {
  flex: 0 0 auto;
}

.#{settings.$grommet-namespace}button--fill {
  width: 100%;
  max-width: none;
  // used to add full height for button inside a flex container
  flex-grow: 1;
}

a.#{settings.$grommet-namespace}button {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
