@use "settings.color" as settings3;
@use "settings.defaults";
@use "settings.font" as settings2;
@use "tools.mixins";

// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}notification {
  @include tools.inuit-font-size(settings2.$control-font-size, settings.$inuit-base-spacing-unit);

  @each $status, $color in settings3.$brand-status-colors {
    &--status-#{$status} {
      // background-color comes from background-color-index

      .#{settings.$grommet-namespace}notification__status {
        .#{settings.$grommet-namespace}status-icon__base,
        .#{settings.$grommet-namespace}status-icon__base .#{settings.$grommet-namespace}status-icon__small {
          fill: settings3.$active-colored-text-color;
        }

        .#{settings.$grommet-namespace}status-icon__detail {
          stroke: $color;
          fill: $color;
        }

        &.#{settings.$grommet-namespace}status-icon-unknown {
          .#{settings.$grommet-namespace}status-icon__detail {
            stroke: settings3.$active-colored-text-color;
            fill: settings3.$active-colored-text-color;
          }
        }
      }

      .#{settings.$grommet-namespace}notification__close {
        stroke: settings3.$active-colored-text-color;
        fill: settings3.$active-colored-text-color;
      }

    }
  }
}

.#{settings.$grommet-namespace}notification__message {
  @include tools.inuit-font-size(settings2.$content-large-font-size, settings.$inuit-base-spacing-unit);

  + * {
    margin-top: settings.$inuit-base-spacing-unit;
  }
}

.#{settings.$grommet-namespace}notification__status {
  flex: 0 0 auto;
  margin-right: settings.$inuit-base-spacing-unit;

  html.rtl & {
    margin-right: 0;
    margin-left: settings.$inuit-base-spacing-unit;
  }
}

.#{settings.$grommet-namespace}notification--small {
  .#{settings.$grommet-namespace}notification {
    &__message {
      @include tools.inuit-font-size(settings2.$control-font-size, settings.$inuit-base-spacing-unit);
    }
  }
}
