@use "settings.color" as settings3;
@use "settings.defaults";
@use "settings.font" as settings2;
@use "tools.functions" as tools2;
@use "tools.mixins";
@use "tools.responsive" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}title {
  max-height: 100%;
  // overflow: hidden;
  // text-overflow: ellipsis;
  font-weight: settings2.$text-font-weight;
  // white-space: nowrap;
  @include tools.inuit-font-size(24px);
  line-height: initial;
  margin-right: tools2.halve(settings.$inuit-base-spacing-unit);
  // flex: 0 1 auto;

  @include tools3.media-query(lap-and-up) {
    font-weight: settings2.$text-strong-font-weight;
  }

  > *:not(:last-child) {
    margin-right: tools2.halve(settings.$inuit-base-spacing-unit);

    html.rtl & {
      margin-right: 0px;
      margin-left: tools2.halve(settings.$inuit-base-spacing-unit);
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    [class*="background-color-index-"] & {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  svg,
  img {
    max-width: settings.$size-medium;
    flex: 0 0 auto;

    &:not(:last-child) {
      margin-right: tools2.halve(settings.$inuit-base-spacing-unit);
    }
  }
}

.#{settings.$grommet-namespace}title--interactive {

  cursor: pointer;

  @include tools3.media-query(lap-and-up) {
    transition: color settings.$base-animation-duration ease-in-out;
  }

  &:hover {
    color: settings3.$brand-color;
    cursor: pointer;
  }

  #{settings3.$dark-background-context} {
    &:hover {
      color: settings3.$active-colored-text-color;
    }
  }

  #{settings3.$light-background-context} {
    &:hover {
      color: settings3.$brand-color;
    }
  }
}

.#{settings.$grommet-namespace}title--responsive {
  @include tools3.media-query(palm) {
    svg,
    img {
      margin-right: 0px;
    }

    > *:not(:first-child) {
      display: none;
    }
  }
}

.#{settings.$grommet-namespace}title--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
