@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "settings.font" as settings3;
@use "tools.color-index";
@use "tools.functions" as tools3;
@use "tools.responsive" as tools2;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

$outer-pad: math.round(settings.$inuit-base-spacing-unit * 2);
$inner-pad: math.round(settings.$inuit-base-spacing-unit * 0.25);
$topology-stroke-width: math.round(math.div(settings.$inuit-base-spacing-unit, 12));
$topology-active-stroke-width: math.round(settings.$inuit-base-spacing-unit * 0.25);

.#{settings.$grommet-namespace}topology {
  position: relative;
  outline: none;

  // put status icons above canvas so lines start under them
  .#{settings.$grommet-namespace}status-icon {
    position: relative;
    z-index: 2;
  }
}

.#{settings.$grommet-namespace}topology--focus {
  border-color: settings2.$focus-border-color;
  box-shadow: 0 0 1px 1px settings2.$focus-border-color;
}

.#{settings.$grommet-namespace}topology__links {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  pointer-events: none;
}

.#{settings.$grommet-namespace}topology__path {
  stroke-width: $topology-stroke-width;
  @include tools.graph-stroke-color();
}

.#{settings.$grommet-namespace}topology__path--active {
  stroke-width: $topology-active-stroke-width;
}

.#{settings.$grommet-namespace}topology__contents
> .#{settings.$grommet-namespace}topology__parts--direction-row
> .#{settings.$grommet-namespace}topology__part {

  @include tools2.media-query(lap-and-up) {
    margin-right: $outer-pad;

    &:last-child {
      margin-right: 0;
    }
  }

  @include tools2.media-query(palm) {
    margin-bottom: $outer-pad;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.#{settings.$grommet-namespace}topology__contents
> .#{settings.$grommet-namespace}topology__parts--direction-column
> .#{settings.$grommet-namespace}topology__part {

  margin-bottom: $outer-pad;

  &:last-child {
    margin-bottom: 0;
  }
}

.#{settings.$grommet-namespace}topology__parts {
  display: flex;
  align-items: stretch;
  outline: none;
}

.#{settings.$grommet-namespace}topology__parts--direction-row {
  flex-direction: row;
  flex-grow: 1;
}

.#{settings.$grommet-namespace}topology__parts--direction-column {
  flex-direction: column;
  flex-grow: 1;
}

.#{settings.$grommet-namespace}topology__parts--align-start {
  align-items: flex-start;
}

.#{settings.$grommet-namespace}topology__parts--align-center {
  align-items: center;
}

.#{settings.$grommet-namespace}topology__parts--align-end {
  align-items: flex-end;
}

.#{settings.$grommet-namespace}topology__parts--align-stretch {
  align-items: stretch;
}

.#{settings.$grommet-namespace}topology__part {
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  outline: none;

  > .#{settings.$grommet-namespace}topology__parts .#{settings.$grommet-namespace}topology__part {
    flex: 1;
  }
}

.#{settings.$grommet-namespace}topology__part--demarcate {
  border: 1px solid settings2.$border-color;

  #{settings2.$dark-background-context} {
    border-color: settings2.$colored-border-color;
  }

  #{settings2.$light-background-context} {
    border-color: settings2.$border-color;
  }

  &.#{settings.$grommet-namespace}topology__part--empty {
    background-color: settings2.$secondary-background-color;
    min-width: settings.$inuit-base-spacing-unit;
    min-height: settings.$inuit-base-spacing-unit;

    #{settings2.$dark-background-context} {
      background-color: settings2.$colored-active-background-color;
    }

    #{settings2.$light-background-context} {
      background-color: settings2.$secondary-background-color;
    }
  }
}

.#{settings.$grommet-namespace}topology__part--justify-start {
  justify-content: flex-start;
}

.#{settings.$grommet-namespace}topology__part--justify-center {
  justify-content: center;
}

.#{settings.$grommet-namespace}topology__part--justify-between {
  justify-content: space-between;
}

.#{settings.$grommet-namespace}topology__part--justify-end {
  justify-content: flex-end;
}

.#{settings.$grommet-namespace}topology__part--align-start {
  align-items: flex-start;
}

.#{settings.$grommet-namespace}topology__part--align-center {
  align-items: center;
}

.#{settings.$grommet-namespace}topology__part--align-end {
  align-items: flex-end;
}

.#{settings.$grommet-namespace}topology__part--align-stretch {
  align-items: stretch;
}

.#{settings.$grommet-namespace}topology__part--direction-row {
  flex-direction: row;

  &.#{settings.$grommet-namespace}topology__part--reverse {
    flex-direction: row-reverse;
  }

  > *:not(.#{settings.$grommet-namespace}topology__parts):not(.#{settings.$grommet-namespace}topology__part) {
    margin: $inner-pad;
  }
}

.#{settings.$grommet-namespace}topology__part--direction-column {
  flex-direction: column;

  &.#{settings.$grommet-namespace}topology__part--reverse {
    flex-direction: column-reverse;
  }

  > *:not(.#{settings.$grommet-namespace}topology__parts):not(.#{settings.$grommet-namespace}topology__part) {
    margin: $inner-pad;
  }
}

.#{settings.$grommet-namespace}topology__label {
  font-size: settings3.$content-small-font-size;
  margin-left: tools3.halve(settings.$inuit-base-spacing-unit);
  margin-right: tools3.halve(settings.$inuit-base-spacing-unit);
}
