@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.functions";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.#{settings.$grommet-namespace}list--focus {
  border-color: settings2.$focus-border-color;
  box-shadow: 0 0 1px 1px settings2.$focus-border-color;
}

.#{settings.$grommet-namespace}list__more,
.#{settings.$grommet-namespace}list__empty {
  padding-left: settings.$inuit-base-spacing-unit;
  padding-right: settings.$inuit-base-spacing-unit;
  padding-top: tools.halve(settings.$inuit-base-spacing-unit);
  padding-bottom: tools.halve(settings.$inuit-base-spacing-unit);
}

.#{settings.$grommet-namespace}list__empty {
  color: settings2.$secondary-text-color;
  font-style: italic;
}

.#{settings.$grommet-namespace}list-item {
  max-width: none;
}

.#{settings.$grommet-namespace}list-item:focus {
  outline: settings2.$focus-border-color solid 1px;
}

.#{settings.$grommet-namespace}list-item__image {
  height: settings.$inuit-base-spacing-unit;
  width: settings.$inuit-base-spacing-unit;
  margin-right: settings.$inuit-base-spacing-unit;
  overflow: hidden;
  flex: 0 0 auto;

  img {
    height: 100%;
    width: 100%;
    max-width: none;
    object-fit: cover;
  }
}

.#{settings.$grommet-namespace}list-item__label,
.#{settings.$grommet-namespace}list-item__annotation {
  flex: 1;
}

.#{settings.$grommet-namespace}list-item__annotation {
  margin-left: settings.$inuit-base-spacing-unit;
  color: settings2.$secondary-text-color;
}

.#{settings.$grommet-namespace}list-item--selectable {
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: settings2.$hover-background-color;
  }
}

.#{settings.$grommet-namespace}list-item--selected {
  background-color: settings2.$selected-background-color;
  color: settings2.$selected-text-color;

  #{settings2.$dark-background-context} {
    background-color: settings2.$colored-active-background-color;
    color: settings2.$active-colored-text-color;
  }

  #{settings2.$light-background-context} {
    background-color: settings2.$selected-background-color;
    color: settings2.$selected-text-color;
  }
}

.#{settings.$grommet-namespace}list-item--row {
  .#{settings.$grommet-namespace}list-item__annotation {
    text-align: right;
  }
}

.#{settings.$grommet-namespace}list--selectable {
  outline: none;

  .#{settings.$grommet-namespace}list-item {
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
  }

  .#{settings.$grommet-namespace}list-item--active,
  .#{settings.$grommet-namespace}list-item:hover {
    background-color: settings2.$hover-background-color;
    color: settings2.$hover-text-color;

    #{settings2.$dark-background-context} {
      background-color: settings2.$colored-hover-background-color;
      color: settings2.$active-colored-text-color;
    }

    #{settings2.$light-background-context} {
      background-color: settings2.$hover-background-color;
      color: settings2.$hover-text-color;
    }
  }
}

.#{settings.$grommet-namespace}list--small {
  .#{settings.$grommet-namespace}list-item,
  .#{settings.$grommet-namespace}list__more {
    &__image {
      height: tools.halve(settings.$inuit-base-spacing-unit);
      width: tools.halve(settings.$inuit-base-spacing-unit);
    }
  }
}

.#{settings.$grommet-namespace}list--large {
  .#{settings.$grommet-namespace}list-item,
  .#{settings.$grommet-namespace}list__more {
    &__image {
      height: tools.double(settings.$inuit-base-spacing-unit);
      width: tools.double(settings.$inuit-base-spacing-unit);
    }
  }
}
