@use "settings.color" as settings3;
@use "settings.defaults" as settings2;
@use "settings.font";
@use "tools.functions" as tools2;
@use "tools.mixins";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

@mixin small-table {

  thead {
    display: none;
  }

  td {
    display: block;

    &:before {
      font-weight: settings.$text-font-weight;
      @include tools.inuit-font-size(settings.$control-font-size, settings2.$inuit-base-spacing-unit);
      content: attr(data-th);
      display: block;

      padding-right: tools2.halve(settings2.$inuit-base-spacing-unit);
    }
  }

  tr {
    border-bottom: 1px solid settings3.$border-color;
  }

  td,
  th {
    padding-left: settings2.$inuit-base-spacing-unit;
  }
}

.#{settings2.$grommet-namespace}table {

  width: 100%;
  max-width: 100%;

  table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    // -1 to accommodate border
    padding: (tools2.halve(settings2.$inuit-base-spacing-unit) - 1) tools2.halve(settings2.$inuit-base-spacing-unit);
    text-align: left;

    &:first-child {
      padding-left: settings2.$inuit-base-spacing-unit;
    }

    &:last-child {
      padding-right: settings2.$inuit-base-spacing-unit;
    }
  }

  th {
    font-weight: settings.$text-font-weight;
    // @include inuit-font-size(20px);
    border-bottom: 1px solid settings3.$border-color;

    #{settings3.$dark-background-context} {
      border-color: settings3.$colored-border-color;
    }

    #{settings3.$light-background-context} {
      border-color: settings3.$border-color;
    }
  }
}

.#{settings2.$grommet-namespace}table__mirror {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  > thead {
    position: fixed;
    background-color: settings3.$header-background-color;
  }
}

.#{settings2.$grommet-namespace}table__more {
  margin-top: settings2.$inuit-base-spacing-unit;
  text-align: center;
}

.#{settings2.$grommet-namespace}table--scrollable {
  position: relative;

  .#{settings2.$grommet-namespace}table__table {
    thead {
      visibility: hidden;
    }

    th {
      border-bottom: none;
    }
  }
}

.#{settings2.$grommet-namespace}table--selectable {
  .#{settings2.$grommet-namespace}table__table {
    outline: none;
  }

  .#{settings2.$grommet-namespace}table__table--focus {
    border-color: settings3.$focus-border-color;
    box-shadow: 0 0 1px 1px settings3.$focus-border-color;
  }

  tbody {
    tr {
      cursor: pointer;
      outline: none;

      td {
        transition: background-color 0.2s;
      }

      &.#{settings2.$grommet-namespace}table-row--selected {
        td {
          background-color: settings3.$selected-background-color;
          color: settings3.$selected-text-color;

          #{settings3.$dark-background-context} {
            background-color: settings3.$colored-active-background-color;
            color: settings3.$active-colored-text-color;
          }

          #{settings3.$light-background-context} {
            background-color: settings3.$selected-background-color;
            color: settings3.$selected-text-color;
          }
        }
      }

      &.#{settings2.$grommet-namespace}table-row--active,
      &:hover {
        td {
          background-color: settings3.$hover-background-color;
          color: settings3.$hover-text-color;

          #{settings3.$dark-background-context} {
            background-color: settings3.$colored-hover-background-color;
            color: settings3.$active-colored-text-color;
          }

          #{settings3.$light-background-context} {
            background-color: settings3.$hover-background-color;
            color: settings3.$hover-text-color;
          }
        }
      }
    }
  }
}

.#{settings2.$grommet-namespace}table--small {
  @include small-table();
}
