@use "sass:list";
@use "sass:math";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "settings.font" as settings3;
@use "tools.functions" as tools2;
@use "tools.mixins" as tools3;
@use "tools.responsive";

@use "sass:color";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}video {
  position: relative;
  max-width: 100%;
  height: auto;

  @include tools.media-query(palm) {
    max-width: 100%;
    width: 100vw;
  }

  video {
    max-width: 100%;
    display: block;
  }

}

.#{settings.$grommet-namespace}video--small {
  width: settings.$size-small;

  video {
    width: settings.$size-small;
  }
}

.#{settings.$grommet-namespace}video--medium {
  width: settings.$size-medium;

  video {
    width: settings.$size-medium;
  }
}

.#{settings.$grommet-namespace}video--large {
  width: settings.$size-large;

  video {
    width: settings.$size-large;
  }
}

.#{settings.$grommet-namespace}video--full {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;

  video {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
}

.#{settings.$grommet-namespace}video--align-top.#{settings.$grommet-namespace}video--align-left {
  video {
    object-position: 0 0;
  }
}

.#{settings.$grommet-namespace}video--align-top.#{settings.$grommet-namespace}video--align-right {
  video {
    object-position: 100% 0;
  }
}

.#{settings.$grommet-namespace}video--align-top:not(.#{settings.$grommet-namespace}video--align-left):not(.#{settings.$grommet-namespace}video--align-right) {
  video {
    object-position: 50% 0%;
  }
}

.#{settings.$grommet-namespace}video--align-bottom.#{settings.$grommet-namespace}video--align-left {
  video {
    object-position: 0 100%;
  }
}

.#{settings.$grommet-namespace}video--align-bottom.#{settings.$grommet-namespace}video--align-right {
  video {
    object-position: 100% 100%;
  }
}

.#{settings.$grommet-namespace}video--align-bottom:not(.#{settings.$grommet-namespace}video--align-left):not(.#{settings.$grommet-namespace}video--align-right) {
  video {
    object-position: 50% 100%;
  }
}

.#{settings.$grommet-namespace}video--align-left:not(.#{settings.$grommet-namespace}video--align-top):not(.#{settings.$grommet-namespace}video--align-bottom) {
  video {
    object-position: 0 50%;
  }
}

.#{settings.$grommet-namespace}video--align-right:not(.#{settings.$grommet-namespace}video--align-top):not(.#{settings.$grommet-namespace}video--align-bottom) {
  video {
    object-position: 100% 50%;
  }
}

.#{settings.$grommet-namespace}video--cover {
  video {
    object-fit: cover;
  }
}

.#{settings.$grommet-namespace}video--contain {
  video {
    object-fit: contain;
  }
}

.#{settings.$grommet-namespace}video__button:hover .#{settings.$grommet-namespace}video__button__icon {
  fill: settings2.$brand-color;
  stroke: settings2.$brand-color;
}

@include tools.media-query(palm) {
  .#{settings.$grommet-namespace}video__timeline {
    visibility: hidden;
  }

  .#{settings.$grommet-namespace}video__progress,
  .#{settings.$grommet-namespace}video--has-timeline {
    bottom: 0px;
  }

  .#{settings.$grommet-namespace}video__controls,
  .#{settings.$grommet-namespace}video__replay {
    display: none;
  }
}

@include tools.media-query(lap-and-up) {
  .#{settings.$grommet-namespace}video--has-timeline {
    bottom: math.round(settings.$inuit-base-spacing-unit * 3);
  }

  .#{settings.$grommet-namespace}video--has-played:not(.#{settings.$grommet-namespace}video--small):not(.#{settings.$grommet-namespace}video--ended) .#{settings.$grommet-namespace}video__play,
  .#{settings.$grommet-namespace}video--small .#{settings.$grommet-namespace}video__controls,
  .#{settings.$grommet-namespace}video--small .#{settings.$grommet-namespace}video__replay {
    display: none;
  }
}

.#{settings.$grommet-namespace}video__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: settings.$inuit-base-spacing-unit;
}

.#{settings.$grommet-namespace}video__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.#{settings.$grommet-namespace}video__controls-primary {
  height: math.round(settings.$inuit-base-spacing-unit * 3);
  background-color: rgba(list.nth(settings2.$brand-grey-colors, 1), 0.9);
  color: settings2.$inverse-color;

  h3 {
    font-weight: settings3.$text-strong-font-weight;
  }
}

.#{settings.$grommet-namespace}video__progress {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: math.round(settings.$inuit-base-spacing-unit * 3);
  height: tools2.quarter(settings.$inuit-base-spacing-unit);
  background-color: color.adjust(rgba(list.nth(settings2.$brand-grey-colors, 3), 0.7), $lightness: 20%, $space: hsl);
  transition: height 0.3s;

  & + .#{settings.$grommet-namespace}video__chapter-labels,
  & ~ .#{settings.$grommet-namespace}video__controls-primary {
    transition: ease-in-out 0.3s;
  }

  input[type=range] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 30;
  }
}

.#{settings.$grommet-namespace}video--interacting .#{settings.$grommet-namespace}video__progress:hover {
  height: tools2.halve(settings.$inuit-base-spacing-unit);

  .#{settings.$grommet-namespace}video__progress-bar-fill:after {
    opacity: 1;
  }

  & + .#{settings.$grommet-namespace}video__chapter-labels {
    visibility: visible;
  }
}

.#{settings.$grommet-namespace}video__progress-bar-fill {
  width: 100%;
  height: 100%;
  background-color: settings2.$brand-color;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
  z-index: 10;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -1 * tools2.halve(settings.$inuit-base-spacing-unit);
    top: -1 * tools2.quarter(settings.$inuit-base-spacing-unit);
    width: settings.$inuit-base-spacing-unit;
    height: settings.$inuit-base-spacing-unit;
    background-color: settings2.$brand-color;
    border-radius: tools2.double(settings.$inuit-base-spacing-unit);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 20;
  }
}

.#{settings.$grommet-namespace}video__chapter-labels {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: math.round(settings.$inuit-base-spacing-unit * 3);
  visibility: hidden;
  background-color: rgba(list.nth(settings2.$brand-grey-colors, 1), 0.9);
  transition: 0.4s ease-in-out;

  span {
    display: block;
    color: settings2.$colored-text-color;
  }
}

.#{settings.$grommet-namespace}video__chapter-label {
  position: absolute;
  top: tools2.halve(settings.$inuit-base-spacing-unit);
}

.#{settings.$grommet-namespace}video__chapter-label-start {
  span {
    margin-left: tools2.halve(settings.$inuit-base-spacing-unit);
  }
}

.#{settings.$grommet-namespace}video__chapter-label-active {
  span {
    $brand-accent-color-index: 3;
    @if ($brand-accent-color-index <= list.length(settings2.$brand-accent-colors)) {
      $chapter-current-color: list.nth(settings2.$brand-accent-colors, $brand-accent-color-index);
      color: $chapter-current-color;
    } @else {
      color: settings2.$inverse-color;
    }

    transition: ease-in-out 0.3s;
  }
}

.#{settings.$grommet-namespace}video__chapter-marker {
  position: absolute;
  height: 100%;
  left: 0px;
}

.#{settings.$grommet-namespace}video__chapter-marker-track {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.3s;
}

.#{settings.$grommet-namespace}video__chapter-marker-tick:hover + .#{settings.$grommet-namespace}video__chapter-marker-track {
  background-color: color.adjust(rgba(list.nth(settings2.$brand-grey-colors, 3), 0.7), $lightness: 40%, $space: hsl);
}

.#{settings.$grommet-namespace}video__chapter-marker-tick {
  position: absolute;
  right: -3px;
  width: 3px;
  height: 100%;
  z-index: 40;
  transition: ease-in-out 0.3s;
  cursor: pointer;

  $brand-accent-color-index: 3;
  @if ($brand-accent-color-index <= list.length(settings2.$brand-accent-colors)) {
    $chapter-current-color: list.nth(settings2.$brand-accent-colors, $brand-accent-color-index);
    background-color: $chapter-current-color;
  } @else {
    background-color: settings2.$inverse-color;
  }
}

.#{settings.$grommet-namespace}video__chapter-marker-tick-start {
  right: auto;
  left: 0px;
}

.#{settings.$grommet-namespace}video__chapter-marker-tickhover {
  width: 8px;
  right: -8px;
}

.#{settings.$grommet-namespace}video--playing {
  &:not(.#{settings.$grommet-namespace}video--interacting) {
    .#{settings.$grommet-namespace}video__controls-primary,
    .#{settings.$grommet-namespace}video__chapter-labels,
    .#{settings.$grommet-namespace}video__overlay {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .#{settings.$grommet-namespace}video__progress {
      bottom: 0px;
      transition: ease-in-out 1s;
    }
  }
}

.#{settings.$grommet-namespace}video--ended {
  &:not(.#{settings.$grommet-namespace}video--interacting) {
    .#{settings.$grommet-namespace}video__controls-primary,
    .#{settings.$grommet-namespace}video__chapter-labels {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .#{settings.$grommet-namespace}video__progress {
      bottom: 0px;
      transition: ease-in-out 1s;
    }
  }

  .#{settings.$grommet-namespace}video__overlay {
    background-color: rgba(list.nth(settings2.$brand-grey-colors, 1), 0.7);
    color: settings2.$colored-text-color;

    .#{settings.$grommet-namespace}form {
      width: auto;
    }

    .#{settings.$grommet-namespace}form-field {
      background-color: transparent;
      border: 2px solid rgba(settings2.$colored-text-color, 0.5);
    }

    .#{settings.$grommet-namespace}form-field__contents input {
      @include tools3.inuit-font-size(settings3.$control-font-size);
      color: settings2.$colored-text-color;
      text-align: center;
    }
  }
}

// IE11 doesn't support object-fit :(
@mixin ie-video-hack () {
  .#{settings.$grommet-namespace}video--full {
    video {
      width: auto;
      height: auto;
      max-width: none;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .#{settings.$grommet-namespace}video--align-top.#{settings.$grommet-namespace}video--align-left {
    video {
      top: 0%;
      left: 0%;
      transform: none;
    }
  }

  .#{settings.$grommet-namespace}video--align-top.#{settings.$grommet-namespace}video--align-right {
    video {
      top: 0%;
      left: 100%;
      transform: translate(-100%, 0%);
    }
  }

  .#{settings.$grommet-namespace}video--align-top:not(.#{settings.$grommet-namespace}video--align-left):not(.#{settings.$grommet-namespace}video--align-right) {
    video {
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .#{settings.$grommet-namespace}video--align-bottom.#{settings.$grommet-namespace}video--align-left {
    video {
      top: 100%;
      left: 0%;
      transform: translate(0%, -100%);
    }
  }

  .#{settings.$grommet-namespace}video--align-bottom.#{settings.$grommet-namespace}video--align-right {
    video {
      top: 100%;
      left: 100%;
      transform: translate(-100%, -100%);
    }
  }

  .#{settings.$grommet-namespace}video--align-bottom:not(.#{settings.$grommet-namespace}video--align-left):not(.#{settings.$grommet-namespace}video--align-right) {
    video {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%);
    }
  }

  .#{settings.$grommet-namespace}video--align-left:not(.#{settings.$grommet-namespace}video--align-top):not(.#{settings.$grommet-namespace}video--align-bottom) {
    video {
      top: 50%;
      left: 0%;
      transform: translate(0%, -50%);
    }
  }

  .#{settings.$grommet-namespace}video--align-right:not(.#{settings.$grommet-namespace}video--align-top):not(.#{settings.$grommet-namespace}video--align-bottom) {
    video {
      top: 50%;
      left: 100%;
      transform: translate(-100%, -50%);
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @include ie-video-hack();
}

@supports (-ms-ime-align: auto) {
  @include ie-video-hack();
}
