@use "sass:math";
@use "settings.color" as settings3;
@use "settings.defaults";
@use "settings.font" as settings2;
@use "tools.functions" as tools2;
@use "tools.mixins";
@use "tools.responsive" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}menu {
  position: relative;
  white-space: nowrap;
  @include tools.inuit-font-size(settings2.$menu-font-size);

  > * {
    flex: 0 0 auto;
  }

  a:not(.#{settings.$grommet-namespace}button),
  .#{settings.$grommet-namespace}anchor {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &.#{settings.$grommet-namespace}menu--controlled {
    display: inline-block;
    cursor: pointer;
  }
}

.#{settings.$grommet-namespace}menu--fill {
  //used to add full height for button inside a flex container
  flex: 1 1 auto;
  overflow: auto;
}

.#{settings.$grommet-namespace}menu__control {

  .#{settings.$grommet-namespace}control-icon-down {
    width: tools2.halve(settings.$inuit-base-spacing-unit);

    path,
    polyline {
      stroke-width: 4px;
    }
  }

  &.#{settings.$grommet-namespace}menu--labelled {
    // IE11 fix to vertically center labelled menu control
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      line-height: settings.$inuit-base-spacing-unit;
    }

    // Removing icon transition style for labeled menus
    .#{settings.$grommet-namespace}control-icon {
      @include tools3.media-query(lap-and-up) {
        transition: none;
      }
    }
  }
}

.#{settings.$grommet-namespace}menu__drop {
  @include tools.inuit-font-size(settings2.$menu-font-size);
  max-height: 100vh;

  // avoid flexbox shinking the content inside the drop container
  > * {
    flex-shrink: 0;
  }

  a:not(.#{settings.$grommet-namespace}anchor--disabled) {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .#{settings.$grommet-namespace}anchor {
    padding: tools2.halve(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit;
    white-space: nowrap;
    display: block;
    text-decoration: none;

    &.active,
    &:hover,
    &:focus {
      text-decoration: none;
      color: settings3.$link-hover-color;
      background-color: settings3.$hover-background-color;
    }
  }

  .#{settings.$grommet-namespace}menu__control {
    text-align: left;

    .grommet.rtl & {
      text-align: right;
    }
  }

  .#{settings.$grommet-namespace}menu__label {
    padding: tools2.halve(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit;
    font-weight: settings2.$control-font-weight;
  }

  &.#{settings.$grommet-namespace}menu__drop--align-right {
    text-align: right;

    .grommet.rtl & {
      text-align: left;
    }

    .#{settings.$grommet-namespace}menu__control {
      text-align: right;

      .grommet.rtl & {
        text-align: left;
      }
    }

    .#{settings.$grommet-namespace}menu__contents {
      text-align: left;

      .grommet.rtl & {
        text-align: right;
      }
    }
  }

  .#{settings.$grommet-namespace}anchor__icon {
    padding-left: 0;
    vertical-align: middle;
    height: inherit;
  }

  .#{settings.$grommet-namespace}anchor--reverse .#{settings.$grommet-namespace}anchor__icon {
    padding-right: 0;
  }

  &.#{settings.$grommet-namespace}menu__drop--small {
    @include tools.inuit-font-size(settings2.$small-menu-font-size);

    .#{settings.$grommet-namespace}anchor__icon {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.#{settings.$grommet-namespace}menu__drop--large {
    @include tools.inuit-font-size(settings2.$large-menu-font-size);
  }

  #{settings3.$dark-background-and} {
    .#{settings.$grommet-namespace}anchor {
      &.active {
        color: settings3.$active-colored-text-color;
        background-color: settings3.$colored-active-background-color;
      }

      &:hover,
      &:focus {
        color: settings3.$active-colored-text-color;
        background-color: settings3.$colored-hover-background-color;
      }
    }
  }

  #{settings3.$light-background-and} {
    .#{settings.$grommet-namespace}anchor {
      &.active,
      &:hover,
      &:focus {
        color: settings3.$link-hover-color;
        background-color: settings3.$hover-background-color;
      }
    }
  }

} // .#{$grommet-namespace}menu__drop

.#{settings.$grommet-namespace}menu--inline {

  &.#{settings.$grommet-namespace}menu--row {
    line-height: tools2.double(settings.$inuit-base-spacing-unit);

    &.#{settings.$grommet-namespace}box--justify-end {
      > *:not(.#{settings.$grommet-namespace}control-icon) {
        margin-left: settings.$inuit-base-spacing-unit;
        margin-right: 0;

        &:first-child {
          margin-left: 0;
        }

        .grommet.rtl & {
          margin-right: settings.$inuit-base-spacing-unit;
          margin-left: 0;

          &:first-child {
            margin-right: 0;
          }
        }
      }
    }

    > *:not(.#{settings.$grommet-namespace}control-icon):not(.#{settings.$grommet-namespace}button) {
      margin-left: 0;
      margin-right: settings.$inuit-base-spacing-unit;

      &:last-child {
        margin-right: 0;
      }

      .grommet.rtl & {
        margin-right: 0;
        margin-left: settings.$inuit-base-spacing-unit;

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }

  &.#{settings.$grommet-namespace}--direction-row.#{settings.$grommet-namespace}box--responsive {
    @include tools3.media-query(palm) {
      > * {
        margin-right: 0;

        .grommet.rtl & {
          margin-left: 0;
        }
      }
    }
  }

  &.#{settings.$grommet-namespace}menu--small {
    @include tools.inuit-font-size(settings2.$small-menu-font-size, inherit);
  }

  &.#{settings.$grommet-namespace}menu--large {
    @include tools.inuit-font-size(settings2.$large-menu-font-size, inherit);
  }
}

.#{settings.$grommet-namespace}menu--primary {
  width: 100%;

  > .#{settings.$grommet-namespace}menu {
    width: 100%;
  }

  > a:not(.#{settings.$grommet-namespace}button) {
    padding: tools2.halve(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit
      tools2.halve(settings.$inuit-base-spacing-unit)
      (settings.$inuit-base-spacing-unit - settings.$active-border-width);
    margin-bottom: 0px;
    width: 100%;
    border-width: settings.$active-border-width;
    border-color: transparent;
    border-left-style: solid;

    .grommet.rtl & {
      border-right-style: none;
      border-left-style: solid;
    }

    &:hover {
      text-decoration: none;

      &:not(.active) {
        background-color: settings3.$hover-background-color;
        color: settings3.$hover-text-color;

        #{settings3.$dark-background-context} {
          background-color: settings3.$colored-hover-background-color;
          color: settings3.$active-colored-text-color;
        }

        #{settings3.$light-background-context} {
          background-color: settings3.$hover-background-color;
          color: settings3.$hover-text-color;
        }
      }
    }

    &.#{settings.$grommet-namespace}anchor--active,
    &.active {
      border-color: settings3.$brand-color;

      #{settings3.$dark-background-context} {
        border-color: transparent;
        background-color: settings3.$colored-active-background-color;
        color: settings3.$active-colored-text-color;
      }

      #{settings3.$light-background-context} {
        border-color: settings3.$brand-color;
      }
    }
  }

  @include tools3.media-query(palm) {
    &.#{settings.$grommet-namespace}menu--down {
      display: block;

      > * {
        display: block;
      }
    }
  }
}

.#{settings.$grommet-namespace}menu--inline.#{settings.$grommet-namespace}menu:not(.#{settings.$grommet-namespace}box--direction-row),
.#{settings.$grommet-namespace}menu__drop {

  > hr {
    margin: tools2.halve(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit
      math.round(settings.$inuit-base-spacing-unit * 0.75);
    height: 1px;
    background-color: settings3.$border-color;
    border: none;
  }

  a {
    text-decoration: none;
  }

  &.#{settings.$grommet-namespace}box--direction-column {
    > .#{settings.$grommet-namespace}menu:not(:first-of-type) {
      h2,
      h3 {
        margin-top: settings.$inuit-base-spacing-unit;
      }
    }
  }

  // Customize the separator for nested menus
  &.#{settings.$grommet-namespace}box.#{settings.$grommet-namespace}box--separator-top {
    border-color: transparent;

    &:before {
      content: '';
      margin: tools2.halve(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit
        math.round(settings.$inuit-base-spacing-unit * 0.75);
      height: 1px;
      background-color: settings3.$border-color;
    }
  }

  &.#{settings.$grommet-namespace}menu--small {
    > a {
      padding: tools2.quarter(settings.$inuit-base-spacing-unit) 0;
    }

    &.#{settings.$grommet-namespace}menu--primary {
      > a {
        padding: tools2.quarter(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit
          tools2.quarter(settings.$inuit-base-spacing-unit)
          (settings.$inuit-base-spacing-unit - settings.$active-border-width);
      }
    }
  }

  &.#{settings.$grommet-namespace}menu--large {
    > a {
      padding: settings.$inuit-base-spacing-unit 0;
    }

    &.#{settings.$grommet-namespace}menu--primary {
      > a {
        padding: tools2.halve(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit
          tools2.halve(settings.$inuit-base-spacing-unit)
          (settings.$inuit-base-spacing-unit - settings.$active-border-width);
      }
    }
  }

  @include tools3.media-query(palm) {
    &.#{settings.$grommet-namespace}box--responsive {

      > * {
        margin-left: 0px;
        margin-right: 0px;
      }

      .#{settings.$grommet-namespace}button {
        width: 100%;
        margin-bottom: tools2.halve(settings.$inuit-base-spacing-unit);
      }
    }
  }
}

@include tools3.media-query(palm) {
  .#{settings.$grommet-namespace}menu__drop {
    max-width: 100%;

    // remove extra space under mobile menu drop button
    &.#{settings.$grommet-namespace}box--responsive {
      .#{settings.$grommet-namespace}button {
        margin-bottom: 0;
      }
    }
  }
}
