@use "sass:color";
@use "sass:list";
@use "settings.color";
@use "settings.defaults" as settings2;
@use "tools.functions";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

@function tint($color, $percent) {
  @return color.mix(#ffffff, $color, $percent);
}

@function generate-tint($color) {
  @return tint($color, 5%);
}

#{settings.$pending-background} {
  color: transparent;
}

#{settings.$dark-background} {
  color: settings.$active-colored-text-color;

  input::-webkit-input-placeholder {
    color: settings.$active-colored-text-color;
  }

  input::-moz-placeholder {
    color: settings.$active-colored-text-color;
  }

  input:-ms-input-placeholder {
    color: settings.$active-colored-text-color;
  }
}

#{settings.$light-background} {
  color: settings.$text-color;

  input::-webkit-input-placeholder {
    color: settings.$text-color;
  }

  input::-moz-placeholder {
    color: settings.$text-color;
  }

  input:-ms-input-placeholder {
    color: settings.$text-color;
  }
}

.#{settings2.$grommet-namespace}background-color-index-brand {
  background-color: settings.$brand-color;

  &-a {
    background-color: rgba(settings.$brand-color, 0.94);
  }
}

.#{settings2.$grommet-namespace}border-color-index-brand {
  border-color: settings.$brand-color;

  &-a {
    border-color: rgba(settings.$brand-color, 0.94);
  }
}

@for $i from 1 through list.length(settings.$brand-neutral-colors) {
  .#{settings2.$grommet-namespace}background-color-index-neutral-#{$i},
  .#{settings2.$grommet-namespace}background-color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)} {
    background-color: list.nth(settings.$brand-neutral-colors, $i);
  }

  .#{settings2.$grommet-namespace}background-color-index-neutral-#{$i}-t,
  .#{settings2.$grommet-namespace}background-color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)}-t {
    background-color: generate-tint(list.nth(settings.$brand-neutral-colors, $i));
  }

  .#{settings2.$grommet-namespace}background-color-index-neutral-#{$i}-a,
  .#{settings2.$grommet-namespace}background-color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)}-a {
    background-color: rgba(list.nth(settings.$brand-neutral-colors, $i), 0.8);
  }

  .#{settings2.$grommet-namespace}border-color-index-neutral-#{$i},
  .#{settings2.$grommet-namespace}border-color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)} {
    border-color: list.nth(settings.$brand-neutral-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-color-index-neutral-#{$i}-t,
  .#{settings2.$grommet-namespace}border-color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)}-t {
    border-color: generate-tint(list.nth(settings.$brand-neutral-colors, $i));
  }

  .#{settings2.$grommet-namespace}color-index-neutral-#{$i},
  .#{settings2.$grommet-namespace}color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)} {
    color: list.nth(settings.$brand-neutral-colors, $i);
  }

  .#{settings2.$grommet-namespace}color-index-neutral-#{$i}-t,
  .#{settings2.$grommet-namespace}color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)}-t {
    color: generate-tint(list.nth(settings.$brand-neutral-colors, $i));
  }

  .#{settings2.$grommet-namespace}background-hover-color-index-neutral-#{$i}:hover,
  .#{settings2.$grommet-namespace}background-hover-color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)}:hover {
    background-color: rgba(list.nth(settings.$brand-neutral-colors, $i), 0.3);
  }

  .#{settings2.$grommet-namespace}border-small-hover-color-index-neutral-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-small-hover-color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)}:hover {
    box-shadow: 0 0 0 1px list.nth(settings.$brand-neutral-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-medium-hover-color-index-neutral-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-medium-hover-color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)}:hover {
    box-shadow: 0 0 0 tools.halve(settings2.$inuit-base-spacing-unit) list.nth(settings.$brand-neutral-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-large-hover-color-index-neutral-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-large-hover-color-index-neutral-#{$i + list.length(settings.$brand-neutral-colors)}:hover {
    box-shadow: 0 0 0 settings2.$inuit-base-spacing-unit list.nth(settings.$brand-neutral-colors, $i);
  }
}

@for $i from 1 through list.length(settings.$brand-accent-colors) {
  .#{settings2.$grommet-namespace}background-color-index-accent-#{$i},
  .#{settings2.$grommet-namespace}background-color-index-accent-#{$i + list.length(settings.$brand-accent-colors)} {
    background-color: list.nth(settings.$brand-accent-colors, $i);
  }

  .#{settings2.$grommet-namespace}background-color-index-accent-#{$i}-t,
  .#{settings2.$grommet-namespace}background-color-index-accent-#{$i + list.length(settings.$brand-accent-colors)}-t {
    background-color: generate-tint(list.nth(settings.$brand-accent-colors, $i));
  }

  .#{settings2.$grommet-namespace}background-color-index-accent-#{$i}-a,
  .#{settings2.$grommet-namespace}background-color-index-accent-#{$i + list.length(settings.$brand-accent-colors)}-a {
    background-color: rgba(list.nth(settings.$brand-accent-colors, $i), 0.8);
  }

  .#{settings2.$grommet-namespace}border-color-index-accent-#{$i},
  .#{settings2.$grommet-namespace}border-color-index-accent-#{$i + list.length(settings.$brand-accent-colors)} {
    border-color: list.nth(settings.$brand-accent-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-color-index-accent-#{$i}-t,
  .#{settings2.$grommet-namespace}border-color-index-accent-#{$i + list.length(settings.$brand-accent-colors)}-t {
    border-color: generate-tint(list.nth(settings.$brand-accent-colors, $i));
  }

  .#{settings2.$grommet-namespace}color-index-accent-#{$i},
  .#{settings2.$grommet-namespace}color-index-accent-#{$i + list.length(settings.$brand-accent-colors)} {
    color: list.nth(settings.$brand-accent-colors, $i);
  }

  .#{settings2.$grommet-namespace}color-index-accent-#{$i}-t,
  .#{settings2.$grommet-namespace}color-index-accent-#{$i + list.length(settings.$brand-accent-colors)}-t {
    color: generate-tint(list.nth(settings.$brand-accent-colors, $i));
  }

  .#{settings2.$grommet-namespace}background-hover-color-index-accent-#{$i}:hover,
  .#{settings2.$grommet-namespace}background-hover-color-index-accent-#{$i + list.length(settings.$brand-accent-colors)}:hover {
    background-color: rgba(list.nth(settings.$brand-accent-colors, $i), 0.3);
  }

  .#{settings2.$grommet-namespace}border-small-hover-color-index-accent-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-small-hover-color-index-accent-#{$i + list.length(settings.$brand-accent-colors)}:hover {
    box-shadow: 0 0 0 1px list.nth(settings.$brand-accent-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-medium-hover-color-index-accent-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-medium-hover-color-index-accent-#{$i + list.length(settings.$brand-accent-colors)}:hover {
    box-shadow: 0 0 0 tools.halve(settings2.$inuit-base-spacing-unit) list.nth(settings.$brand-accent-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-large-hover-color-index-accent-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-large-hover-color-index-accent-#{$i + list.length(settings.$brand-accent-colors)}:hover {
    box-shadow: 0 0 0 settings2.$inuit-base-spacing-unit list.nth(settings.$brand-accent-colors, $i);
  }
}

@for $i from 1 through list.length(settings.$brand-grey-colors) {
  .#{settings2.$grommet-namespace}background-color-index-grey-#{$i},
  .#{settings2.$grommet-namespace}background-color-index-grey-#{$i + list.length(settings.$brand-grey-colors)} {
    background-color: list.nth(settings.$brand-grey-colors, $i);
  }

  .#{settings2.$grommet-namespace}background-color-index-grey-#{$i}-a,
  .#{settings2.$grommet-namespace}background-color-index-grey-#{$i + list.length(settings.$brand-grey-colors)}-a {
    background-color: rgba(list.nth(settings.$brand-grey-colors, $i), 0.8);
  }

  .#{settings2.$grommet-namespace}border-color-index-grey-#{$i},
  .#{settings2.$grommet-namespace}border-color-index-grey-#{$i + list.length(settings.$brand-grey-colors)} {
    border-color: list.nth(settings.$brand-grey-colors, $i);
  }

  .#{settings2.$grommet-namespace}background-hover-color-index-grey-#{$i}:hover,
  .#{settings2.$grommet-namespace}background-hover-color-index-grey-#{$i + list.length(settings.$brand-grey-colors)}:hover {
    background-color: rgba(list.nth(settings.$brand-grey-colors, $i), 0.3);
  }

  .#{settings2.$grommet-namespace}border-small-hover-color-index-grey-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-small-hover-color-index-grey-#{$i + list.length(settings.$brand-grey-colors)}:hover {
    box-shadow: 0 0 0 1px list.nth(settings.$brand-grey-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-medium-hover-color-index-grey-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-medium-hover-color-index-grey-#{$i + list.length(settings.$brand-grey-colors)}:hover {
    box-shadow: 0 0 0 tools.halve(settings2.$inuit-base-spacing-unit) list.nth(settings.$brand-grey-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-large-hover-color-index-grey-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-large-hover-color-index-grey-#{$i + list.length(settings.$brand-grey-colors)}:hover {
    box-shadow: 0 0 0 settings2.$inuit-base-spacing-unit list.nth(settings.$brand-grey-colors, $i);
  }
}

@for $i from 1 through list.length(settings.$brand-graph-colors) {
  .#{settings2.$grommet-namespace}background-color-index-graph-#{$i},
  .#{settings2.$grommet-namespace}background-color-index-graph-#{$i + list.length(settings.$brand-graph-colors)} {
    background-color: list.nth(settings.$brand-graph-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-color-index-graph-#{$i},
  .#{settings2.$grommet-namespace}border-color-index-graph-#{$i + list.length(settings.$brand-graph-colors)} {
    border-color: list.nth(settings.$brand-graph-colors, $i);
  }
}

@each $status, $color in settings.$brand-status-colors {
  .#{settings2.$grommet-namespace}background-color-index-#{$status} {
    background-color: $color;
  }

  .#{settings2.$grommet-namespace}border-color-index-#{$status} {
    border-color: $color;
  }

  .#{settings2.$grommet-namespace}color-index-#{$status} {
    color: $color;
  }

  .#{settings2.$grommet-namespace}background-hover-color-index-#{$status}:hover {
    background-color: rgba($color, 0.3);
  }

  .#{settings2.$grommet-namespace}border-small-hover-color-index-#{$status}:hover {
    box-shadow: 0 0 0 1px $color;
  }

  .#{settings2.$grommet-namespace}border-medium-hover-color-index-#{$status}:hover {
    box-shadow: 0 0 0 tools.halve(settings2.$inuit-base-spacing-unit) $color;
  }

  .#{settings2.$grommet-namespace}border-large-hover-color-index-#{$status}:hover {
    box-shadow: 0 0 0 settings2.$inuit-base-spacing-unit $color;
  }
}

@for $i from 1 through list.length(settings.$brand-light-colors) {
  .#{settings2.$grommet-namespace}background-color-index-light-#{$i},
  .#{settings2.$grommet-namespace}background-color-index-light-#{$i + list.length(settings.$brand-light-colors)} {
    background-color: list.nth(settings.$brand-light-colors, $i);
  }

  .#{settings2.$grommet-namespace}background-color-index-light-#{$i}-a,
  .#{settings2.$grommet-namespace}background-color-index-light-#{$i + list.length(settings.$brand-light-colors)}-a {
    background-color: rgba(list.nth(settings.$brand-light-colors, $i), 0.8);
  }

  .#{settings2.$grommet-namespace}border-color-index-light-#{$i},
  .#{settings2.$grommet-namespace}border-color-index-light-#{$i + list.length(settings.$brand-light-colors)} {
    border-color: list.nth(settings.$brand-light-colors, $i);
  }

  .#{settings2.$grommet-namespace}background-hover-color-index-light-#{$i}:hover,
  .#{settings2.$grommet-namespace}background-hover-color-index-light-#{$i + list.length(settings.$brand-light-colors)}:hover {
    background-color: rgba(list.nth(settings.$brand-light-colors, $i), 0.3);
  }

  .#{settings2.$grommet-namespace}border-small-hover-color-index-light-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-small-hover-color-index-light-#{$i + list.length(settings.$brand-light-colors)}:hover {
    box-shadow: 0 0 0 1px list.nth(settings.$brand-light-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-medium-hover-color-index-light-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-medium-hover-color-index-light-#{$i + list.length(settings.$brand-light-colors)}:hover {
    box-shadow: 0 0 0 tools.halve(settings2.$inuit-base-spacing-unit) list.nth(settings.$brand-light-colors, $i);
  }

  .#{settings2.$grommet-namespace}border-large-hover-color-index-light-#{$i}:hover,
  .#{settings2.$grommet-namespace}border-large-hover-color-index-light-#{$i + list.length(settings.$brand-light-colors)}:hover {
    box-shadow: 0 0 0 settings2.$inuit-base-spacing-unit list.nth(settings.$brand-light-colors, $i);
  }
}

.#{settings2.$grommet-namespace}background-color-index-unset {
  background-color: settings.$unset-color;
}
