@use "sass:map";
@use "sass:math";
@use "settings.color" as settings3;
@use "settings.defaults";
@use "settings.font" as settings2;
@use "tools.functions";
@use "tools.mixins" as tools2;
@use "tools.responsive" as tools3;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

$form-horizontal-padding: settings.$inuit-base-spacing-unit; //round($inuit-base-spacing-unit * 0.75);
$form-vertical-padding: tools.quarter(settings.$inuit-base-spacing-unit) - settings.$input-border-width;

$select-drop-caret: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAcBJREFUSA3tUz9IAmEU9+7gNv8MLo7NrXpwYFtLhrQWbQWpoEuRs2MZNYnoUHNES0RNLS0hhxANzkFBLg5Jk4ee/X7iF+d5lyIIBX5wfO99v9/vve/ee5/Pt1iLCvz5CkipVOqu3+8n5nFTSZLuZVVVtxC8MYcEjWAwuCkxcDabXTJN04AZRtazarV6MEtCVOMU1diHtoWLa6VS6VVhIMMwPjVNqwHchhuPxWLv9Xr9mdi0K51O70B/BL6pKMp6uVx+oXaQgAYCviHwB0gb+NaQ8JFnxCatTCazYlnWFXiKLMt7lUrlRmh+EvCAt45GowGYcSRJ6rp+zb8TZLed5e12uw/A/MPyHtt5st2hHYlEDtl9mGH05Tafz/udHOETI4dcaqgVmNjHEhQKBYvdB4GTtdxuty9x5saTiZFDLjXUwh5ZY0KixWLxC1OQhNlCqRLNZvNkRAWHZ8TIIZcaJ4f+SA/shN8my2ti7HphD96BcNx2BsOEnAPj+K2S0+v12FQVE7OLibngmdeamIBC+wMaBpr6Qbr2wHkb+2QB85wYp47+VH9AYi6XC3Q6nSfaoVBI92oq8ZkXHxW/mQP8S+E3ZIDJn85FDg8AAAAASUVORK5CYII=);
$colored-select-drop-caret: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAASVJREFUSA3tlDGOwjAQRWNKCmoqLpByz0DPFVbcgQ4JiW77LREVNUicg0vsESi2JLwfDcramQQLCWmFsPRDZub/b8ceUxTv8d6Bf78DoaqqFav8eNJKTwOMv8DPEyaQp7yLgq8Ygx04gnmdfOAhrXnIaxxZkCjB3gjTqJgRoJuaVh6lK8kiOUoZgrzFQez+TN+8d3t1yOnYkjiBEVgy4TAl3GKrLY0rjbTRaE0QQrjAuHXWhPcFRi2e5RbUxak7xrSEzWgJVYL4y88anIHuyCdIh3KqibM2Tcrpj1mle3jk73dMv3VTTc26Jm0U8VuIQz/CVJdvBrQdGmqAA9uyqaOeh3sGDv9vZ8nc7RhHl5/iK4bg29DZuvmODhNzXar4P8bhvVbqCvor5P4CpWjxAAAAAElFTkSuQmCC);

@mixin form-field-content {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0px;
  @include tools2.inuit-font-size(settings2.$content-font-size);
  padding: tools.quarter(settings.$inuit-base-spacing-unit) $form-horizontal-padding (tools.quarter(settings.$inuit-base-spacing-unit) + $form-vertical-padding);
  margin-bottom: -$form-vertical-padding;

  &:focus {
    padding: tools.quarter(settings.$inuit-base-spacing-unit) $form-horizontal-padding (tools.quarter(settings.$inuit-base-spacing-unit) + $form-vertical-padding);
  }

  #{settings3.$dark-background-context} {
    color: settings3.$active-colored-text-color;
  }

  #{settings3.$light-background-context} {
    color: settings3.$text-color;
  }
}

.#{settings.$grommet-namespace}form-field {
  position: relative;
  padding: $form-vertical-padding $form-horizontal-padding;
  border: settings.$input-border-width solid settings3.$border-color;
  margin-bottom: - settings.$input-border-width; // so borders overlap
  background-color: settings3.$form-field-background-color;
  color: settings3.$text-color;
  opacity: 1; // for --hidden

  @include tools3.media-query(lap-and-up) {
    width: 100%;
    // overflow: hidden; // for Firefox and IE
    overflow: auto;
    transition: all 0.4s, padding-top 0.3s 0.1s, padding-bottom 0.3s 0.1s;
  }

  @include tools3.media-query(palm) {
    display: block;
  }

  #{settings3.$dark-background-context} {
    background-color: transparent;
    color: settings3.$colored-text-color;
    border-color: settings3.$colored-border-color;
  }

  #{settings3.$light-background-context} {
    background-color: settings3.$form-field-background-color;
    color: settings3.$text-color;
    border-color: settings3.$border-color;
  }

  .#{settings.$grommet-namespace}form--fill & {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.#{settings.$grommet-namespace}form-field__label {
  display: block;
  @include tools2.inuit-font-size(settings2.$content-small-font-size, settings.$inuit-base-spacing-unit);
  color: settings3.$secondary-text-color;

  #{settings3.$dark-background-context} {
    color: settings3.$colored-text-color;
  }

  #{settings3.$light-background-context} {
    color: settings3.$secondary-text-color;
  }
}

.#{settings.$grommet-namespace}form-field__contents {
  display: block;
  margin-left: - $form-horizontal-padding;
  margin-right: - $form-horizontal-padding;

  > .#{settings.$grommet-namespace}box {
    input {
      border: none;
      padding: 0;
    }

    .#{settings.$grommet-namespace}anchor {
      color: settings3.$control-brand-color;
      text-decoration: none;
    }
  }

  > input:not([type]),
  > input[type=text],
  > input[type=range],
  > input[type=email],
  > input[type=tel],
  > input[type=url],
  > input[type=password],
  > input[type=number],
  > input[type=file],
  > input[type=color],
  > select,
  > textarea {
    .grommet & {
      @include form-field-content();
    }
  }

  > .#{settings.$grommet-namespace}search-input input,
  > .#{settings.$grommet-namespace}calendar input,
  > .#{settings.$grommet-namespace}date-time input,
  > .#{settings.$grommet-namespace}select:not(.#{settings.$grommet-namespace}select--inline) input,
  > .#{settings.$grommet-namespace}password-input input {
    .grommet & {
      @include form-field-content();
      // align left padding with other form inputs
      padding-left: settings.$inuit-base-spacing-unit;
      padding-bottom: tools.quarter(settings.$inuit-base-spacing-unit) + $form-vertical-padding;

      &:focus {
        padding-bottom: tools.quarter(settings.$inuit-base-spacing-unit) + $form-vertical-padding;
      }
    }
  }

  > .#{settings.$grommet-namespace}select:not(.#{settings.$grommet-namespace}select--inline) .#{settings.$grommet-namespace}select__value {
    border: none;
  }

  > input:not([type]),
  > input[type=text],
  > input[type=range],
  > input[type=email],
  > input[type=tel],
  > input[type=url],
  > input[type=password],
  > input[type=number],
  > input[type=file],
  > input[type=color],
  > select,
  > .#{settings.$grommet-namespace}search-input input,
  > .#{settings.$grommet-namespace}calendar input,
  > .#{settings.$grommet-namespace}date-time input,
  > .#{settings.$grommet-namespace}text-input,
  > .#{settings.$grommet-namespace}select:not(.#{settings.$grommet-namespace}select--inline) input,
  > .#{settings.$grommet-namespace}password-input input {
    height: settings.$inuit-base-spacing-unit + tools.halve(settings.$inuit-base-spacing-unit) + $form-vertical-padding;
    // for IE 11.
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      line-height: normal;
    }
  }

  > input[type=range] {
    width: calc(100% - #{tools.double($form-horizontal-padding)});
    margin-left: $form-horizontal-padding;
    margin-right: $form-horizontal-padding;
    padding-left: 0px;
    padding-right: 0px;
  }

  // Disable IE's clear field 'X' button
  > input::-ms-clear {
    display: none;
  }

  > select {
    display: block;
    background-image: $select-drop-caret;
    padding-right: tools.double(settings.$inuit-base-spacing-unit);
    background-position: center right #{$form-horizontal-padding - tools.quarter(settings.$inuit-base-spacing-unit)};
    // Extra padding is added by Firefox (more) and IE (less).
    // Leave it alone as Safari, Chrome, and Opera don't want this.
    // padding-left: #{$form-horizontal-padding - 2};

    &:focus {
      padding-right: tools.double(settings.$inuit-base-spacing-unit);
    }

    // Firefox hack for left-aligning select with other inputs.
    _:-moz-tree-row(hover),
    &,
    &:focus {
      padding-left: (settings.$inuit-base-spacing-unit - (settings.$input-border-width + 2));
    }

    // IE11 hack for left-aligning select with other inputs
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding-left: (settings.$inuit-base-spacing-unit - (settings.$input-border-width + 1));

      &:focus {
        padding-left: (settings.$inuit-base-spacing-unit - (settings.$input-border-width + 1));

        #{settings3.$dark-background-context} {
          option {
            // fix white dropdown text in IE11
            color: settings3.$text-color;
          }
        }
      }
    }

    html.rtl & {
      background-position: center left #{$form-horizontal-padding - tools.quarter(settings.$inuit-base-spacing-unit)};
    }

    #{settings3.$dark-background-context} {
      background-image: $colored-select-drop-caret;
    }

    #{settings3.$light-background-context} {
      background-image: $select-drop-caret;
    }
  }

  // For dotted firefox outline
  > select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  // Disable IE's select arrow
  > select::-ms-expand {
    display: none;
  }

  // Disable IE's background select
  > select::-ms-value {
    background: none;
    color: inherit;
  }

  > .#{settings.$grommet-namespace}select {
    .#{settings.$grommet-namespace}select__options {
      margin-left: $form-horizontal-padding;
      margin-right: $form-horizontal-padding;
    }
  }

  // Prevent textarea from adding extra bottom margin
  > textarea {
    vertical-align: top;
    height: auto;
    // Note that resize does nothing in IE/Edge
    resize: vertical;
  }

  > .#{settings.$grommet-namespace}check-box,
  > .#{settings.$grommet-namespace}radio-button {
    display: block;
    @include tools2.inuit-font-size(settings2.$content-font-size);
    margin-top: $form-vertical-padding;
    margin-bottom: $form-vertical-padding;
    margin-left: $form-horizontal-padding;
    margin-right: $form-horizontal-padding;
  }

  > .#{settings.$grommet-namespace}search-input,
  > .#{settings.$grommet-namespace}calendar,
  > .#{settings.$grommet-namespace}date-time {
    display: block;

    input {
      margin-left: 0px;
      margin-right: 0px;
    }

    .#{settings.$grommet-namespace}search-input__control,
    .#{settings.$grommet-namespace}calendar__control,
    .#{settings.$grommet-namespace}date-time__control {
      top: auto;
      right: tools.quarter(settings.$inuit-base-spacing-unit);
      transform: none;
      bottom: 0; // - $input-border-width;

      html.rtl & {
        right: auto;
        left: tools.quarter(settings.$inuit-base-spacing-unit);
      }

      > .#{settings.$grommet-namespace}button__icon {
        padding: tools.halve(settings.$inuit-base-spacing-unit) - settings.$button-border-width - settings.$input-border-width;
      }
    }
  }

  > .#{settings.$grommet-namespace}number-input {
    display: flex;
    padding-right: tools.quarter(settings.$inuit-base-spacing-unit);

    html.rtl & {
      padding-right: 0;
      padding-left: tools.quarter(settings.$inuit-base-spacing-unit);
    }

    input[type=number] {
      display: inline-block;
      flex: 1;
      flex-basis: inherit; // required for firefox to prevent horizontal scrollbar
      width: 0; // required to keep reset input width and let flex-grow handle it
      border: none;
      padding: 0 $form-horizontal-padding;

      &:focus {
        padding: 0 $form-horizontal-padding;
      }

      // For some reason, .number-input input causes form fields to be
      // too wide in compact forms.
      .#{settings.$grommet-namespace}form--compact & {
        min-width: math.round(settings.$inuit-base-spacing-unit * 3);
      }
    }
  }

  > input[type=file] {
    display: inline-block;

    // Turned off, overruns file name text on compact forms.
    // &::-webkit-file-upload-button {
    //   float: right;
    // }
  }

  > .#{settings.$grommet-namespace}table--selectable {
    @include tools2.inuit-font-size(settings2.$content-font-size);

    table {
      margin-bottom: 0px;

      td:first-child,
      th:first-child {
        padding-left: $form-horizontal-padding;
      }
    }
  }

  > .#{settings.$grommet-namespace}form-field {
    width: auto;
    margin-top: tools.halve(settings.$inuit-base-spacing-unit);
    border: none;

    > .#{settings.$grommet-namespace}form-field__label {
      border-top: 1px solid settings3.$border-color;
      padding-top: $form-vertical-padding;
    }
  }
}

.#{settings.$grommet-namespace}form-field__contents--hidden {
  margin-top: 0px;
}

.#{settings.$grommet-namespace}form-field__help {
  display: block;
  @include tools2.inuit-font-size(settings2.$content-small-font-size);
  color: settings3.$secondary-text-color;

  #{settings3.$dark-background-context} {
    color: settings3.$colored-text-color;
  }

  #{settings3.$light-background-context} {
    color: settings3.$secondary-text-color;
  }
}

.#{settings.$grommet-namespace}form-field__error {
  display: block;
  float: right;
  color: map.get(settings3.$brand-status-colors, critical);
  line-height: settings.$inuit-base-spacing-unit;

  html.rtl & {
    float: left;
  }

  #{settings3.$dark-background-context} {
    color: settings3.$brand-error-colored-color;
  }

  #{settings3.$light-background-context} {
    color: map.get(settings3.$brand-status-colors, critical);
  }
}

.#{settings.$grommet-namespace}form-field--text {
  cursor: pointer;

  .#{settings.$grommet-namespace}form-field__label {
    cursor: pointer;
  }
}

.#{settings.$grommet-namespace}form-field--hidden {

  @include tools3.media-query(palm) {
    display: none;
  }

  @include tools3.media-query(lap-and-up) {
    border: none;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s, all 0.4s;
  }
}

.#{settings.$grommet-namespace}form-field--error {
  z-index: 1;
  border-color: map.get(settings3.$brand-status-colors, critical);

  #{settings3.$dark-background-context} {
    border-color: settings3.$brand-error-colored-color;
  }

  #{settings3.$light-background-context} {
    border-color: map.get(settings3.$brand-status-colors, critical);
  }
}

.#{settings.$grommet-namespace}form-field--focus {
  z-index: 2;
  border-color: settings3.$focus-border-color;

  #{settings3.$dark-background-context} {
    border-color: settings3.$focus-border-color;
  }

  #{settings3.$light-background-context} {
    border-color: settings3.$focus-border-color;
  }
}

.#{settings.$grommet-namespace}form-field--size-large {
  font-size: settings2.$paragraph-large-font-size;

  input:not([type]),
  input[type="text"] {
    font-size: settings2.$paragraph-large-font-size;
    height: auto;
  }
}

.#{settings.$grommet-namespace}form-field--strong {
  input:not([type]),
  input[type="text"] {
    font-weight: settings2.$text-strong-font-weight;
  }
}
