@use "objects.animate";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.animation";
@use "tools.functions" as tools2;

// (C) Copyright 2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}toast__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

@include tools.keyframes(toast-lower) {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}

@include tools.keyframes(toast-raise) {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-100%); }
}

.#{settings.$grommet-namespace}toast {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: settings.$header-height;
  background-color: settings2.$toast-background-color;
  @include tools.animation('toast-lower #{objects.$animation-duration}');
}

.#{settings.$grommet-namespace}toast--closing {
  @include tools.animation('toast-raise #{objects.$animation-duration}');
  animation-fill-mode: forwards;
}

.#{settings.$grommet-namespace}toast__closer {
  flex: 0 0 auto;
}

.#{settings.$grommet-namespace}toast__status {
  flex: 0 0 auto;
  margin-left: settings.$inuit-base-spacing-unit;
}

.#{settings.$grommet-namespace}toast__contents {
  flex: 1;
  padding: tools2.quarter(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit;
}

.#{settings.$grommet-namespace}toast--small {
  min-height: settings.$small-header-height;
}

.#{settings.$grommet-namespace}toast--medium {
  min-height: settings.$header-height;
}

.#{settings.$grommet-namespace}toast--large {
  min-height: settings.$large-header-height;
}
