@use "settings.defaults";
@use "tools.functions";
@use "tools.responsive" as tools2;

// (C) Copyright 2016 Hewlett Packard Enterprise Development LP

@mixin column-flex-basis ($original-basis) {
  @include tools2.media-query(lap-and-up) {
    > .#{settings.$grommet-namespace}columns__column {
      flex-basis: calc(#{$original-basis});
    }

    &.#{settings.$grommet-namespace}columns--margin-small {
      > .#{settings.$grommet-namespace}columns__column {
        flex-basis: calc(#{$original-basis} + #{tools.halve(settings.$inuit-base-spacing-unit)});
      }
    }

    &.#{settings.$grommet-namespace}columns--margin-medium {
      > .#{settings.$grommet-namespace}columns__column {
        flex-basis: calc(#{$original-basis} + #{settings.$inuit-base-spacing-unit});
      }
    }

    &.#{settings.$grommet-namespace}columns--margin-large {
      > .#{settings.$grommet-namespace}columns__column {
        flex-basis: calc(#{$original-basis} + #{tools.double(settings.$inuit-base-spacing-unit)});
      }
    }
  }
}

.#{settings.$grommet-namespace}columns {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include column-flex-basis(settings.$size-medium);

  @include tools2.media-query(palm) {
    flex-direction: column;
  }
}

.#{settings.$grommet-namespace}columns__column {
  flex: 0 0 settings.$size-medium; //$size-medium;
  display: flex;
  flex-direction: column;

  @include tools2.media-query(palm) {
    flex-basis: auto;
  }
}

.#{settings.$grommet-namespace}columns--responsive {
  > .#{settings.$grommet-namespace}columns__column {
    @include tools2.media-query(palm) {
      flex: 0 1 auto;
    }
  }

  &.#{settings.$grommet-namespace}columns--small,
  &.#{settings.$grommet-namespace}columns--medium,
  &.#{settings.$grommet-namespace}columns--large {
    > .#{settings.$grommet-namespace}columns__column {
      @include tools2.media-query(palm) {
        flex: 0 1 auto;
      }
    }
  }
}

.#{settings.$grommet-namespace}columns--small {
  @include column-flex-basis(settings.$size-small);
}

.#{settings.$grommet-namespace}columns--medium {
  @include column-flex-basis(settings.$size-medium);
}

.#{settings.$grommet-namespace}columns--large {
  @include column-flex-basis(settings.$size-large);
}

.#{settings.$grommet-namespace}columns--justify-start {
  justify-content: flex-start;
}

.#{settings.$grommet-namespace}columns--justify-center {
  justify-content: center;
}

.#{settings.$grommet-namespace}columns--justify-between {
  justify-content: space-between;
}

.#{settings.$grommet-namespace}columns--justify-end {
  justify-content: flex-end;
}
