@use "settings.defaults";
@use "tools.functions";

.#{settings.$grommet-namespace}quote {
  border-width: settings.$inuit-base-spacing-unit;
  border-style: solid;
  max-width: 100%;
}

.#{settings.$grommet-namespace}quote--small {
  border-width: tools.halve(settings.$inuit-base-spacing-unit);
}
