@use "settings.color" as settings3;
@use "settings.defaults";
@use "settings.font" as settings2;
@use "tools.margin" as tools3;
@use "tools.mixins";
@use "tools.text-align" as tools2;

.#{settings.$grommet-namespace}label {
  @include tools.inuit-font-size(settings2.$control-font-size);
  @include tools2.text-align();
  @include tools3.vertical-margin();
  font-weight: settings2.$text-font-weight;
  cursor: inherit;
}

.#{settings.$grommet-namespace}label--truncate {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{settings.$grommet-namespace}label--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.#{settings.$grommet-namespace}label--small {
  @include tools.inuit-font-size(settings2.$content-small-font-size);
  color: settings3.$secondary-text-color;

  #{settings3.$dark-background-context} {
    color: settings3.$inactive-colored-text-color;
  }

  #{settings3.$light-background-context} {
    color: settings3.$secondary-text-color;
  }
}

.#{settings.$grommet-namespace}label--large {
  @include tools.inuit-font-size(settings2.$content-large-font-size);
}
