@use "sass:math";
@use "objects.meter";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.animation";
@use "tools.color-index" as tools4;
@use "tools.functions" as tools3;
@use "tools.responsive" as tools2;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

// CIRCLE, ARC, SPIRAL

$meter-circle-dash: math.round(objects.$meter-size-default * 3.2);

@include tools.keyframes(draw-meter-circle) {
  0% {
    stroke-dashoffset: - $meter-circle-dash;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.#{settings.$grommet-namespace}meter--circle,
.#{settings.$grommet-namespace}meter--arc,
.#{settings.$grommet-namespace}meter--spiral {

  @include tools2.media-query(palm) {
    margin: 0px auto;
  }

  .#{settings.$grommet-namespace}meter.series-pre {
    path {
      stroke-dashoffset: tools3.quadruple(objects.$meter-size-default);
    }
  }

  .#{settings.$grommet-namespace}meter__slice {
    stroke-linecap: butt;
  }

  .#{settings.$grommet-namespace}meter__slice-indicator {
    stroke-linecap: square;
    stroke-width: objects.$meter-indicator-width;
    stroke: settings2.$threshold-color;

    #{settings2.$dark-background-context} {
      stroke: settings2.$colored-meter-background-color;
    }

    #{settings2.$light-background-context} {
      stroke: settings2.$threshold-color;
    }
  }

  .#{settings.$grommet-namespace}meter__values .#{settings.$grommet-namespace}meter__slice {
    @include tools4.graph-stroke-color();

    &--clickable {
      cursor: pointer;
    }

    @include tools2.media-query(lap-and-up) {
      stroke-dasharray: $meter-circle-dash $meter-circle-dash;
      stroke-dashoffset: 0;
      transition: stroke-width 0.2s;
      @include tools.animation('draw-meter-circle 1s ease-in');
    }
  }

  .#{settings.$grommet-namespace}meter__thresholds .#{settings.$grommet-namespace}meter__slice,
  .#{settings.$grommet-namespace}meter__tracks .#{settings.$grommet-namespace}meter__slice {
    @include tools4.graph-stroke-color-translucent(0.5);
  }

  .#{settings.$grommet-namespace}meter__threshold {
    stroke-linecap: butt;
  }
}
