@use "sass:list";
@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.functions";

// (C) Copyright 2016 Hewlett Packard Enterprise Development LP

$tip-after-size: calc(tools.halve(settings.$inuit-base-spacing-unit) - 1px);

.grommet.#{settings.$grommet-namespace}tip__drop {
  overflow: visible; // needed so caret can be seen
  max-width: settings.$size-medium;
}

.#{settings.$grommet-namespace}tip__drop {

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: $tip-after-size solid transparent;
    border-right: $tip-after-size solid transparent;
  }
}

.#{settings.$grommet-namespace}tip__drop--top {
  transform: translateY(#{tools.halve(settings.$inuit-base-spacing-unit)});

  &:after {
    content: '';
    top: - $tip-after-size;
    border-bottom: $tip-after-size solid settings2.$border-color;
  }

  @for $i from 1 through list.length(settings2.$brand-accent-colors) {
    &.#{settings.$grommet-namespace}background-color-index-accent-#{$i},
    &.#{settings.$grommet-namespace}background-color-index-accent-#{$i + list.length(settings2.$brand-accent-colors)} {
      &:after {
        content: '';
        border-bottom-color: list.nth(settings2.$brand-accent-colors, $i);
      }
    }
  }
}

.#{settings.$grommet-namespace}tip__drop--bottom {
  transform: translateY(#{- tools.halve(settings.$inuit-base-spacing-unit)});

  &:after {
    content: '';
    bottom: - $tip-after-size;
    border-top: $tip-after-size solid settings2.$border-color;
  }

  @for $i from 1 through list.length(settings2.$brand-accent-colors) {
    &.#{settings.$grommet-namespace}background-color-index-accent-#{$i},
    &.#{settings.$grommet-namespace}background-color-index-accent-#{$i + list.length(settings2.$brand-accent-colors)} {
      &:after {
        content: '';
        border-top-color: list.nth(settings2.$brand-accent-colors, $i);
      }
    }
  }
}

.#{settings.$grommet-namespace}tip__drop--left {
  &:after {
    content: '';
    left: $tip-after-size;
  }
}

.#{settings.$grommet-namespace}tip__drop--right {
  &:after {
    content: '';
    right: $tip-after-size;
  }
}

.#{settings.$grommet-namespace}tip {
  overflow: hidden;
}
