@use "settings.color" as settings2;
@use "settings.defaults";

// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.grommet.#{settings.$grommet-namespace}drop {
  position: fixed;
  z-index: 20;
  border-radius: settings.$border-radius;
  overflow: auto;
}

.grommet.#{settings.$grommet-namespace}drop:not([class*="background-color-index-"]) {
  background-color: settings2.$drop-background;
  border: settings2.$drop-border;
  box-shadow: settings2.$drop-box-shadow;
}
