@use "settings.color" as settings2;
@use "settings.defaults";
@use "tools.functions" as tools2;
@use "tools.input";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{settings.$grommet-namespace}text-input {
  @include tools.input();
}

.#{settings.$grommet-namespace}text-input--active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.#{settings.$grommet-namespace}text-input__suggestions {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: 0px;
  list-style-type: none;
}

.#{settings.$grommet-namespace}text-input__suggestion {
  padding: tools2.quarter(settings.$inuit-base-spacing-unit) settings.$inuit-base-spacing-unit;
  cursor: pointer;

  &:hover,
  &--active {
    background-color: settings2.$hover-background-color;
  }
}
