@use "sass:list";
@use "settings.color" as settings2;
@use "settings.defaults";

@use "sass:color";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

@mixin graph-stroke-color {
  &.#{settings.$grommet-namespace}color-index-loading {
    stroke: settings2.$unset-color;
    stroke-dasharray: 1px 10px;
    stroke-dashoffset: 0;
  }

  &.#{settings.$grommet-namespace}color-index-unset {
    stroke: settings2.$unset-color;
  }

  &.#{settings.$grommet-namespace}color-index-brand {
    stroke: settings2.$brand-color;
  }

  @each $status, $color in settings2.$brand-status-colors {
    &.#{settings.$grommet-namespace}color-index-#{$status} {
      stroke: $color;
    }
  }

  @for $i from 1 through list.length(settings2.$brand-graph-colors) {
    &.#{settings.$grommet-namespace}color-index-graph-#{$i},
    &.#{settings.$grommet-namespace}color-index-graph-#{$i + list.length(settings2.$brand-graph-colors)} {
      stroke: list.nth(settings2.$brand-graph-colors, $i);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-grey-colors) {
    &.#{settings.$grommet-namespace}color-index-grey-#{$i},
    &.#{settings.$grommet-namespace}color-index-grey-#{$i + list.length(settings2.$brand-grey-colors)} {
      stroke: list.nth(settings2.$brand-grey-colors, $i);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-accent-colors) {
    &.#{settings.$grommet-namespace}color-index-accent-#{$i},
    &.#{settings.$grommet-namespace}color-index-accent-#{$i + list.length(settings2.$brand-accent-colors)} {
      stroke: list.nth(settings2.$brand-accent-colors, $i);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-neutral-colors) {
    &.#{settings.$grommet-namespace}color-index-neutral-#{$i},
    &.#{settings.$grommet-namespace}color-index-neutral-#{$i + list.length(settings2.$brand-neutral-colors)} {
      stroke: list.nth(settings2.$brand-neutral-colors, $i);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-light-colors) {
    &.#{settings.$grommet-namespace}color-index-light-#{$i},
    &.#{settings.$grommet-namespace}color-index-light-#{$i + list.length(settings2.$brand-light-colors)} {
      stroke: list.nth(settings2.$brand-light-colors, $i);
    }
  }
}

@mixin graph-stroke-color-translucent($opacity) {

  &.#{settings.$grommet-namespace}color-index-unset {
    stroke: rgba(settings2.$unset-color, $opacity);
  }

  &.#{settings.$grommet-namespace}color-index-brand {
    stroke: rgba(settings2.$brand-color, $opacity);
  }

  @each $status, $color in settings2.$brand-status-colors {
    &.#{settings.$grommet-namespace}color-index-#{$status} {
      stroke: rgba($color, $opacity);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-graph-colors) {
    &.#{settings.$grommet-namespace}color-index-graph-#{$i},
    &.#{settings.$grommet-namespace}color-index-graph-#{$i + list.length(settings2.$brand-graph-colors)} {
      stroke: rgba(list.nth(settings2.$brand-graph-colors, $i), $opacity);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-accent-colors) {
    &.#{settings.$grommet-namespace}color-index-accent-#{$i},
    &.#{settings.$grommet-namespace}color-index-accent-#{$i + list.length(settings2.$brand-accent-colors)} {
      stroke: rgba(list.nth(settings2.$brand-accent-colors, $i), $opacity);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-grey-colors) {
    &.color-index-grey-#{$i},
    &.color-index-grey-#{$i + list.length(settings2.$brand-grey-colors)} {
      stroke: rgba(list.nth(settings2.$brand-grey-colors, $i), $opacity);
    }
  }
}

@mixin graph-fill-color {
  &.#{settings.$grommet-namespace}color-index-unset {
    fill: settings2.$unset-color;
  }

  &.#{settings.$grommet-namespace}color-index-brand {
    fill: settings2.$brand-color;
  }

  @each $status, $color in settings2.$brand-status-colors {
    &.#{settings.$grommet-namespace}color-index-#{$status} {
      fill: $color;
    }
  }

  @for $i from 1 through list.length(settings2.$brand-graph-colors) {
    &.#{settings.$grommet-namespace}color-index-graph-#{$i},
    &.#{settings.$grommet-namespace}color-index-graph-#{$i + list.length(settings2.$brand-graph-colors)} {
      fill: list.nth(settings2.$brand-graph-colors, $i);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-accent-colors) {
    &.#{settings.$grommet-namespace}color-index-accent-#{$i},
    &.#{settings.$grommet-namespace}color-index-accent-#{$i + list.length(settings2.$brand-accent-colors)} {
      fill: list.nth(settings2.$brand-accent-colors, $i);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-grey-colors) {
    &.#{settings.$grommet-namespace}color-index-grey-#{$i},
    &.#{settings.$grommet-namespace}color-index-grey-#{$i + list.length(settings2.$brand-grey-colors)} {
      fill: list.nth(settings2.$brand-grey-colors, $i);
    }
  }
}

@mixin graph-fill-color-translucent($opacity) {

  &.#{settings.$grommet-namespace}color-index-unset {
    fill: rgba(settings2.$unset-color, $opacity);
  }

  &.#{settings.$grommet-namespace}color-index-brand {
    fill: rgba(settings2.$brand-color, $opacity);
  }

  @each $status, $color in settings2.$brand-status-colors {
    &.#{settings.$grommet-namespace}color-index-#{$status} {
      fill: rgba($color, $opacity);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-graph-colors) {
    &.#{settings.$grommet-namespace}color-index-graph-#{$i},
    &.#{settings.$grommet-namespace}color-index-graph-#{$i + list.length(settings2.$brand-graph-colors)} {
      fill: rgba(list.nth(settings2.$brand-graph-colors, $i), $opacity);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-accent-colors) {
    &.#{settings.$grommet-namespace}color-index-accent-#{$i},
    &.#{settings.$grommet-namespace}color-index-accent-#{$i + list.length(settings2.$brand-accent-colors)} {
      fill: rgba(list.nth(settings2.$brand-accent-colors, $i), $opacity);
    }
  }

  @for $i from 1 through list.length(settings2.$brand-grey-colors) {
    &.color-index-grey-#{$i},
    &.color-index-grey-#{$i + list.length(settings2.$brand-grey-colors)} {
      fill: rgba(list.nth(settings2.$brand-grey-colors, $i), $opacity);
    }
  }
}

@mixin graph-fill-color-gradient() {
  @each $status, $color in settings2.$brand-status-colors {
    &.#{settings.$grommet-namespace}color-index-#{$status} {
      .begin {
        stop-color: $color;
      }

      .mid {
        stop-color: $color;
        stop-opacity: 0.5;
      }

      .end {
        stop-color: $color;
        stop-opacity: 0;
      }
    }
  }

  @for $i from 1 through list.length(settings2.$brand-graph-colors) {
    &.#{settings.$grommet-namespace}color-index-graph-#{$i},
    &.#{settings.$grommet-namespace}color-index-graph-#{$i + list.length(settings2.$brand-graph-colors)} {
      .begin {
        stop-color: list.nth(settings2.$brand-graph-colors, $i);
      }

      .mid {
        stop-color: list.nth(settings2.$brand-graph-colors, $i);
        stop-opacity: 0.5;
      }

      .end {
        stop-color: list.nth(settings2.$brand-graph-colors, $i);
        stop-opacity: 0;
      }
    }
  }
}

@mixin overlayed-text-color {
  &.#{settings.$grommet-namespace}background-color-index-unset {
    @if color.channel(settings2.$unset-color, 'lightness', $space: hsl) < settings2.$colored-text-color-lightness-threshold {
      color: settings2.$active-colored-text-color;
    }
  }

  &.#{settings.$grommet-namespace}background-color-index-brand {
    @if color.channel(settings2.$brand-color, 'lightness', $space: hsl) < settings2.$colored-text-color-lightness-threshold {
      color: settings2.$active-colored-text-color;
    }
  }

  @each $status, $color in settings2.$brand-status-colors {
    &.#{settings.$grommet-namespace}background-color-index-#{$status} {
      @if color.channel($color, 'lightness', $space: hsl) < settings2.$colored-text-color-lightness-threshold {
        color: settings2.$active-colored-text-color;
      }
    }
  }

  @for $i from 1 through list.length(settings2.$brand-neutral-colors) {
    &.#{settings.$grommet-namespace}background-color-index-neutral-#{$i},
    &.#{settings.$grommet-namespace}background-color-index-neutral-#{$i + list.length(settings2.$brand-neutral-colors)} {
      @if color.channel(list.nth(settings2.$brand-neutral-colors, $i), 'lightness', $space: hsl) < settings2.$colored-text-color-lightness-threshold {
        color: settings2.$active-colored-text-color;
      }
    }
  }

  @for $i from 1 through list.length(settings2.$brand-graph-colors) {
    &.#{settings.$grommet-namespace}background-color-index-graph-#{$i},
    &.#{settings.$grommet-namespace}background-color-index-graph-#{$i + list.length(settings2.$brand-graph-colors)} {
      @if color.channel(list.nth(settings2.$brand-graph-colors, $i), 'lightness', $space: hsl) < settings2.$colored-text-color-lightness-threshold {
        color: settings2.$active-colored-text-color;
      }
    }
  }

  @for $i from 1 through list.length(settings2.$brand-accent-colors) {
    &.#{settings.$grommet-namespace}background-color-index-accent-#{$i},
    &.#{settings.$grommet-namespace}background-color-index-accent-#{$i + list.length(settings2.$brand-accent-colors)} {
      @if color.channel(list.nth(settings2.$brand-accent-colors, $i), 'lightness', $space: hsl) < settings2.$colored-text-color-lightness-threshold {
        color: settings2.$active-colored-text-color;
      }
    }
  }

  @for $i from 1 through list.length(settings2.$brand-grey-colors) {
    &.#{settings.$grommet-namespace}background-color-index-grey-#{$i},
    &.#{settings.$grommet-namespace}background-color-index-grey-#{$i + list.length(settings2.$brand-grey-colors)} {
      @if color.channel(list.nth(settings2.$brand-grey-colors, $i), 'lightness', $space: hsl) < settings2.$colored-text-color-lightness-threshold {
        color: settings2.$active-colored-text-color;
      }
    }
  }
}

@mixin background-context-color($light-color, $active-light-color) {
  #{settings2.$dark-background-context} {
    color: settings2.$colored-text-color;

    &:visited {
      color: settings2.$colored-text-color;
    }

    &.active,
    &:hover {
      color: settings2.$active-colored-text-color;
    }
  }

  #{settings2.$light-background-context} {
    color: $light-color;

    &:visited {
      color: $light-color;
    }

    &.active,
    &:hover {
      color: $active-light-color;
    }
  }

  #{settings2.$pending-background-context} {
    color: transparent;

    &:visited,
    &.active,
    &:hover {
      color: transparent;
    }
  }
}
