@use "settings.defaults";
@use "tools.functions";
@use "tools.responsive" as tools2;

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

@mixin vertical-margin {
  &--margin-none {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--margin-small {
    margin-top: tools.halve(settings.$inuit-base-spacing-unit);
    margin-bottom: tools.halve(settings.$inuit-base-spacing-unit);
  }

  &--margin-medium {
    margin-top: settings.$inuit-base-spacing-unit;
    margin-bottom: settings.$inuit-base-spacing-unit;
  }

  &--margin-large {
    margin-top: tools.double(settings.$inuit-base-spacing-unit);
    margin-bottom: tools.double(settings.$inuit-base-spacing-unit);
  }
}

@mixin margin {
  &--margin-none {
    margin: 0px;
  }

  &--margin-small {
    margin: tools.halve(settings.$inuit-base-spacing-unit);
  }

  &--margin-medium {
    margin: settings.$inuit-base-spacing-unit;
  }

  &--margin-large {
    margin: tools.double(settings.$inuit-base-spacing-unit);
  }

  @include tools2.media-query(palm) {
    &--margin-small {
      margin: tools.quarter(settings.$inuit-base-spacing-unit);
    }

    &--margin-medium {
      margin: tools.halve(settings.$inuit-base-spacing-unit);
    }

    &--margin-large {
      margin: settings.$inuit-base-spacing-unit;
    }
  }

  &--margin-horizontal-none {
    margin-left: 0px;
    margin-right: 0px;
  }

  &--margin-horizontal-small {
    margin-left: tools.halve(settings.$inuit-base-spacing-unit);
    margin-right: tools.halve(settings.$inuit-base-spacing-unit);
  }

  &--margin-horizontal-medium {
    margin-left: settings.$inuit-base-spacing-unit;
    margin-right: settings.$inuit-base-spacing-unit;
  }

  &--margin-horizontal-large {
    margin-left: tools.double(settings.$inuit-base-spacing-unit);
    margin-right: tools.double(settings.$inuit-base-spacing-unit);
  }

  @include tools2.media-query(palm) {
    &--margin-horizontal-small {
      margin-left: tools.quarter(settings.$inuit-base-spacing-unit);
      margin-right: tools.quarter(settings.$inuit-base-spacing-unit);
    }

    &--margin-horizontal-medium {
      margin-left: tools.halve(settings.$inuit-base-spacing-unit);
      margin-right: tools.halve(settings.$inuit-base-spacing-unit);
    }

    &--margin-horizontal-large {
      margin-left: settings.$inuit-base-spacing-unit;
      margin-right: settings.$inuit-base-spacing-unit;
    }
  }

  &--margin-vertical-none {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &--margin-vertical-small {
    margin-top: tools.halve(settings.$inuit-base-spacing-unit);
    margin-bottom: tools.halve(settings.$inuit-base-spacing-unit);
  }

  &--margin-vertical-medium {
    margin-top: settings.$inuit-base-spacing-unit;
    margin-bottom: settings.$inuit-base-spacing-unit;
  }

  &--margin-vertical-large {
    margin-top: tools.double(settings.$inuit-base-spacing-unit);
    margin-bottom: tools.double(settings.$inuit-base-spacing-unit);
  }

  @include tools2.media-query(palm) {
    &--margin-vertical-small {
      margin-top: tools.quarter(settings.$inuit-base-spacing-unit);
      margin-bottom: tools.quarter(settings.$inuit-base-spacing-unit);
    }

    &--margin-vertical-medium {
      margin-top: tools.halve(settings.$inuit-base-spacing-unit);
      margin-bottom: tools.halve(settings.$inuit-base-spacing-unit);
    }

    &--margin-vertical-large {
      margin-top: settings.$inuit-base-spacing-unit;
      margin-bottom: settings.$inuit-base-spacing-unit;
    }
  }

  &--margin-left-none {
    margin-left: 0px;
  }

  &--margin-left-small {
    margin-left: tools.halve(settings.$inuit-base-spacing-unit);
  }

  &--margin-left-medium {
    margin-left: settings.$inuit-base-spacing-unit;
  }

  &--margin-left-large {
    margin-left: tools.double(settings.$inuit-base-spacing-unit);
  }

  @include tools2.media-query(palm) {
    &--margin-left-small {
      margin-left: tools.quarter(settings.$inuit-base-spacing-unit);
    }

    &--margin-left-medium {
      margin-left: tools.halve(settings.$inuit-base-spacing-unit);
    }

    &--margin-left-large {
      margin-left: settings.$inuit-base-spacing-unit;
    }
  }

  &--margin-right-none {
    margin-right: 0px;
  }

  &--margin-right-small {
    margin-right: tools.halve(settings.$inuit-base-spacing-unit);
  }

  &--margin-right-medium {
    margin-right: settings.$inuit-base-spacing-unit;
  }

  &--margin-right-large {
    margin-right: tools.double(settings.$inuit-base-spacing-unit);
  }

  @include tools2.media-query(palm) {
    &--margin-right-small {
      margin-right: tools.quarter(settings.$inuit-base-spacing-unit);
    }

    &--margin-right-medium {
      margin-right: tools.halve(settings.$inuit-base-spacing-unit);
    }

    &--margin-right-large {
      margin-right: settings.$inuit-base-spacing-unit;
    }
  }

  &--margin-top-none {
    margin-top: 0px;
  }

  &--margin-top-small {
    margin-top: tools.halve(settings.$inuit-base-spacing-unit);
  }

  &--margin-top-medium {
    margin-top: settings.$inuit-base-spacing-unit;
  }

  &--margin-top-large {
    margin-top: tools.double(settings.$inuit-base-spacing-unit);
  }

  @include tools2.media-query(palm) {
    &--margin-top-small {
      margin-top: tools.quarter(settings.$inuit-base-spacing-unit);
    }

    &--margin-top-medium {
      margin-top: tools.halve(settings.$inuit-base-spacing-unit);
    }

    &--margin-top-large {
      margin-top: settings.$inuit-base-spacing-unit;
    }
  }

  &--margin-bottom-none {
    margin-bottom: 0px;
  }

  &--margin-bottom-small {
    margin-bottom: tools.halve(settings.$inuit-base-spacing-unit);
  }

  &--margin-bottom-medium {
    margin-bottom: settings.$inuit-base-spacing-unit;
  }

  &--margin-bottom-large {
    margin-bottom: tools.double(settings.$inuit-base-spacing-unit);
  }

  @include tools2.media-query(palm) {
    &--margin-bottom-small {
      margin-bottom: tools.quarter(settings.$inuit-base-spacing-unit);
    }

    &--margin-bottom-medium {
      margin-bottom: tools.halve(settings.$inuit-base-spacing-unit);
    }

    &--margin-bottom-large {
      margin-bottom: settings.$inuit-base-spacing-unit;
    }
  }
}
