@use "settings.color" as settings2;
@use "settings.defaults" as settings3;
@use "settings.font";
@use "tools.color-index" as tools3;
@use "tools.mixins";
@use "tools.responsive" as tools2;

// (C) Copyright 2014-2018 Hewlett Packard Enterprise Development LP

// We use mixins for some text styles to make it easier to modularize the
// CSS. For example `.grommet p` uses the same styles as
// `.#{$grommet-namespace}paragraph` while avoiding issues with the
// grommet component not being able to customize styles for various
// flavors without running into prcedence issues with the higher specificity
// of the generic style under `.grommet`.

@mixin text() {
  font-size: settings.$paragraph-font-size;
  font-weight: settings.$text-font-weight;
  line-height: settings.$paragraph-line-height;
  color: settings2.$paragraph-text-color;
}

@mixin paragraph() {
  max-width: settings3.$readable-text-width;
  margin-left: 0px;
  margin-top: settings3.$inuit-base-spacing-unit;
  margin-bottom: settings3.$inuit-base-spacing-unit;
  @include text();
}

@mixin heading() {
  font-weight: settings.$text-font-weight;
  max-width: 100%;

  a,
  .#{settings3.$grommet-namespace}anchor {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

@mixin h1() {
  @include tools2.media-query(lap-and-up) {
    @include tools.inuit-font-size(settings.$h1-font-size, settings.$h1-line-height);
  }
  @include tools2.media-query(palm) {
    @include tools.inuit-font-size(settings.$h1-palm-font-size, settings.$h1-line-height);
  }
}

@mixin h2() {
  @include tools2.media-query(lap-and-up) {
    @include tools.inuit-font-size(settings.$h2-font-size, settings.$h2-line-height);
  }
  @include tools2.media-query(palm) {
    @include tools.inuit-font-size(settings.$h2-palm-font-size, settings.$h2-line-height);
  }
}

@mixin h3() {
  font-size: settings.$h3-font-size;
  line-height: settings.$h3-line-height;
}

@mixin h4() {
  font-size: settings.$h4-font-size;
  line-height: settings.$h4-line-height;
}

@mixin h5() {
  font-size: settings.$h5-font-size;
  line-height: settings.$h5-line-height;
}

@mixin h6() {
  font-size: settings.$h6-font-size;
  line-height: settings.$h6-line-height;
}

@mixin anchor-style() {
  color: settings2.$link-color;
  text-decoration: settings3.$brand-link-text-decoration;
  cursor: pointer;

  &.plain
  &.#{settings3.$grommet-namespace}button {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &:visited {
    color: settings2.$link-color;
  }

  &.active {
    color: settings2.$text-color;
  }

  // While it's tempting to use :not(.anchor--disabled) here, that makes it
  // messier for things like Menu to adjust styling in its context.
  &:hover {
    color: settings2.$link-hover-color;
    text-decoration: underline;
  }

  @include tools3.background-context-color(settings2.$link-color, settings2.$link-hover-color);
}
