@use "sass:list";
@use "settings.defaults";

// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

// A simple mixin to quickly generate whole media queries from the aliases and
// conditions defined in `$breakpoints` (see `_settings.defaults.scss`).
//
// Usage:
//
// .foo {
//     color: green;
//
//     @include media-query(palm) {
//         color: red;
//     }
//
// }
@mixin media-query($mq) {
  $breakpoint-found: false;

  @each $breakpoint in settings.$breakpoints {
    $alias: list.nth($breakpoint, 1);
    $condition: list.nth($breakpoint, 2);

    @if $mq == $alias and $condition {
      $breakpoint-found: true;

      @media #{$condition} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false {
    @warn "Oops! Breakpoint '#{$mq}' does not exist.";
  }
}
